tutoriales71/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employeeservicelivetest" >
      <xs:sequence>
        <xs:element name="app_name" type="xs:string" />
        <xs:element name="wsdl_path" type="xs:string" />
        <xs:element name="service_name" type="xs:anyType" />
        <xs:element name="wsdl" type="xs:anyType" />
        <xs:element name="deployment" type="xs:anyType" />
        <xs:element name="proxy" type="employeeservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carserviceintegrationtest" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="carservicebean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="carservicesingleton" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="carserviceejbsingleton" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletimerbeanlivetest" >
      <xs:sequence>
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="tolerance" type="xs:long" />
        <xs:element name="GeneratedName" type="timereventlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmatictimerbeanlivetest" >
      <xs:sequence>
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="tolerance" type="xs:long" />
        <xs:element name="GeneratedName" type="timereventlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmaticwithfixeddelaytimerbeanlivetest" >
      <xs:sequence>
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="tolerance" type="xs:long" />
        <xs:element name="GeneratedName" type="timereventlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmaticatfixedratetimerbeanlivetest" >
      <xs:sequence>
        <xs:element name="timeout" type="xs:long" />
        <xs:element name="tolerance" type="xs:long" />
        <xs:element name="GeneratedName" type="timereventlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="withinwindowmatcher" >
      <xs:complexContent>
       <xs:extension base="basematcher<long>">
         <xs:sequence>
          <xs:element name="timeout" type="xs:long" />
          <xs:element name="tolerance" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="automatictimerbeanlivetest" >
      <xs:sequence>
        <xs:element name="//the@automatictimerbeanhasamethodcalledevery10seconds//testingthedifference" type="xs:long" />
        <xs:element name="//thetoleranceaccepted,soifbetweentwoconsecutivecallstherehastobeatleast9ormax11seconds.//becausethetimerserviceisnotintendedforreal-timeapplicationssoitwillnotbeexactly10secondstolerance" type="xs:long" />
        <xs:element name="GeneratedName" type="timereventlistener" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arquillianlivetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="component" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="capsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="carejb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convlistvallivetest" >
      <xs:sequence>
        <xs:element name="deployment" type="xs:anyType" />
        <xs:element name="webapp_src" type="xs:string" />
        <xs:element name="browser" type="xs:anyType" />
        <xs:element name="contextpath" type="xs:anyType" />
        <xs:element name="ageinput" type="xs:anyType" />
        <xs:element name="averageinput" type="xs:anyType" />
        <xs:element name="sendbutton" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleerrorchunkunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplebatchletunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customcheckpointunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jobsequenceunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplechunkunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batchtesthelper" >
      <xs:sequence>
        <xs:element name="max_tries" type="xs:long" />
        <xs:element name="thread_sleep" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonunittest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="dateformat" type="xs:anyType" />
        <xs:element name="personjson" type="xs:string" />
        <xs:element name="petshopjson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplejobsequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flowjobsequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleerrorskipchunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="splitjobsequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="partitionsimplebatchlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customcheckpoint" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplechunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simpleerrorchunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="decidejobsequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="injectionsimplebatchlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplebatchlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convlistval" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="type" type="xs:string" />
        <xs:element name="model" type="xs:string" />
        <xs:element name="serviced" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carservicebean" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carserviceejbsingleton" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="servicequeue" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carservicesingleton" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="servicequeue" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservlet" >
      <xs:complexContent>
       <xs:extension base="javax.servlet.http.httpservlet">
         <xs:sequence>
          <xs:element name="accounttype" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="uploadcustomerdocumentsservlet" >
      <xs:complexContent>
       <xs:extension base="httpservlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bankappservletcontextlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="injectsimplebatchlet" >
      <xs:complexContent>
       <xs:extension base="abstractbatchlet">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="step" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="job" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplechunkwriter" >
      <xs:complexContent>
       <xs:extension base="abstractitemwriter">
         <xs:sequence>
          <xs:element name="processed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplechunkitemreadererror" >
      <xs:complexContent>
       <xs:extension base="abstractitemreader">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="tokens" type="xs:anyType" />
          <xs:element name="count" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplebatchlet" >
      <xs:complexContent>
       <xs:extension base="abstractbatchlet">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customcheckpoint" >
      <xs:complexContent>
       <xs:extension base="abstractcheckpointalgorithm">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="counterread" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deciderjobsequence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplechunkitemreader" >
      <xs:complexContent>
       <xs:extension base="abstractitemreader">
         <xs:sequence>
          <xs:element name="tokens" type="xs:anyType" />
          <xs:element name="count" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myskipprocessorlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myretryprocessorlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myretryreadlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myitemwriter" >
      <xs:complexContent>
       <xs:extension base="abstractitemwriter">
         <xs:sequence>
          <xs:element name="retries" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myskipwritelistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myinputrecord" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myitemprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myitemreader" >
      <xs:complexContent>
       <xs:extension base="abstractitemreader">
         <xs:sequence>
          <xs:element name="tokens" type="xs:anyType" />
          <xs:element name="lastelement" type="myinputrecord" nillable="true" minOccurs="0" />
          <xs:element name="alreadyfailed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myretrywritelistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myoutputrecord" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myskipreadlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplechunkitemprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="chunkexceptionskipreadlistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personbuilder" >
      <xs:sequence>
        <xs:element name="json" type="xs:string" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personwriter" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="birth" type="xs:dateTime" />
        <xs:element name="emails" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mylistener" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="convlistval" >
      <xs:sequence>
        <xs:element name="age" type="xs:anyType" />
        <xs:element name="average" type="xs:double" />
        <xs:element name="my" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="surname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scheduletimerbean" >
      <xs:sequence>
        <xs:element name="event" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="automatictimerbean" >
      <xs:sequence>
        <xs:element name="event" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fixeddelaytimerbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="workerbean" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmatictimerbean" >
      <xs:sequence>
        <xs:element name="event" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timereventlistener" >
      <xs:sequence>
        <xs:element name="events" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timerevent" >
      <xs:sequence>
        <xs:element name="eventinfo" type="xs:string" />
        <xs:element name="time" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmaticatfixedratetimerbean" >
      <xs:sequence>
        <xs:element name="event" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="workerbean" >
      <xs:sequence>
        <xs:element name="busy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="programmaticwithinitialfixeddelaytimerbean" >
      <xs:sequence>
        <xs:element name="event" type="timerevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicetopdown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice_service" >
      <xs:complexContent>
       <xs:extension base="service">
         <xs:sequence>
          <xs:element name="employeeservice_wsdl_location" type="xs:anyType" />
          <xs:element name="employeeservice_exception" type="xs:anyType" />
          <xs:element name="employeeservice_" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updateemployee" >
      <xs:sequence>
        <xs:element name="arg0" type="xs:long" />
        <xs:element name="arg1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getemployee" >
      <xs:sequence>
        <xs:element name="arg0" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countemployees" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeealreadyexists_exception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***javatypethatgoesassoapenv:faultdetailelement.*/faultinfo" type="employeealreadyexists" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="countemployeesresponse" >
      <xs:sequence>
        <xs:element name="_return" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateemployeeresponse" >
      <xs:sequence>
        <xs:element name="_return" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getallemployees" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addemployeeresponse" >
      <xs:sequence>
        <xs:element name="_return" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getemployeeresponse" >
      <xs:sequence>
        <xs:element name="_return" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeenotfound" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeealreadyexists" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectfactory" >
      <xs:sequence>
        <xs:element name="_addemployeeresponse_" type="xs:anyType" />
        <xs:element name="_employeealreadyexists_" type="xs:anyType" />
        <xs:element name="_getemployeeresponse_" type="xs:anyType" />
        <xs:element name="_employeenotfound_" type="xs:anyType" />
        <xs:element name="_countemployees_" type="xs:anyType" />
        <xs:element name="_updateemployee_" type="xs:anyType" />
        <xs:element name="_deleteemployeeresponse_" type="xs:anyType" />
        <xs:element name="_getallemployeesresponse_" type="xs:anyType" />
        <xs:element name="_deleteemployee_" type="xs:anyType" />
        <xs:element name="_updateemployeeresponse_" type="xs:anyType" />
        <xs:element name="_addemployee_" type="xs:anyType" />
        <xs:element name="_getallemployees_" type="xs:anyType" />
        <xs:element name="_countemployeesresponse_" type="xs:anyType" />
        <xs:element name="_getemployee_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteemployee" >
      <xs:sequence>
        <xs:element name="arg0" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deleteemployeeresponse" >
      <xs:sequence>
        <xs:element name="_return" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addemployee" >
      <xs:sequence>
        <xs:element name="arg0" type="xs:long" />
        <xs:element name="arg1" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getallemployeesresponse" >
      <xs:sequence>
        <xs:element name="_return" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeenotfound_exception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="/***javatypethatgoesassoapenv:faultdetailelement.*/faultinfo" type="employeenotfound" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeenotfound" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeealreadyexists" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeserviceimpl" >
      <xs:sequence>
        <xs:element name="impl" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeerepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeerepositoryimpl" >
      <xs:sequence>
        <xs:element name="employeelist" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicepublisher" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicetopdownimpl" >
      <xs:sequence>
        <xs:element name="impl" type="employeerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicetopdown_service" >
      <xs:complexContent>
       <xs:extension base="service">
         <xs:sequence>
          <xs:element name="employeeservicetopdown_wsdl_location" type="xs:anyType" />
          <xs:element name="employeeservicetopdown_exception" type="xs:anyType" />
          <xs:element name="employeeservicetopdown_" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectfactory" >
      <xs:sequence>
        <xs:element name="_countemployeesresponse_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeeservicetopdown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="capsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="capsconvertor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carejb" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="converttolowercase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="capsconvertor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 