tutoriales43/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="testemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetimezonetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="datetimewrapperrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="datetimewrapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="timeformatter" type="xs:anyType" />
        <xs:element name="dateformatter" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurertestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="webconfigurer" nillable="true" minOccurs="0" />
        <xs:element name="servletcontext" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="props" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockauthenticationmanager" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="roles" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityutilsunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainuserdetailsserviceinttest" >
      <xs:sequence>
        <xs:element name="user_one_login" type="xs:string" />
        <xs:element name="user_one_email" type="xs:string" />
        <xs:element name="user_two_login" type="xs:string" />
        <xs:element name="user_two_email" type="xs:string" />
        <xs:element name="user_three_login" type="xs:string" />
        <xs:element name="user_three_email" type="xs:string" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="domain" type="xs:anyType" />
        <xs:element name="one" type="user" nillable="true" minOccurs="0" />
        <xs:element name="two" type="user" nillable="true" minOccurs="0" />
        <xs:element name="three" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenprovidertest" >
      <xs:sequence>
        <xs:element name="one_minute" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="tokenprovider" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtfiltertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="jwtfilter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimewrapperrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<datetimewrapper,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datetimewrapper" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauditeventrepositoryinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditeventconverter" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="testuserevent" type="persistentauditevent" nillable="true" minOccurs="0" />
        <xs:element name="testotheruserevent" type="persistentauditevent" nillable="true" minOccurs="0" />
        <xs:element name="testolduserevent" type="persistentauditevent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userjwtcontrollerinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginationutilunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testutil" >
      <xs:complexContent>
       <xs:extension base="typesafediagnosingmatcher<string>">
         <xs:sequence>
          <xs:element name="mapper" type="xs:anyType" />
          <xs:element name="/***forjsonutf8*/application_json_utf8" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptiontranslatorinttest" >
      <xs:sequence>
        <xs:element name="controller" type="exceptiontranslatortestcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptiontranslatortestcontroller" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accountresourceinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="httpmessageconverters" type="xs:anyType" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="mailservice" nillable="true" minOccurs="0" />
        <xs:element name="restmvc" type="xs:anyType" />
        <xs:element name="restuser" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookresourceinttest" >
      <xs:sequence>
        <xs:element name="default_title" type="xs:string" />
        <xs:element name="updated_title" type="xs:string" />
        <xs:element name="default_author" type="xs:string" />
        <xs:element name="updated_author" type="xs:string" />
        <xs:element name="default_published" type="xs:anyType" />
        <xs:element name="updated_published" type="xs:anyType" />
        <xs:element name="default_quantity" type="xs:anyType" />
        <xs:element name="updated_quantity" type="xs:anyType" />
        <xs:element name="default_price" type="xs:double" />
        <xs:element name="updated_price" type="xs:double" />
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="pageableargumentresolver" type="xs:anyType" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="restbook" type="xs:anyType" />
        <xs:element name="GeneratedName" type="book" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresourceinttest" >
      <xs:sequence>
        <xs:element name="default_login" type="xs:string" />
        <xs:element name="updated_login" type="xs:string" />
        <xs:element name="default_id" type="xs:long" />
        <xs:element name="default_password" type="xs:string" />
        <xs:element name="updated_password" type="xs:string" />
        <xs:element name="default_email" type="xs:string" />
        <xs:element name="updated_email" type="xs:string" />
        <xs:element name="default_firstname" type="xs:string" />
        <xs:element name="updated_firstname" type="xs:string" />
        <xs:element name="default_lastname" type="xs:string" />
        <xs:element name="updated_lastname" type="xs:string" />
        <xs:element name="default_imageurl" type="xs:string" />
        <xs:element name="updated_imageurl" type="xs:string" />
        <xs:element name="default_langkey" type="xs:string" />
        <xs:element name="updated_langkey" type="xs:string" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usermapper" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="pageableargumentresolver" type="xs:anyType" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="restuser" type="xs:anyType" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsresourceinttest" >
      <xs:sequence>
        <xs:element name="restlogs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditresourceinttest" >
      <xs:sequence>
        <xs:element name="sample_principal" type="xs:string" />
        <xs:element name="sample_type" type="xs:string" />
        <xs:element name="sample_timestamp" type="xs:anyType" />
        <xs:element name="seconds_per_day" type="xs:long" />
        <xs:element name="auditeventrepository" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditeventconverter" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="pageableargumentresolver" type="xs:anyType" />
        <xs:element name="auditevent" type="persistentauditevent" nillable="true" minOccurs="0" />
        <xs:element name="restaudit" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailserviceinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="templateengine" type="xs:anyType" />
        <xs:element name="javamailsender" type="xs:anyType" />
        <xs:element name="messagecaptor" type="xs:anyType" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermappertest" >
      <xs:sequence>
        <xs:element name="default_login" type="xs:string" />
        <xs:element name="GeneratedName" type="usermapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdto" nillable="true" minOccurs="0" />
        <xs:element name="default_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app.constants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user.model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account.model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profile-info.model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activate.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user-management-delete-dialog.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logs.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log.model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docs.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="audit-data.model" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metrics.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configuration.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="health.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="health-modal.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pagination.constants" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book-detail.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book-delete-dialog.component" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationwebxml" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="tokenprovider" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="problemsupport" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="//regexforacceptableloginslogin_regex" type="xs:string" />
        <xs:element name="system_account" type="xs:string" />
        <xs:element name="anonymous_user" type="xs:string" />
        <xs:element name="default_language" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditeventconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clouddatabaseconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstractcloudconfig">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="cloud_configuration_hikari_prefix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loggingaspectconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultprofileutil" >
      <xs:sequence>
        <xs:element name="spring_profile_default" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibaseconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="asyncconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeformatconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationproperties" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacksonconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localeconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingconfiguration" >
      <xs:complexContent>
       <xs:extension base="contextawarebase">
         <xs:sequence>
          <xs:element name="logstash_appender_name" type="xs:string" />
          <xs:element name="async_logstash_appender_name" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="appname" type="xs:string" />
          <xs:element name="serverport" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceauditeventrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<persistentauditevent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authority,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauditeventrepository" >
      <xs:sequence>
        <xs:element name="authorization_failure" type="xs:string" />
        <xs:element name="/***shouldbethesameasinliquibasemigration.*/event_data_column_max_length" type="xs:long" />
        <xs:element name="GeneratedName" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditeventconverter" nillable="true" minOccurs="0" />
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="published" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractauditingentity">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="activated" type="xs:anyType" />
          <xs:element name="langkey" type="xs:string" />
          <xs:element name="imageurl" type="xs:string" />
          <xs:element name="activationkey" type="xs:string" />
          <xs:element name="resetkey" type="xs:string" />
          <xs:element name="resetdate" type="xs:anyType" />
          <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistentauditevent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="principal" type="xs:string" />
        <xs:element name="auditeventdate" type="xs:anyType" />
        <xs:element name="auditeventtype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractauditingentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="xs:string" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainuserdetailsservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityauditoraware" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jwtconfigurer" >
      <xs:complexContent>
       <xs:extension base="securityconfigureradapter<defaultsecurityfilterchain,">
         <xs:sequence>
          <xs:element name="" type="tokenprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tokenprovider" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="authorities_key" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="tokenvalidityinmilliseconds" type="xs:long" />
          <xs:element name="tokenvalidityinmillisecondsforrememberme" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jwtfilter" >
      <xs:complexContent>
       <xs:extension base="genericfilterbean">
         <xs:sequence>
          <xs:element name="authorization_header" type="xs:string" />
          <xs:element name="" type="tokenprovider" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthenticationmanager" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="remote_login_url" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usernotactivatedexception" >
      <xs:complexContent>
       <xs:extension base="authenticationexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authoritiesconstants" >
      <xs:sequence>
        <xs:element name="admin" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="anonymous" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginrequest" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginresponse" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookmapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="randomutil" >
      <xs:sequence>
        <xs:element name="def_count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditeventservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditeventconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordchangedto" >
      <xs:sequence>
        <xs:element name="currentpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="imageurl" type="xs:string" />
        <xs:element name="activated" type="xs:anyType" />
        <xs:element name="langkey" type="xs:string" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="xs:string" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
        <xs:element name="authorities" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookdto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
        <xs:element name="published" type="xs:anyType" />
        <xs:element name="quantity" type="xs:anyType" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="base_url" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="templateengine" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmapper" >
      <xs:complexContent>
       <xs:extension base="entitymapper<bookdto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="keyandpasswordvm" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginvm" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="rememberme" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggervm" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="level" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manageduservm" >
      <xs:complexContent>
       <xs:extension base="userdto">
         <xs:sequence>
          <xs:element name="password_min_length" type="xs:long" />
          <xs:element name="password_max_length" type="xs:long" />
          <xs:element name="password" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="entity_name" type="xs:string" />
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailalreadyusedexception" >
      <xs:complexContent>
       <xs:extension base="badrequestalertexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="errorconstants" >
      <xs:sequence>
        <xs:element name="err_concurrency_failure" type="xs:string" />
        <xs:element name="err_validation" type="xs:string" />
        <xs:element name="problem_base_url" type="xs:string" />
        <xs:element name="default_type" type="xs:anyType" />
        <xs:element name="constraint_violation_type" type="xs:anyType" />
        <xs:element name="parameterized_type" type="xs:anyType" />
        <xs:element name="entity_not_found_type" type="xs:anyType" />
        <xs:element name="invalid_password_type" type="xs:anyType" />
        <xs:element name="email_already_used_type" type="xs:anyType" />
        <xs:element name="login_already_used_type" type="xs:anyType" />
        <xs:element name="email_not_found_type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fielderrorvm" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="objectname" type="xs:string" />
        <xs:element name="field" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidpasswordexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptiontranslator" >
      <xs:sequence>
        <xs:element name="field_errors_key" type="xs:string" />
        <xs:element name="message_key" type="xs:string" />
        <xs:element name="path_key" type="xs:string" />
        <xs:element name="violations_key" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginalreadyusedexception" >
      <xs:complexContent>
       <xs:extension base="badrequestalertexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internalservererrorexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customparameterizedexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="param" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestalertexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="errorkey" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userjwtcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="tokenprovider" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="auditeventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headerutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="application_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookstoreapp" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspect" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sonar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="master" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users_authorities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creationemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activationemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresetemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-spring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 