testjenkins4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="sqlmapclientcallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmapclienttemplate" >
      <xs:complexContent>
       <xs:extension base="jdbcaccessor">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmapclientoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlmapclientfactorybean" >
      <xs:complexContent>
       <xs:extension base="sqlmapclient>">
         <xs:sequence>
          <xs:element name="configtimelobhandlerholder" type="xs:anyType" />
          <xs:element name="configlocations" type="xs:anyType" />
          <xs:element name="mappinglocations" type="xs:anyType" />
          <xs:element name="sqlmapclient" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="usetransactionawaredatasource" type="xs:anyType" />
          <xs:element name="transactionconfig" type="xs:anyType" />
          <xs:element name="transactionconfig" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobbytearraytypehandler" >
      <xs:complexContent>
       <xs:extension base="abstractlobtypehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clobstringtypehandler" >
      <xs:complexContent>
       <xs:extension base="abstractlobtypehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlmapclientdaosupport" >
      <xs:complexContent>
       <xs:extension base="daosupport">
         <xs:sequence>
          <xs:element name="" type="sqlmapclienttemplate" nillable="true" minOccurs="0" />
          <xs:element name="externaltemplate" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractlobtypehandler" >
      <xs:complexContent>
       <xs:extension base="basetypehandler">
         <xs:sequence>
          <xs:element name="/***ordervaluefortransactionsynchronizationobjectsthatcleanuplobcreators.*returndatasourceutils.#connection_synchronization_order-100toexecute*lobcreatorcleanupbeforejdbcconnectioncleanup,ifany.*@seeorg.springframework.jdbc.datasource.datasourceutils#connection_synchronization_order*/lob_creator_synchronization_order" type="xs:long" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobserializabletypehandler" >
      <xs:complexContent>
       <xs:extension base="abstractlobtypehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpadialect" >
      <xs:complexContent>
       <xs:extension base="persistenceexceptiontranslator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerplusoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toplinkjpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="abstractjpavendoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eclipselinkjpadialect" >
      <xs:complexContent>
       <xs:extension base="defaultjpadialect">
         <xs:sequence>
          <xs:element name="lazydatabasetransaction" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eclipselinkjpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="abstractjpavendoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="database" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openjpadialect" >
      <xs:complexContent>
       <xs:extension base="defaultjpadialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="toplinkjpadialect" >
      <xs:complexContent>
       <xs:extension base="defaultjpadialect">
         <xs:sequence>
          <xs:element name="lazydatabasetransaction" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatejpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="abstractjpavendoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactory>">
         <xs:sequence>
          <xs:element name="" type="database" nillable="true" minOccurs="0" />
          <xs:element name="databaseplatform" type="xs:string" />
          <xs:element name="generateddl" type="xs:anyType" />
          <xs:element name="showsql" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatejpadialect" >
      <xs:complexContent>
       <xs:extension base="defaultjpadialect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openjpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="abstractjpavendoradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jpadialect" type="openjpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryutils" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***ordervaluefortransactionsynchronizationobjectsthatcleanupjpa*entitymanagers.returndatasourceutils.connection_synchronization_order-100*toexecuteentitymanagercleanupbeforejdbcconnectioncleanup,ifany.*@seeorg.springframework.jdbc.datasource.datasourceutils#connection_synchronization_order*/entity_manager_synchronization_order" type="xs:long" />
          <xs:element name="ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerplus" >
      <xs:complexContent>
       <xs:extension base="entitymanager,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultjpadialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentitymanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactory>">
         <xs:sequence>
          <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="persistenceunitname" type="xs:string" />
          <xs:element name="jpapropertymap" type="xs:anyType" />
          <xs:element name="entitymanagerfactoryinterface" type="xs:anyType" />
          <xs:element name="entitymanagerinterface" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
          <xs:element name="" type="jpavendoradapter" nillable="true" minOccurs="0" />
          <xs:element name="bean" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="beanname" type="xs:string" />
          <xs:element name="/***rawasreturnedbythepersistenceprovider*/native" type="xs:anyType" />
          <xs:element name="plusoperations" type="entitymanagerfactoryplusoperations" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceunitreader" >
      <xs:sequence>
        <xs:element name="persistence_unit" type="xs:string" />
        <xs:element name="unit_name" type="xs:string" />
        <xs:element name="mapping_file_name" type="xs:string" />
        <xs:element name="jar_file_url" type="xs:string" />
        <xs:element name="managed_class_name" type="xs:string" />
        <xs:element name="properties" type="xs:string" />
        <xs:element name="provider" type="xs:string" />
        <xs:element name="transaction_type" type="xs:string" />
        <xs:element name="jta_data_source" type="xs:string" />
        <xs:element name="non_jta_data_source" type="xs:string" />
        <xs:element name="exclude_unlisted_classes" type="xs:string" />
        <xs:element name="shared_cache_mode" type="xs:string" />
        <xs:element name="validation_mode" type="xs:string" />
        <xs:element name="meta_inf" type="xs:string" />
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitpostprocessor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultpersistenceunitmanager" >
      <xs:complexContent>
       <xs:extension base="enum>">
         <xs:sequence>
          <xs:element name="file:*"classpath*:meta-inf/persistence.xml".*/default_persistence_xml_location" type="xs:string" />
          <xs:element name="/***defaultlocationforthepersistenceunitrooturl:*"classpath:",indicatingtherootoftheclasspath.*/original_default_persistence_unit_root_location" type="xs:string" />
          <xs:element name="jpa2apipresent" type="xs:anyType" />
          <xs:element name="persistencexmllocations" type="xs:string" />
          <xs:element name="defaultpersistenceunitrootlocation" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="default" type="xs:anyType" />
          <xs:element name="s" type="persistenceunitpostprocessor" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="persistenceunitinfonames" type="xs:anyType" />
          <xs:element name="persistenceunitinfos" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classfiletransformeradapter" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mutablepersistenceunitinfo" >
      <xs:sequence>
        <xs:element name="persistenceunitname" type="xs:string" />
        <xs:element name="persistenceproviderclassname" type="xs:string" />
        <xs:element name="transactiontype" type="xs:anyType" />
        <xs:element name="nonjta" type="xs:anyType" />
        <xs:element name="jta" type="xs:anyType" />
        <xs:element name="mappingfilenames" type="xs:anyType" />
        <xs:element name="jarfileurls" type="xs:anyType" />
        <xs:element name="persistenceunitroot" type="xs:anyType" />
        <xs:element name="managedclassnames" type="xs:anyType" />
        <xs:element name="excludeunlistedclasses" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="persistencexmlschemaversion" type="xs:string" />
        <xs:element name="persistenceproviderpackagename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceunitmanager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springpersistenceunitinfo" >
      <xs:complexContent>
       <xs:extension base="mutablepersistenceunitinfo">
         <xs:sequence>
          <xs:element name="default_shared_cache_mode_name" type="xs:string" />
          <xs:element name="default_validation_mode_name" type="xs:string" />
          <xs:element name="sharedcachemodename" type="xs:string" />
          <xs:element name="validationmodename" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="smartpersistenceunitinfo" >
      <xs:complexContent>
       <xs:extension base="persistenceunitinfo">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatransactionmanager" >
      <xs:complexContent>
       <xs:extension base="abstractplatformtransactionmanager">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="jpapropertymap" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryplusoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extendedentitymanagercreator" >
      <xs:complexContent>
       <xs:extension base="entitymanager>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localcontainerentitymanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybean">
         <xs:sequence>
          <xs:element name="" type="persistenceunitmanager" nillable="true" minOccurs="0" />
          <xs:element name="internalpersistenceunitmanager" type="defaultpersistenceunitmanager" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpacallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerholder" >
      <xs:complexContent>
       <xs:extension base="resourceholdersupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transactionactive" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatemplate" >
      <xs:complexContent>
       <xs:extension base="jpaaccessor">
         <xs:sequence>
          <xs:element name="exposenativeentitymanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryaccessor" >
      <xs:sequence>
        <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jpapropertymap" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryplus" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sharedentitymanagercreator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpasystemexception" >
      <xs:complexContent>
       <xs:extension base="uncategorizeddataaccessexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaobjectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectretrievalfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localentitymanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybean">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryinfo" >
      <xs:complexContent>
       <xs:extension base="entitymanager>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpainterceptor" >
      <xs:complexContent>
       <xs:extension base="jpaaccessor">
         <xs:sequence>
          <xs:element name="exceptionconversionenabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaoptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectoptimisticlockingfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerproxy" >
      <xs:complexContent>
       <xs:extension base="entitymanager">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpadaosupport" >
      <xs:complexContent>
       <xs:extension base="daosupport">
         <xs:sequence>
          <xs:element name="" type="jpatemplate" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openentitymanagerinviewfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="default_persistence_manager_factory_bean_name" type="xs:string" />
          <xs:element name="entitymanagerfactorybeanname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sharedentitymanagerbean" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactoryaccessor">
         <xs:sequence>
          <xs:element name="entitymanagerinterface" type="xs:anyType" />
          <xs:element name="shared" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openentitymanagerinviewinterceptor" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactoryaccessor">
         <xs:sequence>
          <xs:element name="/***suffixthatgetsappendedtotheentitymanagerfactoryto*representationforthe"participateinexistingentitymanager*handling"requestattribute.*@see#getparticipateattributename*/participate_suffix" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceannotationbeanpostprocessor" >
      <xs:complexContent>
       <xs:extension base="injectionmetadata.injectedelement">
         <xs:sequence>
          <xs:element name="jndienvironment" type="xs:anyType" />
          <xs:element name="resourceref" type="xs:anyType" />
          <xs:element name="persistenceunits" type="xs:anyType" />
          <xs:element name="persistencecontexts" type="xs:anyType" />
          <xs:element name="extendedpersistencecontexts" type="xs:anyType" />
          <xs:element name="transientdefaultpersistenceunitname" type="xs:string" />
          <xs:element name="order" type="xs:long" />
          <xs:element name="transientbeanfactory" type="xs:anyType" />
          <xs:element name="injectionmetadatacache" type="xs:anyType" />
          <xs:element name="extendedentitymanagerstoclose" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpavendoradapter" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactory>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaaccessor" >
      <xs:complexContent>
       <xs:extension base="entitymanagerfactoryaccessor">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jpadialect" nillable="true" minOccurs="0" />
          <xs:element name="flusheager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typedefinitionbean" >
      <xs:sequence>
        <xs:element name="typename" type="xs:string" />
        <xs:element name="typeclass" type="xs:string" />
        <xs:element name="parameters" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatesystemexception" >
      <xs:complexContent>
       <xs:extension base="uncategorizeddataaccessexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationsessionfactorybean" >
      <xs:complexContent>
       <xs:extension base="localsessionfactorybean">
         <xs:sequence>
          <xs:element name="resource_pattern" type="xs:string" />
          <xs:element name="annotatedes" type="xs:anyType" />
          <xs:element name="annotatedpackages" type="xs:string" />
          <xs:element name="packagestoscan" type="xs:string" />
          <xs:element name="entitys" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatejdbcexception" >
      <xs:complexContent>
       <xs:extension base="uncategorizeddataaccessexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateaccessor" >
      <xs:sequence>
        <xs:element name="incaseofanexistingsession,flush_neverwillturntheflushmode*toneverforthescopeofthecurrentoperation,resettingtheprevious*flushmodeafterwards.*@see#setflushmode*/flush_never" type="xs:long" />
        <xs:element name="incaseofanexistingsession,flush_autowillparticipateinthe*existingflushmode,notmodifyingitforthecurrentoperation.*thisinparticularmeansthatthissettingwillnotmodifyanexisting*flushmodenever,incontrasttoflush_eager.*@see#setflushmode*/flush_auto" type="xs:long" />
        <xs:element name="incaseofanexistingsession,flush_eagerwillturntheflushmode*toautoforthescopeofthecurrentoperationandissueaflushatthe*end,resettingthepreviousflushmodeafterwards.*@see#setflushmode*/flush_eager" type="xs:long" />
        <xs:element name="incaseofanexistingsession,flush_commitwillturntheflushmode*tocommitforthescopeofthecurrentoperation,resettingtheprevious*flushmodeafterwards.theonlyexceptionisanexistingflushmode*never,whichwillnotbemodifiedthroughthissetting.*@see#setflushmode*/flush_commit" type="xs:long" />
        <xs:element name="incaseofanexistingsession,flush_alwayswillturntheflushmode*toalwaysforthescopeofthecurrentoperation,resettingtheprevious*flushmodeafterwards.*@see#setflushmode*/flush_always" type="xs:long" />
        <xs:element name="/***instanceforhibernateaccessor*/" type="xs:anyType" />
        <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="entityinterceptor" type="xs:anyType" />
        <xs:element name="jdbcexceptiontranslator" type="xs:anyType" />
        <xs:element name="defaultjdbcexceptiontranslator" type="xs:anyType" />
        <xs:element name="flushmode" type="xs:long" />
        <xs:element name="filternames" type="xs:string" />
        <xs:element name="/***justneededforentityinterceptorbeanname.*@see#setentityinterceptorbeanname*/" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionholder" >
      <xs:complexContent>
       <xs:extension base="resourceholdersupport">
         <xs:sequence>
          <xs:element name="default_key" type="xs:anyType" />
          <xs:element name="sessionmap" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="previous" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localdatasourceconnectionprovider" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="touse" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsessionsynchronization" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionholder" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jdbcexceptiontranslator" type="xs:anyType" />
        <xs:element name="newsession" type="xs:anyType" />
        <xs:element name="/***whetherhibernatehasalooked-upjtatransactionmanagerthatitwill*automaticallyregistercachesynchronizationswithonsessionconnect.*/hibernatetransactioncompletion" type="xs:anyType" />
        <xs:element name="jta" type="xs:anyType" />
        <xs:element name="holderactive" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatequeryexception" >
      <xs:complexContent>
       <xs:extension base="invaliddataaccessresourceusageexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localcacheproviderproxy" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateoptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectoptimisticlockingfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springsessioncontext" >
      <xs:sequence>
        <xs:element name="sessionfactory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterdefinitionfactorybean" >
      <xs:sequence>
        <xs:element name="filtername" type="xs:string" />
        <xs:element name="parametertypemap" type="xs:anyType" />
        <xs:element name="defaultfiltercondition" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionawaredatasourceconnectionprovider" >
      <xs:complexContent>
       <xs:extension base="localdatasourceconnectionprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobstringtype" >
      <xs:complexContent>
       <xs:extension base="abstractlobtype">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idtransferringmergeeventlistener" >
      <xs:complexContent>
       <xs:extension base="defaultmergeeventlistener">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="opensessioninviewfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="default_session_factory_bean_name" type="xs:string" />
          <xs:element name="sessionfactorybeanname" type="xs:string" />
          <xs:element name="singlesession" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatedaosupport" >
      <xs:complexContent>
       <xs:extension base="daosupport">
         <xs:sequence>
          <xs:element name="" type="hibernatetemplate" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractlobtype" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="jta" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scopedbeaninterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="opensessioninviewinterceptor" >
      <xs:complexContent>
       <xs:extension base="hibernateaccessor">
         <xs:sequence>
          <xs:element name="representationforthe"participateinexisting*sessionhandling"requestattribute.*@see#getparticipateattributename*/participate_suffix" type="xs:string" />
          <xs:element name="singlesession" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clobstringtype" >
      <xs:complexContent>
       <xs:extension base="abstractlobtype">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="blobserializabletype" >
      <xs:complexContent>
       <xs:extension base="abstractlobtype">
         <xs:sequence>
          <xs:element name="ifaserializedobjectislargerthanthese1024bytes,thesizeof*thebytearrayusedbytheoutputstreamwillbedoubledeachtimethe*limitisreached.*/output_byte_array_initial_size" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blobbytearraytype" >
      <xs:complexContent>
       <xs:extension base="abstractlobtype">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localregionfactoryproxy" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localsessionfactorybean" >
      <xs:complexContent>
       <xs:extension base="abstractsessionfactorybean">
         <xs:sequence>
          <xs:element name="configtimedatasourceholder" type="xs:anyType" />
          <xs:element name="configtimetransactionmanagerholder" type="xs:anyType" />
          <xs:element name="configtimeregionfactoryholder" type="xs:anyType" />
          <xs:element name="configtimecacheproviderholder" type="xs:anyType" />
          <xs:element name="configtimelobhandlerholder" type="xs:anyType" />
          <xs:element name="configurationclass" type="xs:anyType" />
          <xs:element name="configlocations" type="xs:anyType" />
          <xs:element name="mappingresources" type="xs:string" />
          <xs:element name="mappinglocations" type="xs:anyType" />
          <xs:element name="cacheablemappinglocations" type="xs:anyType" />
          <xs:element name="mappingjarlocations" type="xs:anyType" />
          <xs:element name="mappingdirectorylocations" type="xs:anyType" />
          <xs:element name="hibernate" type="xs:anyType" />
          <xs:element name="jta" type="xs:anyType" />
          <xs:element name="cacheregionfactory" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="entity" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="typedefinitions" type="typedefinitionbean" nillable="true" minOccurs="0" />
          <xs:element name="s" type="xs:anyType" />
          <xs:element name="entitycachestrategies" type="xs:anyType" />
          <xs:element name="collectioncachestrategies" type="xs:anyType" />
          <xs:element name="eventlisteners" type="xs:anyType" />
          <xs:element name="schemaupdate" type="xs:anyType" />
          <xs:element name="bean" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localjtadatasourceconnectionprovider" >
      <xs:complexContent>
       <xs:extension base="localdatasourceconnectionprovider">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatecallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetemplate" >
      <xs:complexContent>
       <xs:extension base="hibernateaccessor">
         <xs:sequence>
          <xs:element name="allowcreate" type="xs:anyType" />
          <xs:element name="alwaysusenewsession" type="xs:anyType" />
          <xs:element name="exposenativesession" type="xs:anyType" />
          <xs:element name="checkwriteoperations" type="xs:anyType" />
          <xs:element name="cachequeries" type="xs:anyType" />
          <xs:element name="querycacheregion" type="xs:string" />
          <xs:element name="fetchsize" type="xs:long" />
          <xs:element name="maxresults" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateoperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localtransactionmanagerlookup" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springtransactionfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetransactionmanager" >
      <xs:complexContent>
       <xs:extension base="abstractplatformtransactionmanager">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="autodetectdatasource" type="xs:anyType" />
          <xs:element name="prepareconnection" type="xs:anyType" />
          <xs:element name="hibernatemanagedsession" type="xs:anyType" />
          <xs:element name="earlyflushbeforecommit" type="xs:anyType" />
          <xs:element name="entityinterceptor" type="xs:anyType" />
          <xs:element name="jdbcexceptiontranslator" type="xs:anyType" />
          <xs:element name="defaultjdbcexceptiontranslator" type="xs:anyType" />
          <xs:element name="/***justneededforentityinterceptorbeanname.*@see#setentityinterceptorbeanname*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateobjectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectretrievalfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionfactoryutils" >
      <xs:sequence>
        <xs:element name="*toexecutesessioncleanupbeforejdbcconnectioncleanup,ifany.*@seeorg.springframework.jdbc.datasource.datasourceutils#connection_synchronization_order*/session_synchronization_order" type="xs:long" />
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="deferredcloseholder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernateinterceptor" >
      <xs:complexContent>
       <xs:extension base="hibernateaccessor">
         <xs:sequence>
          <xs:element name="exceptionconversionenabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractsessionfactorybean" >
      <xs:complexContent>
       <xs:extension base="sessionfactory>">
         <xs:sequence>
          <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="usetransactionawaredatasource" type="xs:anyType" />
          <xs:element name="exposetransactionawaresessionfactory" type="xs:anyType" />
          <xs:element name="jdbcexceptiontranslator" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="dataretrievalfailureexception">
         <xs:sequence>
          <xs:element name="persistentclass" type="xs:anyType" />
          <xs:element name="identifier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="objectoptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="optimisticlockingfailureexception">
         <xs:sequence>
          <xs:element name="persistentclass" type="xs:anyType" />
          <xs:element name="identifier" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultjdodialect" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="jdbcexceptiontranslator" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdodialect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoobjectretrievalfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectretrievalfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdotransactionmanager" >
      <xs:complexContent>
       <xs:extension base="abstractplatformtransactionmanager">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="autodetectdatasource" type="xs:anyType" />
          <xs:element name="" type="jdodialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencemanagerholder" >
      <xs:complexContent>
       <xs:extension base="resourceholdersupport">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="transactionactive" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdotemplate" >
      <xs:complexContent>
       <xs:extension base="jdoaccessor">
         <xs:sequence>
          <xs:element name="allowcreate" type="xs:anyType" />
          <xs:element name="exposenativepersistencemanager" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdocallback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdooptimisticlockingfailureexception" >
      <xs:complexContent>
       <xs:extension base="objectoptimisticlockingfailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdosystemexception" >
      <xs:complexContent>
       <xs:extension base="uncategorizeddataaccessexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionawarepersistencemanagerfactoryproxy" >
      <xs:complexContent>
       <xs:extension base="persistencemanagerfactory>">
         <xs:sequence>
          <xs:element name="target" type="xs:anyType" />
          <xs:element name="allowcreate" type="xs:anyType" />
          <xs:element name="proxy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdousageexception" >
      <xs:complexContent>
       <xs:extension base="invaliddataaccessapiusageexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localpersistencemanagerfactorybean" >
      <xs:complexContent>
       <xs:extension base="persistencemanagerfactory>">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
          <xs:element name="persistencemanagerfactoryname" type="xs:string" />
          <xs:element name="configlocation" type="xs:anyType" />
          <xs:element name="jdopropertymap" type="xs:anyType" />
          <xs:element name="bean" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="jdodialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdooperations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdointerceptor" >
      <xs:complexContent>
       <xs:extension base="jdoaccessor">
         <xs:sequence>
          <xs:element name="exceptionconversionenabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openpersistencemanagerinviewfilter" >
      <xs:complexContent>
       <xs:extension base="onceperrequestfilter">
         <xs:sequence>
          <xs:element name="default_persistence_manager_factory_bean_name" type="xs:string" />
          <xs:element name="persistencemanagerfactorybeanname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="standardpersistencemanagerproxybean" >
      <xs:complexContent>
       <xs:extension base="persistencemanager>">
         <xs:sequence>
          <xs:element name="proxy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdodaosupport" >
      <xs:complexContent>
       <xs:extension base="daosupport">
         <xs:sequence>
          <xs:element name="" type="jdotemplate" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springpersistencemanagerproxybean" >
      <xs:complexContent>
       <xs:extension base="jdoaccessor">
         <xs:sequence>
          <xs:element name="persistencemanagerinterface" type="xs:anyType" />
          <xs:element name="allowcreate" type="xs:anyType" />
          <xs:element name="proxy" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openpersistencemanagerinviewinterceptor" >
      <xs:sequence>
        <xs:element name="/***suffixthatgetsappendedtothepersistencemanagerfactoryto*representationforthe"participateinexistingpersistencemanager*handling"requestattribute.*@see#getparticipateattributename*/participate_suffix" type="xs:string" />
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdoresourcefailureexception" >
      <xs:complexContent>
       <xs:extension base="dataaccessresourcefailureexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdoaccessor" >
      <xs:sequence>
        <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="jdodialect" nillable="true" minOccurs="0" />
        <xs:element name="flusheager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencemanagerfactoryutils" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="/***ordervaluefortransactionsynchronizationobjectsthatcleanupjdo*persistencemanagers.returndatasourceutils.connection_synchronization_order-100*toexecutepersistencemanagercleanupbeforejdbcconnectioncleanup,ifany.*@seeorg.springframework.jdbc.datasource.datasourceutils#connection_synchronization_order*/persistence_manager_synchronization_order" type="xs:long" />
          <xs:element name="ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="colour" >
      <xs:complexContent>
       <xs:extension base="shortcodedlabeledenum">
         <xs:sequence>
          <xs:element name="red" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="blue" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="green" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="purple" type="colour" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="indexedtestbean" >
      <xs:sequence>
        <xs:element name="array" type="testbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itestbean" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nestedtestbean" >
      <xs:sequence>
        <xs:element name="company" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inestedtestbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbean" >
      <xs:sequence>
        <xs:element name="beanname" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="postprocessed" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="jedi" type="xs:anyType" />
        <xs:element name="spouses" type="itestbean" nillable="true" minOccurs="0" />
        <xs:element name="touchy" type="xs:string" />
        <xs:element name="array" type="xs:string" />
        <xs:element name="somearray" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="my" type="xs:double" />
        <xs:element name="friends" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="doctor" type="inestedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="lawyer" type="inestedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="nestedindexedbean" type="indexedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="destroyed" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="favourite" type="colour" nillable="true" minOccurs="0" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="othercolours" type="xs:anyType" />
        <xs:element name="pets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iother" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplemapscope" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="callbacks" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockjtatransaction" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbctestutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstracttransactionaldatasourcespringcontexttests" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="sqlscriptencoding" type="xs:string" />
          <xs:element name="/***didthistestdeleteanytables?ifso,weforbidtransactioncompletion,*andonlyallowrollback.*/zappedtables" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profilevaluesource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractannotationawaretransactionaltests" >
      <xs:complexContent>
       <xs:extension base="		abstracttransactionaldatasourcespringcontexttests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="setto{@linksystem}bydefaultforbackwards*compatibilityhowever,thevaluemaybechangedinthe*{@link#abstractannotationawaretransactionaltests(string)}constructor.*/" type="profilevaluesource" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="repeat" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilevaluesourceconfiguration" >
      <xs:complexContent>
       <xs:extension base="profilevaluesource>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="profilevalueutils" >
      <xs:complexContent>
       <xs:extension base="profilevaluesource>">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nottransactional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemprofilevaluesource" >
      <xs:sequence>
        <xs:element name="instance" type="systemprofilevaluesource" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rollback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dirtiescontext" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ifprofilevalue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expectedexception" >
      <xs:complexContent>
       <xs:extension base="throwable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractsinglespringcontexttests" >
      <xs:complexContent>
       <xs:extension base="abstractspringcontexttests">
         <xs:sequence>
          <xs:element name="/***applicationcontextthistestwillrunagainst*/applicationcontext" type="xs:anyType" />
          <xs:element name="loadcount" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="conditionaltestcase" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="disabledtestcount" type="xs:long" />
          <xs:element name="/***geravailabletosubclasses*/ger" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdependencyinjectionspringcontexttests" >
      <xs:complexContent>
       <xs:extension base="abstractsinglespringcontexttests">
         <xs:sequence>
          <xs:element name="/***constantthatindicatesnoautowiringatall.**@see#setautowiremode*/autowire_no" type="xs:long" />
          <xs:element name="/***constantthatindicatesautowiringbeanpropertiesbyname.**@see#setautowiremode*/autowire_by_name" type="xs:long" />
          <xs:element name="/***constantthatindicatesautowiringbeanpropertiesbytype.**@see#setautowiremode*/autowire_by_type" type="xs:long" />
          <xs:element name="populateprotectedvariables" type="xs:anyType" />
          <xs:element name="autowiremode" type="xs:long" />
          <xs:element name="dependencycheck" type="xs:anyType" />
          <xs:element name="managedvariablenames" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ormxmloverridingshadowingclassloader" >
      <xs:complexContent>
       <xs:extension base="resourceoverridingshadowingclassloader">
         <xs:sequence>
          <xs:element name="fileintheclasspath:*"meta-inf/orm.xml"*/default_orm_xml_location" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractjpatests" >
      <xs:complexContent>
       <xs:extension base="abstractannotationawaretransactionaltests">
         <xs:sequence>
          <xs:element name="default_orm_xml_location" type="xs:string" />
          <xs:element name="contextcache" type="xs:anyType" />
          <xs:element name="classloadercache" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/***ifthisinstanceisinashadowloader,thisvariable*willcontaintheparentinstanceofthesubclass.*theclasswillnotbethesameastheclassofthe*shadowinstance,asitwasloadedbyadifferentclassloader,*butitcanbeinvokedreflectively.theshadowparent*andtheshadowloadercancommunicatereflectively*butnotthroughdirectinvocation.*/shadowparent" type="xs:anyType" />
          <xs:element name="/***subclassescanusethisintestcases.*itwillparticipateinanycurrenttransaction.*/shared" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractspringcontexttests" >
      <xs:complexContent>
       <xs:extension base="conditionaltestcase">
         <xs:sequence>
          <xs:element name="contextkeytocontextmap" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstracttransactionalspringcontexttests" >
      <xs:complexContent>
       <xs:extension base="abstractdependencyinjectionspringcontexttests">
         <xs:sequence>
          <xs:element name="/***thetransactionmanagertouse*/transactionmanager" type="xs:anyType" />
          <xs:element name="/***shouldwerollbackbydefault?*/defaultrollback" type="xs:anyType" />
          <xs:element name="/***shouldwecommitthecurrenttransaction?*/complete" type="xs:anyType" />
          <xs:element name="/***numberoftransactionsstarted*/transactionsstarted" type="xs:long" />
          <xs:element name="/***transactiondefinitionusedbythistestclass:bydefault,aplain*default.subclassescanchangethistocause*differentbehavior.*/" type="xs:anyType" />
          <xs:element name="/***forthistest.typicalsubclasseswon'tneedtouseit.*/" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplenamingcontextbuilder" >
      <xs:sequence>
        <xs:element name="/***aninstanceofthisclassboundtojndi*/volatileactivated" type="simplenamingcontextbuilder" nillable="true" minOccurs="0" />
        <xs:element name="initialized" type="xs:anyType" />
        <xs:element name="initializationlock" type="xs:anyType" />
        <xs:element name="ger" type="xs:anyType" />
        <xs:element name="boundobjects" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplenamingcontext" >
      <xs:complexContent>
       <xs:extension base="abstractnamingenumeration<nameclasspair>">
         <xs:sequence>
          <xs:element name="ger" type="xs:anyType" />
          <xs:element name="root" type="xs:string" />
          <xs:element name="boundobjects" type="xs:anyType" />
          <xs:element name="environment" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expectedlookuptemplate" >
      <xs:complexContent>
       <xs:extension base="jnditemplate">
         <xs:sequence>
          <xs:element name="jndiobjects" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdotransactionmanagertests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="pmfcontrol,pmcontrol,txcontrol" type="xs:anyType" />
          <xs:element name="pmf" type="xs:anyType" />
          <xs:element name="pm" type="xs:anyType" />
          <xs:element name="tx" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localpersistencemanagerfactorytests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openpersistencemanagerinviewtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdodaosupporttests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdotemplatetests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="pmfcontrol" type="xs:anyType" />
          <xs:element name="pmf" type="xs:anyType" />
          <xs:element name="pmcontrol" type="xs:anyType" />
          <xs:element name="pm" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jdointerceptortests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterdefinitions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatetransactionmanagertests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatedaosupporttests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="scopedbeaninterceptortests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lobtypetests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="rscontrol" type="xs:anyType" />
          <xs:element name="rs" type="xs:anyType" />
          <xs:element name="pscontrol" type="xs:anyType" />
          <xs:element name="ps" type="xs:anyType" />
          <xs:element name="lobhandlercontrol" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="lobcreatorcontrol" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatetemplatetests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="sfcontrol" type="xs:anyType" />
          <xs:element name="sf" type="xs:anyType" />
          <xs:element name="sessioncontrol" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatejtatransactiontests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateinterceptortests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cglibproxybridgemethodtests" >
      <xs:complexContent>
       <xs:extension base="cgliborganisatie">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typedefinitions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localsessionfactorybeantests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sqlmapclienttests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lobtypehandlertests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="rscontrol" type="xs:anyType" />
          <xs:element name="rs" type="xs:anyType" />
          <xs:element name="pscontrol" type="xs:anyType" />
          <xs:element name="ps" type="xs:anyType" />
          <xs:element name="lobhandlercontrol" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="lobcreatorcontrol" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicationmanagedentitymanagerintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactoryintegrationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-invalid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-example6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceinjectionintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactoryintegrationtests">
         <xs:sequence>
          <xs:element name="defaultsetterinjected" type="xs:anyType" />
          <xs:element name="namedsetterinjected" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openentitymanagerinviewtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpadaosupporttests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sharedentitymanagerfactorytests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceinjectiontests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybeantests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatemplatetests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="template" type="jpatemplate" nillable="true" minOccurs="0" />
          <xs:element name="factorycontrol,managercontrol" type="xs:anyType" />
          <xs:element name="manager" type="xs:anyType" />
          <xs:element name="factory" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractcontainerentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localentitymanagerfactorybeantests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybeantests">
         <xs:sequence>
          <xs:element name="//fieldssetbyinnerclassdummypersistenceprovideractualname" type="xs:string" />
          <xs:element name="actualprops" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactorybeansupporttests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybeantests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultjpadialecttests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="dialect" type="jpadialect" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpatransactionmanagertests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="factorycontrol,managercontrol,txcontrol" type="xs:anyType" />
          <xs:element name="manager" type="xs:anyType" />
          <xs:element name="tx" type="xs:anyType" />
          <xs:element name="factory" type="xs:anyType" />
          <xs:element name="transactionmanager" type="jpatransactionmanager" nillable="true" minOccurs="0" />
          <xs:element name="template" type="jpatemplate" nillable="true" minOccurs="0" />
          <xs:element name="tt" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="toplinkmultientitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="		abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
          <xs:element name="2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="toplink-manager-multi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toplink-manager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toplinkentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence-no-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containermanagedentitymanagerintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactoryintegrationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eclipselinkentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eclipselink-manager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractjpatests">
         <xs:sequence>
          <xs:element name="toplink_config_locations" type="xs:string" />
          <xs:element name="eclipselink_config_locations" type="xs:string" />
          <xs:element name="hibernate_config_locations" type="xs:string" />
          <xs:element name="openjpa_config_locations" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localcontainerentitymanagerfactorybeantests" >
      <xs:complexContent>
       <xs:extension base="abstractentitymanagerfactorybeantests">
         <xs:sequence>
          <xs:element name="//fieldssetbyinnerclassdummypersistenceprovideractualprops" type="xs:anyType" />
          <xs:element name="actualpui" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multi-jpa-emf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-example4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-example3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencexmlparsingtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractentitymanagerfactorybeantests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="emfmc" type="xs:anyType" />
          <xs:element name="mockemf" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerfactoryutilstests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernatemultientitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="		abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
          <xs:element name="2" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="		abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernate-manager-multi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memdb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="driverslicense" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="serial_number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-multi" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contextualperson" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="transient" type="testbean" nillable="true" minOccurs="0" />
        <xs:element name="//lazyrelationshiptoforceuseofinstrumentationinjpaimplementation.//toplink,atleast,willnotinstrumentclassesunlessabsolutelynecessary." type="driverslicense" nillable="true" minOccurs="0" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
        <xs:element name="transient" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="transient" type="testbean" nillable="true" minOccurs="0" />
        <xs:element name="//lazyrelationshiptoforceuseofinstrumentationinjpaimplementation.//toplink,atleast,willnotinstrumentclassesunlessabsolutelynecessary." type="driverslicense" nillable="true" minOccurs="0" />
        <xs:element name="first_name" type="xs:string" />
        <xs:element name="last_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpainterceptortests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="factorycontrol,managercontrol" type="xs:anyType" />
          <xs:element name="factory" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="openjpa-manager" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="openjpaentitymanagerfactoryintegrationtests" >
      <xs:complexContent>
       <xs:extension base="abstractcontainerentitymanagerfactoryintegrationtests">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistence-complex" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-example2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-example5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serializationtestutils" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="typedefinitions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filterdefinitions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="child" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order-supplemental" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 