tests/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="member" >
      <xs:sequence>
        <xs:element name="memberid" type="xs:long" />
        <xs:element name="version" type="xs:anyType" />
        <xs:element name="membername" type="xs:string" />
        <xs:element name="duespaid" type="xs:anyType" />
        <xs:element name="donation" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulltimeemployee" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="salary" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="abstractpersonnel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="hire" type="xs:dateTime" />
          <xs:element name="/***thethisemployeeleads*/" type="project" nillable="true" minOccurs="0" />
          <xs:element name="/***thethisemployeebelongsto*/" type="department" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="//instancevariablesprojid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:anyType" />
        <xs:element name="projectlead" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parttimeemployee" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="wage" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fulltimeemployee" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="salary" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="//instancevariablesprojid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:anyType" />
        <xs:element name="projectlead" type="employee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="personnel">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="/***thethisemployeeleads*/" type="project" nillable="true" minOccurs="0" />
          <xs:element name="/***thethisemployeebelongsto*/" type="department" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parttimeemployee" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="wage" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fulltimeemployee" >
      <xs:complexContent>
       <xs:extension base="an">
         <xs:sequence>
          <xs:element name="salary" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="//instancevariablesprojid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:anyType" />
        <xs:element name="projectlead" type="fulltimeemployee" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parttimeemployee" >
      <xs:complexContent>
       <xs:extension base="an">
         <xs:sequence>
          <xs:element name="wage" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coffee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="//instancevariablesteamid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annualreview" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:anyType" />
        <xs:element name="service" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insurance" >
      <xs:sequence>
        <xs:element name="//instancevariablesinsid" type="xs:long" />
        <xs:element name="carrier" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="teams" type="team" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="personid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="team" nillable="true" minOccurs="0" />
        <xs:element name="annualreviews" type="annualreview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="carriers" type="insurance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="//instancevariablesprojid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:anyType" />
        <xs:element name="projectlead" type="person" nillable="true" minOccurs="0" />
        <xs:element name="persons" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="//instancevariablesprojid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:anyType" />
        <xs:element name="projectlead" type="person" nillable="true" minOccurs="0" />
        <xs:element name="persons" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="//instancevariablesteamid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="company" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="personid" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="team" nillable="true" minOccurs="0" />
        <xs:element name="annualreviews" type="annualreview" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="carriers" type="insurance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insurance" >
      <xs:sequence>
        <xs:element name="//instancevariablesinsid" type="xs:long" />
        <xs:element name="carrier" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
        <xs:element name="companyid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="teams" type="team" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annualreview" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:anyType" />
        <xs:element name="service" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order1" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="GeneratedName" type="item" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="itemname" type="xs:string" />
        <xs:element name="GeneratedName" type="order1" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coffee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="lastnameemployees" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="insurance" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insurance" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="carrier" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="total" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="b" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="b" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="b" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="b" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="b" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="a" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="//" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
        <xs:element name="//" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coffee" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lineitem" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="" type="order" nillable="true" minOccurs="0" />
          <xs:element name="" type="product" nillable="true" minOccurs="0" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="partnumber" type="xs:long" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="totalprice" type="xs:double" />
          <xs:element name="sample" type="lineitem" nillable="true" minOccurs="0" />
          <xs:element name="lineitems" type="lineitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="partnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="totalprice" type="xs:double" />
          <xs:element name="sample" type="lineitem" nillable="true" minOccurs="0" />
          <xs:element name="lineitems" type="lineitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lineitemsuper" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="quantity" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lineitem" >
      <xs:complexContent>
       <xs:extension base="lineitemsuper">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="//movedtolineitemsuper//intquantity" type="order" nillable="true" minOccurs="0" />
          <xs:element name="" type="product" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="totalprice" type="xs:double" />
          <xs:element name="sample" type="lineitem" nillable="true" minOccurs="0" />
          <xs:element name="lineitems" type="lineitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lineitem" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="" type="order" nillable="true" minOccurs="0" />
          <xs:element name="" type="product" nillable="true" minOccurs="0" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="partnumber" type="xs:long" />
          <xs:element name="callbackimpl" type="generictlistenerimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pricedpartproduct_2" >
      <xs:complexContent>
       <xs:extension base="pricedpartproductcallback">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="partnumber" type="xs:long" />
          <xs:element name="callbackstatus" type="callbackstatusimpl" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="quantity" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pricedpartproduct" >
      <xs:complexContent>
       <xs:extension base="partproduct">
         <xs:sequence>
          <xs:element name="price" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="partproduct" >
      <xs:complexContent>
       <xs:extension base="product">
         <xs:sequence>
          <xs:element name="partnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="totalprice" type="xs:double" />
          <xs:element name="sample" type="lineitem" nillable="true" minOccurs="0" />
          <xs:element name="lineitems" type="lineitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
          <xs:element name="quantity" type="xs:long" />
          <xs:element name="partnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lineitemsuper" >
      <xs:complexContent>
       <xs:extension base="callbackstatusimpl">
         <xs:sequence>
          <xs:element name="quantity" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="lineitem" >
      <xs:complexContent>
       <xs:extension base="lineitemsuper">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="//movedtolineitemsuper//intquantity" type="order" nillable="true" minOccurs="0" />
          <xs:element name="" type="product" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="salary" type="xs:double" />
        <xs:element name="GeneratedName" type="department" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="insurance" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="insurance" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:long" />
        <xs:element name="carrier" type="xs:string" />
        <xs:element name="employees" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phone" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="area" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spouse" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="first" type="xs:string" />
        <xs:element name="maiden" type="xs:string" />
        <xs:element name="last" type="xs:string" />
        <xs:element name="snumber" type="xs:string" />
        <xs:element name="GeneratedName" type="info" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditcard" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="number" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="expires" type="xs:string" />
        <xs:element name="approved" type="xs:anyType" />
        <xs:element name="balance" type="xs:double" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hardwareproduct" >
      <xs:complexContent>
       <xs:extension base="product">
         <xs:sequence>
          <xs:element name="//instancevariablesmodelnumber" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="home" type="address" nillable="true" minOccurs="0" />
        <xs:element name="work" type="address" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="spouse" nillable="true" minOccurs="0" />
        <xs:element name="creditcards" type="creditcard" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="orders" type="order" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="aliases" type="alias" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="aliasesnoop" type="alias" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alias" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="alias" type="xs:string" />
        <xs:element name="noop" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="customersnoop" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="customers" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="phones" type="phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="street" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="zip" type="xs:string" />
        <xs:element name="GeneratedName" type="spouse" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lineitem" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="partnumber" type="xs:long" />
        <xs:element name="warehouse" type="xs:string" />
        <xs:element name="GeneratedName" type="shelflife" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="//instancevariablesid" type="xs:string" />
        <xs:element name="totalprice" type="xs:double" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="creditcard" nillable="true" minOccurs="0" />
        <xs:element name="sample" type="lineitem" nillable="true" minOccurs="0" />
        <xs:element name="lineitems" type="lineitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="softwareproduct" >
      <xs:complexContent>
       <xs:extension base="product">
         <xs:sequence>
          <xs:element name="//instancevariablesrevisionnumber" type="xs:double" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datatypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="data" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="enumdata" type="grade" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypes2" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="timedata" type="xs:anyType" />
        <xs:element name="tsdata" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="chardata" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="data" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="acterdata" type="xs:anyType" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="egerdata" type="xs:long" />
        <xs:element name="data" type="xs:long" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="data" type="xs:double" />
        <xs:element name="enumdata" type="grade" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datatypes2" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="timedata" type="xs:anyType" />
        <xs:element name="tsdata" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbean2" >
      <xs:sequence>
        <xs:element name="pmid" type="xs:anyType" />
        <xs:element name="pmid" type="xs:string" />
        <xs:element name="pmid" type="xs:double" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbean" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="compoundpk" nillable="true" minOccurs="0" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testbean3" >
      <xs:sequence>
        <xs:element name="pmid" type="xs:anyType" />
        <xs:element name="pmid" type="xs:string" />
        <xs:element name="pmid" type="xs:double" />
        <xs:element name="brandname" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 