Tavant-test/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="accid" type="xs:string" />
        <xs:element name="accounttype" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="address" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 