tutoriales4/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="orderfixtureutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordermongointegrationtest" >
      <xs:sequence>
        <xs:element name="repo" type="ordermongorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="doubledispatchdiscountpolicyunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="htmlorderviewcreatorunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodoverloadexampleunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singledispatchdiscountpolicyunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="violateorderbusinessrulesunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistorderintegrationtest" >
      <xs:sequence>
        <xs:element name="repository" type="jpaorderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mongodborderrepositoryunittest" >
      <xs:sequence>
        <xs:element name="springdataorderrepository" type="springdatamongoorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="tested" type="mongodborderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mongodborderrepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="mongoorderrepository" type="springdatamongoorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandradborderrepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="cassandraorderrepository" type="springdatacassandraorderrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainorderserviceunittest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="tested" type="domainorderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd-layers-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="docker-compose" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mongo-init" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd-layers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainlayerapplication" >
      <xs:sequence>
        <xs:element name="ordercontroller" type="cliordercontroller" nillable="true" minOccurs="0" />
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderstatus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="status" type="orderstatus" nillable="true" minOccurs="0" />
        <xs:element name="orderitems" type="orderitem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainorderservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitem" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="domainexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addproductrequest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createorderrequest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cliordercontroller" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createorderresponse" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mongodbconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandraconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cassandradborderrepository" >
      <xs:sequence>
        <xs:element name="orderrepository" type="springdatacassandraorderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderitementity" >
      <xs:sequence>
        <xs:element name="productid" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatacassandraorderrepository" >
      <xs:complexContent>
       <xs:extension base="cassandrarepository<orderentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="status" type="orderstatus" nillable="true" minOccurs="0" />
        <xs:element name="orderitementities" type="orderitementity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatamongoorderrepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mongodborderrepository" >
      <xs:sequence>
        <xs:element name="orderrepository" type="springdatamongoorderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordermongorepository" >
      <xs:complexContent>
       <xs:extension base="mongorepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaorderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<jpaorder,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaorderline" >
      <xs:sequence>
        <xs:element name="product" type="jpaproduct" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaproduct" >
      <xs:sequence>
        <xs:element name="currencyunit" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpaorder" >
      <xs:sequence>
        <xs:element name="currencyunit" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderlines" type="jpaorderline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalcost" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="price" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="orderlines" type="orderline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalcost" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderline" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="discountpolicy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:complexContent>
       <xs:extension base="com.baeldung.ddd.order.order">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialdiscountpolicy" >
      <xs:complexContent>
       <xs:extension base="discountpolicy">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="specialorder" >
      <xs:complexContent>
       <xs:extension base="order">
         <xs:sequence>
          <xs:element name="eligibleforextradiscount" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="htmlorderviewcreator" >
      <xs:sequence>
        <xs:element name="html" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visitable" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordervisitor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flatdiscountpolicy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="amountbaseddiscountpolicy" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistingdddaggregatesapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 