tutoriales4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="jpaorder" >
      <xs:sequence>
        <xs:element name="currencyunit" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="orderlines" type="jpaorderline" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="totalcost" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 