wedding/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="moduleselect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepwd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="welcome" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header_form" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="polyline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.asyncqueue" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.progressbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jstools" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="processdiagramcanvas" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="color" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icomoon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activiti-admin-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translation_signavio_de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translation_en_us" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translation_de" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="translation_signavio_en_us" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text-property-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multiinstance-property-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signal-definitions-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message-definitions-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message-property-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event-listeners-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="assignment-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="boolean-property-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="out-parameters-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fields-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-listeners-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="string-property-write-mode-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="in-parameters-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequenceflow-order-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="default-value-display-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="form-properties-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signal-property-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subprocess-reference-display-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="condition-expression-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="subprocess-reference-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sequenceflow-order-display-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="execution-listeners-write-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="properties-custom-controllers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toolbar-custom-actions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unsaved-changes" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select-shape" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icon-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-route.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-translate-storage-cookie.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es5-sham" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es5-sham.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="es5-shim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="license" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="h-matchers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contributors" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-sanitize.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-resource.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-cookies.min.js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angular-translate-loader-static-files.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name=".bower" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stencil-item-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="root-stencil-item-template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-inputmask.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vuelidate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iframe" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="js" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ui.touch-punch.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mootools-adapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prototype-adapter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="drilldown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="no-data-to-display" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heatmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="funnel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotations" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-1.10.2.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="video" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="charts" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="edittip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="background" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spechars" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="500" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="403" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.exedit.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.exhide.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.ztree.excheck.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myztreestyle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="replys" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tags" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top-card" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="prograss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getmembers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="new" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="all" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="direct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resetpass" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="forget" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user30" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="photos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mangadmin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getmsg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="more" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-treeview.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="full-slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demosqlmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="codesqlmap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring-activiti" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentcontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="departmentservice" nillable="true" minOccurs="0" />
          <xs:element name="s" type="departmentservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="haschild" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weddingphotocontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="weddingphotoservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolecontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="moduleservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="roleservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="roledao" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="select_module_for_role" type="xs:string" />
          <xs:element name="select_user_for_role" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontentcontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activiticontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="processdefinitioncache" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="bpmn_suffix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="modulecontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="edit" type="xs:string" />
          <xs:element name="" type="moduleservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sensitivewordscontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="validate_code" type="xs:string" />
        <xs:element name="key_generator" type="xs:string" />
        <xs:element name="login" type="xs:string" />
        <xs:element name="home" type="xs:string" />
        <xs:element name="welcome" type="xs:string" />
        <xs:element name="change" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="moduleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multicodevaluecontroller" >
      <xs:complexContent>
       <xs:extension base="abstractgenericcontroller<multicodevalue,">
         <xs:sequence>
          <xs:element name="" type="multicodevalueservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="multicodeservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="haschild" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistcontroller" >
      <xs:complexContent>
       <xs:extension base="abstractgenericcontroller<entitychangelist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commoncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="list_error" type="xs:string" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="moduleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="departmentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="datadictionaryservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="informationcontentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="entitychangelistservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sensitivewordsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weddingphotomanagecontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="weddingphotoservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="actprocessdefcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acttaskcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="actprocinstacneservice" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actdeploymentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actprocinstancecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="actprocinstacneservice" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actmodelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="udppointpermissioncontroller" >
      <xs:complexContent>
       <xs:extension base="abstractgenericcontroller<udppointpermission,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="/***示例代码**@override*@requestmapping(value" type="roleservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="udppointpermissionservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionarycontroller" >
      <xs:complexContent>
       <xs:extension base="abstractgenericcontroller<datadictionary,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="datadictionaryservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multicodecontroller" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="" type="multicodeservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="haschild" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="expprocesser" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sensitivewordsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constans" >
      <xs:sequence>
        <xs:element name="//未付款ordernopay" type="xs:string" />
        <xs:element name="//已付款orderpaid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileuploadutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="weddingphotodao" >
      <xs:complexContent>
       <xs:extension base="genericdao<weddingphoto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moduledao" >
      <xs:complexContent>
       <xs:extension base="genericdao<module,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="defaultentitychangehandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="entitychangelistdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="udppointpermissiondao" >
      <xs:complexContent>
       <xs:extension base="genericdao<udppointpermission,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionarydao" >
      <xs:complexContent>
       <xs:extension base="genericdao<datadictionary,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodedao" >
      <xs:complexContent>
       <xs:extension base="genericdao<multicode,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codedao" >
      <xs:complexContent>
       <xs:extension base="genericdao<code,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sensitivewordsdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<sensitivewords,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:complexContent>
       <xs:extension base="genericdao<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<entitychangelist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodevaluedao" >
      <xs:complexContent>
       <xs:extension base="genericdao<multicodevalue,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontentdao" >
      <xs:complexContent>
       <xs:extension base="genericdao<informationcontent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistdaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<entitychangelist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodevaluedaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<multicodevalue,">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="" type="multicodeservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="multicode" nillable="true" minOccurs="0" />
          <xs:element name="" type="multicodevalue" nillable="true" minOccurs="0" />
          <xs:element name="" type="multicodevalueservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moduledaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<module,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roledaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sensitivewordsdaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<sensitivewords,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodedaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<multicode,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codedaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<code,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionarydaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<datadictionary,">
         <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="udppointpermissiondaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<udppointpermission,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontentdaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<informationcontent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weddingphotodaoimpl" >
      <xs:complexContent>
       <xs:extension base="generichibernatedaoimpl<weddingphoto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolesorauthorizationfilter" >
      <xs:complexContent>
       <xs:extension base="rolesauthorizationfilter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="moduleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="udppointpermissionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multicodevalue" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***child_num*/childnum" type="xs:anyType" />
          <xs:element name="/***代码id*/codeid" type="xs:string" />
          <xs:element name="/***代码项值*/itemvalue" type="xs:string" />
          <xs:element name="/***代码项显示值*/codename" type="xs:string" />
          <xs:element name="/***上层代码id*/parentitemid" type="xs:string" />
          <xs:element name="/***代码编号*/itemcode" type="xs:string" />
          <xs:element name="/***排序*/sortsq" type="xs:anyType" />
          <xs:element name="/***评论*/comments" type="xs:string" />
          <xs:element name="parentdict" type="multicodevalue" nillable="true" minOccurs="0" />
          <xs:element name="childlist" type="multicodevalue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="udppointpermission" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***功能点名称*/pointname" type="xs:string" />
          <xs:element name="/***功能点表达式*/pointexpression" type="xs:string" />
          <xs:element name="rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weddingphoto" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***照片分类*/photosort" type="xs:string" />
          <xs:element name="/***相册分类*/albumsort" type="xs:string" />
          <xs:element name="/***照片*/photo" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***密码*/password" type="xs:string" />
          <xs:element name="/***出生日期*/birthday" type="xs:dateTime" />
          <xs:element name="/***电子邮箱*/email" type="xs:string" />
          <xs:element name="/***部门*/deptid" type="xs:string" />
          <xs:element name="/***姓名*/name" type="xs:string" />
          <xs:element name="/***性别*/gender" type="xs:string" />
          <xs:element name="/***用户名*/userid" type="xs:string" />
          <xs:element name="/***手机*/mobile" type="xs:string" />
          <xs:element name="sort" type="xs:anyType" />
          <xs:element name="enable" type="xs:anyType" />
          <xs:element name="" type="role" nillable="true" minOccurs="0" />
          <xs:element name="admin" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="department" nillable="true" minOccurs="0" />
          <xs:element name="/***用户所有角色*/rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***用户关联部门*/deptlist" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="passworderrortimes" type="xs:anyType" />
          <xs:element name="lastpassworderrortime" type="xs:dateTime" />
          <xs:element name="lastchangepwdtime" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="modulequery" >
      <xs:complexContent>
       <xs:extension base="module{">
         <xs:sequence>
          <xs:element name="" type="role" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="code" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***上层编码*/parentcode" type="xs:string" />
          <xs:element name="/***下层最大编码*/maxchildcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontent" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***作者*/author" type="xs:string" />
          <xs:element name="/***发布日期*/released" type="xs:dateTime" />
          <xs:element name="/***标题*/title" type="xs:string" />
          <xs:element name="/***内容*/content" type="xs:string" />
          <xs:element name="/***信息类别*/infotype" type="xs:string" />
          <xs:element name="/***附件*/attachment" type="xs:string" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentquery" >
      <xs:complexContent>
       <xs:extension base="department">
         <xs:sequence>
          <xs:element name="" type="role" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treenodestate" >
      <xs:sequence>
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="disabled" type="xs:anyType" />
        <xs:element name="expanded" type="xs:anyType" />
        <xs:element name="selected" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sensitivewords" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***敏感词*/words" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***排序*/sort" type="xs:anyType" />
          <xs:element name="/***上层角色*/parentroleid" type="xs:string" />
          <xs:element name="/***备注*/backup" type="xs:string" />
          <xs:element name="/***角色名称*/rolename" type="xs:string" />
          <xs:element name="/***是否管理员角色*/admin" type="xs:anyType" />
          <xs:element name="parent" type="role" nillable="true" minOccurs="0" />
          <xs:element name="modulelist" type="module" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="userlist" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="treenode" >
      <xs:sequence>
        <xs:element name="text" type="xs:string" />
        <xs:element name="moduleid" type="xs:string" />
        <xs:element name="pid" type="xs:string" />
        <xs:element name="nodes" type="treenode" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="state" type="treenodestate" nillable="true" minOccurs="0" />
        <xs:element name="checked" type="xs:anyType" />
        <xs:element name="open" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="informationcontentquery" >
      <xs:complexContent>
       <xs:extension base="informationcontent">
         <xs:sequence>
          <xs:element name="releasedstart" type="xs:dateTime" />
          <xs:element name="releasedend" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="module" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***模块地址*/moduleaddr" type="xs:string" />
          <xs:element name="/***模块序号*/sortsq" type="xs:anyType" />
          <xs:element name="/***是否可见*/isvisible" type="xs:anyType" />
          <xs:element name="/***父模块id*/parentmoduleid" type="xs:string" />
          <xs:element name="/***是否公开*/ispublic" type="xs:anyType" />
          <xs:element name="/***目标*/target" type="xs:string" />
          <xs:element name="/***模块code*/modulecode" type="xs:string" />
          <xs:element name="/***模块名称*/modulename" type="xs:string" />
          <xs:element name="/***小图标地址*/iconaddr" type="xs:string" />
          <xs:element name="/***权限判断是否严格过滤url*/stick" type="xs:anyType" />
          <xs:element name="parent" type="module" nillable="true" minOccurs="0" />
          <xs:element name="/***模块所有角色*/rolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="/***是否含有子模块*/haschild" type="xs:anyType" />
          <xs:element name="/***模块所有子模块*/childlist" type="module" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***部门编码*/deptcode" type="xs:string" />
          <xs:element name="/***部门名称*/deptname" type="xs:string" />
          <xs:element name="/***排序*/sort" type="xs:anyType" />
          <xs:element name="/***上层部门*/parentdeptid" type="xs:string" />
          <xs:element name="enable" type="xs:anyType" />
          <xs:element name="/***部门所有角色*/deptrolelist" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="parentdept" type="department" nillable="true" minOccurs="0" />
          <xs:element name="/***所有子部门*/childlist" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicode" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***code名*/codename" type="xs:string" />
          <xs:element name="/***排序*/sortsq" type="xs:anyType" />
          <xs:element name="/***评论*/comments" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionary" >
      <xs:complexContent>
       <xs:extension base="baseentity<string>">
         <xs:sequence>
          <xs:element name="/***dictionary_code*/dictionarycode" type="xs:string" />
          <xs:element name="/***content*/content" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistquery" >
      <xs:complexContent>
       <xs:extension base="entitychangelist">
         <xs:sequence>
          <xs:element name="optype" type="xs:anyType" />
          <xs:element name="createdstart" type="xs:dateTime" />
          <xs:element name="createdend" type="xs:dateTime" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userquery" >
      <xs:complexContent>
       <xs:extension base="user">
         <xs:sequence>
          <xs:element name="" type="role" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moduleserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<module,">
         <xs:sequence>
          <xs:element name="shiro_filter" type="xs:string" />
          <xs:element name="//comparatormodulecompare" type="codeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codeserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<code,">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weddingphotoserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<weddingphoto,">
         <xs:sequence>
          <xs:element name="" type="datadictionaryservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<department,">
         <xs:sequence>
          <xs:element name="shiro_filter" type="xs:string" />
          <xs:element name="" type="codeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodevalueserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<multicodevalue,">
         <xs:sequence>
          <xs:element name="shiro_filter" type="xs:string" />
          <xs:element name="" type="codeservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<entitychangelist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<user,">
         <xs:sequence>
          <xs:element name="" type="departmentdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="udppointpermissionserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<udppointpermission,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionaryserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<datadictionary,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sensitivewordsserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<sensitivewords,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontentserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<informationcontent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodeserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<multicode,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleserviceimpl" >
      <xs:complexContent>
       <xs:extension base="generiserviceimpl<role,">
         <xs:sequence>
          <xs:element name="shiro_filter" type="xs:string" />
          <xs:element name="" type="moduledao" nillable="true" minOccurs="0" />
          <xs:element name="" type="roledao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitychangelistservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<entitychangelist,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transformer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customuserentitymanager" >
      <xs:complexContent>
       <xs:extension base="userentitymanager">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="roleservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customuserentitymanagerfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customgroupentitymanagerfactory" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customgroupentitymanager" >
      <xs:complexContent>
       <xs:extension base="groupentitymanager">
         <xs:sequence>
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="roleservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="udppointpermissionservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<udppointpermission,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="datadictionaryservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<datadictionary,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="informationcontentservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<informationcontent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="moduleservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<module,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codeservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<code,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sensitivewordsservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<sensitivewords,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodeservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<multicode,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="multicodevalueservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<multicodevalue,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<department,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weddingphotoservice" >
      <xs:complexContent>
       <xs:extension base="generiservice<weddingphoto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="swaggerconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multitablesqltest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="moduleservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="deptid" type="xs:string" />
        <xs:element name="deptname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="monitortest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 