Tidian/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="artcomments" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="comid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
        <xs:element name="artid" type="articles" nillable="true" minOccurs="0" />
        <xs:element name="artreplycollection" type="artreply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collect" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="collectid" type="xs:anyType" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="materialid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialcomment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="materialcommentid" type="xs:anyType" />
        <xs:element name="materialid" type="xs:long" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkque" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="checkquepk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materials" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="materialid" type="xs:anyType" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="mname" type="xs:string" />
        <xs:element name="mpath" type="xs:string" />
        <xs:element name="msize" type="xs:string" />
        <xs:element name="mintroduction" type="xs:string" />
        <xs:element name="mtype" type="xs:string" />
        <xs:element name="msubject" type="xs:string" />
        <xs:element name="mgrade" type="xs:string" />
        <xs:element name="mregion" type="xs:string" />
        <xs:element name="mtolvisit" type="xs:long" />
        <xs:element name="mtoldownload" type="xs:long" />
        <xs:element name="mweekdownload" type="xs:long" />
        <xs:element name="mtolcollect" type="xs:long" />
        <xs:element name="mlevelamount" type="xs:long" />
        <xs:element name="mmarknumber" type="xs:long" />
        <xs:element name="mtolcomment" type="xs:long" />
        <xs:element name="mcreate" type="xs:dateTime" />
        <xs:element name="mstatus" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personarticles" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="personarticlespk" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="users" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="administer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="admid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="tagid" type="xs:anyType" />
        <xs:element name="tag" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mark" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="markid" type="xs:anyType" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="materialid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questions" >
      <xs:sequence>
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="queid" type="xs:anyType" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="subject" type="xs:string" />
        <xs:element name="po" type="xs:long" />
        <xs:element name="collectnumber" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="answer" type="answers" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tags" type="tag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plareply" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="plareplyid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
        <xs:element name="plaid" type="platforms" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="artreply" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="replyid" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="replytime" type="xs:dateTime" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
        <xs:element name="comid" type="artcomments" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkans" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="checkanspk" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="perquecontent" >
      <xs:sequence>
        <xs:element name="pqid" type="xs:long" />
        <xs:element name="queid" type="xs:long" />
        <xs:element name="content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="answers" >
      <xs:sequence>
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="anwid" type="xs:anyType" />
        <xs:element name="usrid" type="xs:long" />
        <xs:element name="po" type="xs:long" />
        <xs:element name="question" type="questions" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personquestions" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="pqid" type="xs:anyType" />
        <xs:element name="pqname" type="xs:string" />
        <xs:element name="settime" type="xs:dateTime" />
        <xs:element name="rank" type="xs:long" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="usrid" type="xs:anyType" />
        <xs:element name="usrname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="//@pattern(regexp" type="xs:string" />
        <xs:element name="nickname" type="xs:string" />
        <xs:element name="province" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="experience" type="xs:long" />
        <xs:element name="portrait" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="personquestionscollection" type="personquestions" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="articlescollection" type="articles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="personarticlescollection" type="personarticles" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="platformscollection" type="platforms" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="plareplycollection" type="plareply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="artcommentscollection" type="artcomments" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="artreplycollection" type="artreply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="platforms" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="plaid" type="xs:anyType" />
        <xs:element name="topic" type="xs:string" />
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="set" type="xs:dateTime" />
        <xs:element name="last" type="xs:dateTime" />
        <xs:element name="favnumber" type="xs:long" />
        <xs:element name="clicknumber" type="xs:long" />
        <xs:element name="commentnumber" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
        <xs:element name="plareplycollection" type="plareply" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articles" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="artid" type="xs:anyType" />
        <xs:element name="category" type="xs:string" />
        <xs:element name="topic" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="writetime" type="xs:dateTime" />
        <xs:element name="monthlyscan" type="xs:long" />
        <xs:element name="totalscan" type="xs:long" />
        <xs:element name="collectnumber" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="usrid" type="users" nillable="true" minOccurs="0" />
        <xs:element name="artcommentscollection" type="artcomments" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 