tutoriales24/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="customerid" type="xs:string" />
        <xs:element name="accnumber" type="xs:string" />
        <xs:element name="branchid" type="xs:string" />
        <xs:element name="balance" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 