ustglobal_16sep19_kavitha3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="sid" type="xs:long" />
        <xs:element name="sname" type="xs:string" />
        <xs:element name="marks" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 