vesta-new-admin19/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="plancaserepairentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//复查次数times" type="xs:long" />
        <xs:element name="//问题idcaseid" type="xs:string" />
        <xs:element name="//整改人repairby" type="xs:string" />
        <xs:element name="//整改人名称repairname" type="xs:string" />
        <xs:element name="//整改人联系电话repairphone" type="xs:string" />
        <xs:element name="//整改时间repair" type="xs:dateTime" />
        <xs:element name="//整改描述repairdesc" type="xs:string" />
        <xs:element name="//复查人reviewby" type="xs:string" />
        <xs:element name="//复查人联系电话reviewphone" type="xs:string" />
        <xs:element name="//复查时间review" type="xs:dateTime" />
        <xs:element name="//复查意见，是否通过reviewopinion" type="xs:string" />
        <xs:element name="//复查描述reviewdesc" type="xs:string" />
        <xs:element name="//第三方监理supervisor" type="xs:string" />
        <xs:element name="//第三方监理电话supervisorphone" type="xs:string" />
        <xs:element name="//第三方监理复查时间supervisor" type="xs:dateTime" />
        <xs:element name="//第三方复查意见，是否通过supervisoropinion" type="xs:string" />
        <xs:element name="//第三方监理复查描述supervisordesc" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialplanentity" >
      <xs:sequence>
        <xs:element name="//材料id主键materialid" type="xs:string" />
        <xs:element name="//批次名称batchname" type="xs:string" />
        <xs:element name="//所属项目projectid" type="xs:string" />
        <xs:element name="//负责人idpersonid" type="xs:string" />
        <xs:element name="//负责人personname" type="xs:string" />
        <xs:element name="//进场时间paradetime" type="xs:dateTime" />
        <xs:element name="//验收时间checktime" type="xs:dateTime" />
        <xs:element name="//验收人idcheckuserid" type="xs:string" />
        <xs:element name="//验收人checkperson" type="xs:string" />
        <xs:element name="//材料类型materialtype" type="xs:string" />
        <xs:element name="//进场批量paradenum" type="xs:string" />
        <xs:element name="//使用部位useplace" type="xs:string" />
        <xs:element name="//供应商supplier" type="xs:string" />
        <xs:element name="//材料规格materialspec" type="xs:string" />
        <xs:element name="//是否有合格证0、没有1、有eligibility" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancheckplaceentity" >
      <xs:sequence>
        <xs:element name="//主键placeid" type="xs:string" />
        <xs:element name="//计划idplanid" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//检查项idcheckid" type="xs:string" />
        <xs:element name="//位置类型placetype" type="xs:string" />
        <xs:element name="//位置名称placename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancaseinfoentity" >
      <xs:sequence>
        <xs:element name="//问题id主键caseid" type="xs:string" />
        <xs:element name="//批次idsetid" type="xs:string" />
        <xs:element name="//问题标题casetitle" type="xs:string" />
        <xs:element name="//问题部位caseplace" type="xs:string" />
        <xs:element name="//问题类型casetype" type="xs:string" />
        <xs:element name="//一级分类onetype" type="xs:string" />
        <xs:element name="//二级分类twotype" type="xs:string" />
        <xs:element name="//三级分类threetype" type="xs:string" />
        <xs:element name="//问题描述casedesc" type="xs:string" />
        <xs:element name="//问题状态,------待定：1待接单2待整改3已整改4已通过5一次通过6二次通过7三次通过0作废casestate" type="xs:string" />
        <xs:element name="//房间id,或者公共区域idroomid" type="xs:string" />
        <xs:element name="//项目名称projectid" type="xs:string" />
        <xs:element name="//计划（模块）类型plantype" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//整改时限limittime" type="xs:long" />
        <xs:element name="//批注留言comments" type="xs:string" />
        <xs:element name="//承建商（整改单位）contractor" type="xs:string" />
        <xs:element name="//责任单位responsibleunit" type="xs:string" />
        <xs:element name="//责任单位2responsibleunit2" type="xs:string" />
        <xs:element name="//责任单位3responsibleunit3" type="xs:string" />
        <xs:element name="//派遣对象dispatchunit" type="xs:string" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modify" type="xs:dateTime" />
        <xs:element name="//x坐标xcoordinates" type="xs:anyType" />
        <xs:element name="//y坐标ycoordinates" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planinfoentity" >
      <xs:sequence>
        <xs:element name="//主键planid" type="xs:string" />
        <xs:element name="//名称planname" type="xs:string" />
        <xs:element name="//类型plantype" type="xs:string" />
        <xs:element name="//阶段1工程建设2验房交房3物业运营stage" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//开始时间begin" type="xs:dateTime" />
        <xs:element name="//结束时间end" type="xs:dateTime" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//执行人executeby" type="xs:string" />
        <xs:element name="//执行部门executedepart" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialimageentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="bussinessid" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="crttime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancaseimageentity" >
      <xs:sequence>
        <xs:element name="//主键imageid" type="xs:string" />
        <xs:element name="//类型:1问题检查项2整改单types" type="xs:string" />
        <xs:element name="//检查项id或者整改单idcheckid" type="xs:string" />
        <xs:element name="//图片地址imageurl" type="xs:string" />
        <xs:element name="//排序sort" type="xs:long" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancheckstandardentity" >
      <xs:sequence>
        <xs:element name="//主键standid" type="xs:string" />
        <xs:element name="//标准说明standdesc" type="xs:string" />
        <xs:element name="//检查项idcheckid" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientrelationsslideshowentity" >
      <xs:sequence>
        <xs:element name="//轮播图idslideshowid" type="xs:string" />
        <xs:element name="//轮播图标题slideshowtitle" type="xs:string" />
        <xs:element name="//轮播图插图slideshowimgurl" type="xs:string" />
        <xs:element name="//轮播图内容slideshowcontent" type="xs:string" />
        <xs:element name="//来源slideshowsource" type="xs:string" />
        <xs:element name="//type值1：图文2：视频slideshowtype" type="xs:string" />
        <xs:element name="//视频链接videourl" type="xs:string" />
        <xs:element name="//h5外部链接outurl" type="xs:string" />
        <xs:element name="//状态0删除1正常state" type="xs:string" />
        <xs:element name="//是否轮播0不轮播1轮播isslideshow" type="xs:string" />
        <xs:element name="//创建人createname" type="xs:string" />
        <xs:element name="//创建人idcreateby" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//修改人modifyname" type="xs:string" />
        <xs:element name="//修改人idmodifyby" type="xs:string" />
        <xs:element name="//修改时间modify" type="xs:dateTime" />
        <xs:element name="//发布时间release" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialquotaentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//指标说明quotadesc" type="xs:string" />
        <xs:element name="//是否合格0不合格1合格qualified" type="xs:string" />
        <xs:element name="//材料验收idmaterialid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancasesetentity" >
      <xs:sequence>
        <xs:element name="//主键批次idsetid" type="xs:string" />
        <xs:element name="//计划类型plantype" type="xs:string" />
        <xs:element name="//批次名称setname" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//区域idareaid" type="xs:string" />
        <xs:element name="//楼栋idbuildingid" type="xs:string" />
        <xs:element name="//单元idunitid" type="xs:string" />
        <xs:element name="//楼层floor" type="xs:string" />
        <xs:element name="//方位position" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//批次验收范围scope" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//进场时间approach" type="xs:dateTime" />
        <xs:element name="//进场批量approachnum" type="xs:string" />
        <xs:element name="//验收人员inspectby" type="xs:string" />
        <xs:element name="//验收时间inspect" type="xs:dateTime" />
        <xs:element name="//批次状态0关闭1打开2删除status" type="xs:string" />
        <xs:element name="//类型：批次、活动settype" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electronizationguideentity" >
      <xs:sequence>
        <xs:element name="//自增长idid" type="xs:long" />
        <xs:element name="//时间戳增加和修改时候均修改当前字段modifytime" type="xs:dateTime" />
        <xs:element name="//当前级别iduuidcurrentid" type="xs:string" />
        <xs:element name="//创建时间增加时候写入当前字段createtime" type="xs:dateTime" />
        <xs:element name="//状态1启用0.关闭state" type="xs:string" />
        <xs:element name="//文件名filename" type="xs:string" />
        <xs:element name="//路径path" type="xs:string" />
        <xs:element name="//文件大小size" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="materialexitentity" >
      <xs:sequence>
        <xs:element name="//主键exitid" type="xs:string" />
        <xs:element name="//图片附件地址imgurl" type="xs:string" />
        <xs:element name="//问题描述problem" type="xs:string" />
        <xs:element name="//材料idmaterialid" type="xs:string" />
        <xs:element name="//材料类型materialtype" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//验收人checkperson" type="xs:string" />
        <xs:element name="//验收时间checktime" type="xs:dateTime" />
        <xs:element name="//供应商supplier" type="xs:string" />
        <xs:element name="//责任单位dutyunit" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plansetinitentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//名称initname" type="xs:string" />
        <xs:element name="//计划类型plantype" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//区域idareaid" type="xs:string" />
        <xs:element name="//楼栋idbuildingid" type="xs:string" />
        <xs:element name="//单元idunitid" type="xs:string" />
        <xs:element name="//楼层floor" type="xs:string" />
        <xs:element name="//方位position" type="xs:string" />
        <xs:element name="//是否生效iseffective" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plancheckentity" >
      <xs:sequence>
        <xs:element name="//主键checkid" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//计划idplanid" type="xs:string" />
        <xs:element name="//检查项层级itemlevel" type="xs:string" />
        <xs:element name="//父级检查项parentitem" type="xs:string" />
        <xs:element name="//排序itemorder" type="xs:long" />
        <xs:element name="//检查项名称itemname" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//使用部位useplace" type="xs:string" />
        <xs:element name="//供应商vender" type="xs:string" />
        <xs:element name="//材料负责人checkpersion" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientrelationsnewsentity" >
      <xs:sequence>
        <xs:element name="//新闻idnewsid" type="xs:string" />
        <xs:element name="//新闻标题newstitle" type="xs:string" />
        <xs:element name="//新闻插图newsimgurl" type="xs:string" />
        <xs:element name="//新闻内容newscontent" type="xs:string" />
        <xs:element name="//所属区域newssource" type="xs:string" />
        <xs:element name="//所属区域idprojectid" type="xs:string" />
        <xs:element name="//type值1：图文2：视频3:外链newstype" type="xs:string" />
        <xs:element name="//状态0删除1正常state" type="xs:string" />
        <xs:element name="//视频链接videourl" type="xs:string" />
        <xs:element name="//h5外链outurl" type="xs:string" />
        <xs:element name="//创建人createname" type="xs:string" />
        <xs:element name="//创建人idcreateby" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//修改人modifyname" type="xs:string" />
        <xs:element name="//修改人idmodifyby" type="xs:string" />
        <xs:element name="//修改时间modify" type="xs:dateTime" />
        <xs:element name="//发布时间release" type="xs:dateTime" />
        <xs:element name="//访问量amountaccess" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 