tutoriales38/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exotictype" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customexotictypeeditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertyeditorapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyeditorrestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditcardeditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="creditcard" >
      <xs:sequence>
        <xs:element name="rawcardnumber" type="xs:string" />
        <xs:element name="bankidno" type="xs:anyType" />
        <xs:element name="accountno" type="xs:anyType" />
        <xs:element name="checkcode" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="plaincontact" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plaincontactwithjavautildate" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactapp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactwithjavautildate" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="birthday" type="xs:dateTime" />
        <xs:element name="lastup" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="phone" type="xs:string" />
        <xs:element name="birthday" type="xs:anyType" />
        <xs:element name="lastupdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactappconfig" >
      <xs:sequence>
        <xs:element name="dateformat" type="xs:string" />
        <xs:element name="datetimeformat" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatajpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatamongodb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdataredis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storerepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<store,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootjaversapplication" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javersconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updatepricedto" >
      <xs:sequence>
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rebrandstoredto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="storeservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storeservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="address" type="xs:string" />
        <xs:element name="zipcode" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
        <xs:element name="GeneratedName" type="store" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="products" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userjsonserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="favorite" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userjsondeserializer" >
      <xs:complexContent>
       <xs:extension base="jsondeserializer<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usercombinedserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootdataapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactappwithobjectmappercustomizerintegrationtest" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="resttemplate" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contactappintegrationtest" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="resttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="creditcardeditorunittest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="creditcardeditor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontrollerintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdataredisintegrationtest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatajpaintegrationtest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatamongodbintegrationtest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userjsonserializerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userjsondeserializerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 