TSI-IFRN72/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="note" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 