tutoriales59/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="foodao" >
      <xs:complexContent>
       <xs:extension base="abstractjpadao<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpadao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<foo>">
         <xs:sequence>
          <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifooservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:complexContent>
       <xs:extension base="jparepository<foo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastlogindate" type="xs:anyType" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="possessionlist" type="possession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possession" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositorycustomimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foodao" >
      <xs:complexContent>
       <xs:extension base="abstracthibernatedao<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hibernateconf" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="barhibernatedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatexmlconf" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:sequence>
        <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foolist" type="foo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="bar" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstracthibernatedao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="generichibernatedao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericjpadao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="igenericdao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ioperations" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencejpaconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeedao" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customsqlerrorcodetranslator" >
      <xs:complexContent>
       <xs:extension base="sqlerrorcodesqlexceptiontranslator">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeerowmapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjdbcconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stored_procedure" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foostoredprocedureslivetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fooservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicesortingwitnullsmanualintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicepersistenceintegrationtest" >
      <xs:sequence>
        <xs:element name="service" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footransactionalunittest" >
      <xs:complexContent>
       <xs:extension base="basicfoodao">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencetransactionaltestconfig" >
      <xs:complexContent>
       <xs:extension base="transactionsynchronizationadapter">
         <xs:sequence>
          <xs:element name="adapterspythreadlocal" type="xs:anyType" />
          <xs:element name="env" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foopaginationpersistenceintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicesortingintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatebootstrapintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernatexmlbootstrapintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositoryintegrationtest" >
      <xs:complexContent>
       <xs:extension base="userrepositorycommon">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositorycommon" >
      <xs:sequence>
        <xs:element name="user_email" type="xs:string" />
        <xs:element name="user_email2" type="xs:string" />
        <xs:element name="user_email3" type="xs:string" />
        <xs:element name="user_email4" type="xs:string" />
        <xs:element name="inactive_status" type="xs:anyType" />
        <xs:element name="active_status" type="xs:anyType" />
        <xs:element name="user_email5" type="xs:string" />
        <xs:element name="user_email6" type="xs:string" />
        <xs:element name="user_name_adam" type="xs:string" />
        <xs:element name="user_name_peter" type="xs:string" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="abstractservicepersistenceintegrationtest<foo>">
         <xs:sequence>
          <xs:element name="service" type="ifooservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeedaointegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="employeedao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 