TSI-IFRN67/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="consts" >
      <xs:sequence>
        <xs:element name="application_port" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configtest" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imarshaller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xstreammarshaller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testmarshallerfactory" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacksonmarshaller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="abstractservicepersistenceintegrationtest<foo>">
         <xs:sequence>
          <xs:element name="service" type="ifooservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencetestsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractlivetest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="marshaller" type="imarshaller" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbasiclivetest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractdiscoverabilitylivetest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodiscoverabilitylivetest" >
      <xs:complexContent>
       <xs:extension base="abstractdiscoverabilitylivetest<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foolivetest" >
      <xs:complexContent>
       <xs:extension base="abstractbasiclivetest<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foopageablelivetest" >
      <xs:complexContent>
       <xs:extension base="abstractbasiclivetest<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="livetestsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httplinkheaderutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testfile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="age" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<foo>">
         <xs:sequence>
          <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifooservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ioperations" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:complexContent>
       <xs:extension base="jparepository<foo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="metricservice" >
      <xs:sequence>
        <xs:element name="metricmap" type="xs:anyType" />
        <xs:element name="statusmetric" type="xs:anyType" />
        <xs:element name="timemap" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icustomactuatormetricservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actuatormetricservice" >
      <xs:sequence>
        <xs:element name="publicmetrics" type="xs:anyType" />
        <xs:element name="statusmetricsbyminute" type="xs:anyType" />
        <xs:element name="statuslist" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customactuatormetricservice" >
      <xs:sequence>
        <xs:element name="repo" type="xs:anyType" />
        <xs:element name="counter" type="xs:anyType" />
        <xs:element name="statusmetricsbyminute" type="xs:anyType" />
        <xs:element name="statuslist" type="xs:anyType" />
        <xs:element name="dateformat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iactuatormetricservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imetricservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metricfilter" >
      <xs:sequence>
        <xs:element name="metricservice" type="imetricservice" nillable="true" minOccurs="0" />
        <xs:element name="actmetricservice" type="icustomactuatormetricservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="restpreconditions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linkutil" >
      <xs:sequence>
        <xs:element name="rel_collection" type="xs:string" />
        <xs:element name="rel_next" type="xs:string" />
        <xs:element name="rel_prev" type="xs:string" />
        <xs:element name="rel_first" type="xs:string" />
        <xs:element name="rel_last" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rootcontroller" >
      <xs:sequence>
        <xs:element name="metricservice" type="imetricservice" nillable="true" minOccurs="0" />
        <xs:element name="actmetricservice" type="iactuatormetricservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foocontroller" >
      <xs:sequence>
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="service" type="ifooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginatedresultsretrieveddiscoverabilitylistener" >
      <xs:sequence>
        <xs:element name="page" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="singleresourceretrieveddiscoverabilitylistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcecreateddiscoverabilitylistener" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginatedresultsretrievedevent" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="uribuilder" type="xs:anyType" />
          <xs:element name="response" type="xs:anyType" />
          <xs:element name="page" type="xs:long" />
          <xs:element name="totalpages" type="xs:long" />
          <xs:element name="pagesize" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcecreatedevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent">
         <xs:sequence>
          <xs:element name="response" type="xs:anyType" />
          <xs:element name="idofnewresource" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="singleresourceretrievedevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent">
         <xs:sequence>
          <xs:element name="response" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myresourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restresponseentityexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="api-servlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 