tutoriales11/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="reladomointegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guidetojdointegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ormliteintegrationtest" >
      <xs:sequence>
        <xs:element name="connectionsource" type="xs:anyType" />
        <xs:element name="librarydao" type="xs:anyType" />
        <xs:element name="bookdao" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hikaricpintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reladomotestconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test-data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="bookid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="library" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librarydaoimpl" >
      <xs:complexContent>
       <xs:extension base="basedaoimpl<library,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="library" >
      <xs:sequence>
        <xs:element name="libraryid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="books" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="addressid" type="xs:long" />
        <xs:element name="addressline" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="librarydao" >
      <xs:complexContent>
       <xs:extension base="dao<library,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:complexContent>
       <xs:extension base="basemodel">
         <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="" type="address" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="basemodel" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="version" type="xs:long" />
        <xs:element name="createdon" type="xs:anyType" />
        <xs:element name="modifiedon" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:complexContent>
       <xs:extension base="basemodel">
         <xs:sequence>
          <xs:element name="addressline1" type="xs:string" />
          <xs:element name="addressline2" type="xs:string" />
          <xs:element name="city" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="app2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasource" >
      <xs:sequence>
        <xs:element name="config" type="xs:anyType" />
        <xs:element name="ds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
        <xs:element name="empno" type="xs:long" />
        <xs:element name="ename" type="xs:string" />
        <xs:element name="job" type="xs:string" />
        <xs:element name="mgr" type="xs:long" />
        <xs:element name="hire" type="xs:dateTime" />
        <xs:element name="sal" type="xs:long" />
        <xs:element name="comm" type="xs:long" />
        <xs:element name="deptno" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hikaricpdemo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="personnum" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phonenumbers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myapp" >
      <xs:sequence>
        <xs:element name="pumd" type="xs:anyType" />
        <xs:element name="pmf" type="xs:anyType" />
        <xs:element name="pm" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotadedperson" >
      <xs:sequence>
        <xs:element name="personnum" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="phonenumbers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productxml" >
      <xs:sequence>
        <xs:element name="productnumber" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guidetojdo" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="rnd" type="xs:anyType" />
        <xs:element name="pumd" type="xs:anyType" />
        <xs:element name="pumdxml" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myapp" >
      <xs:sequence>
        <xs:element name="pmf" type="xs:anyType" />
        <xs:element name="pm" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productitem" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employeelist" >
      <xs:complexContent>
       <xs:extension base="employeelistabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employeedatabaseobject" >
      <xs:complexContent>
       <xs:extension base="employeedatabaseobjectabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="departmentdatabaseobject" >
      <xs:complexContent>
       <xs:extension base="departmentdatabaseobjectabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reladomoconnectionmanager" >
      <xs:sequence>
        <xs:element name="instance" type="reladomoconnectionmanager" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="databasename" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="departmentlist" >
      <xs:complexContent>
       <xs:extension base="departmentlistabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="employeeabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:complexContent>
       <xs:extension base="departmentabstract">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reladomoapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ebean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datanucleus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="benchmarklist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reladomoruntimeconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reladomoclasslist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 