TechBazaar/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-theme.min.css" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.slim.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.css" >
      <xs:complexContent>
       <xs:extension base="the">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.min.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.min.js" >
      <xs:complexContent>
       <xs:extension base="tooltip">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bootstrap.bundle.js" >
      <xs:complexContent>
       <xs:extension base="keeptogether">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="navbar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signuppage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managecategory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateuser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateproductinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateproduct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addsupplier" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="root-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordencryption" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purchaseddaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purchaseddaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercartdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productreportimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productreport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorydaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverydaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categorydaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdaosimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercartdaos" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplierdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliverydaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercartdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendationdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdaos" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recommendationdaosimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="ratingdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productdaos" nillable="true" minOccurs="0" />
        <xs:element name="ratingmatrix" type="xs:long" />
        <xs:element name="totalusers,totalproducts" type="xs:long" />
        <xs:element name="producttopredict" type="xs:anyType" />
        <xs:element name="recommendedproduct" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delivery" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercart" nillable="true" minOccurs="0" />
        <xs:element name="location" type="location" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cart" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercart" nillable="true" minOccurs="0" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="subtotal" type="xs:double" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="purchased" type="purchased" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="purchased" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="cart" nillable="true" minOccurs="0" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="ordereddate" type="xs:string" />
        <xs:element name="delivereddate" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="delivery" nillable="true" minOccurs="0" />
        <xs:element name="latitude" type="xs:string" />
        <xs:element name="longitude" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercart" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="cart" type="cart" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="delivery" type="delivery" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="product" nillable="true" minOccurs="0" />
        <xs:element name="rating" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="supplier" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="product" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="contact" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="comment" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="rating" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="usercart" nillable="true" minOccurs="0" />
        <xs:element name="delivery" type="delivery" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="category" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="isactive" type="xs:anyType" />
        <xs:element name="product" type="product" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="//@field(index" type="xs:string" />
        <xs:element name="//@field(index" type="xs:string" />
        <xs:element name="//@field(index" type="xs:string" />
        <xs:element name="unit_price" type="xs:double" />
        <xs:element name="quantity" type="xs:long" />
        <xs:element name="//columndefination" type="xs:anyType" />
        <xs:element name="views" type="xs:long" />
        <xs:element name="////stringsupplier_name////stringsupplier_emailquantity_limit" type="xs:long" />
        <xs:element name="cart" type="cart" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="comment" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="rating" type="rating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="category" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="supplier" nillable="true" minOccurs="0" />
        <xs:element name="entrydate" type="xs:string" />
        <xs:element name="file" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uploadfileutil" >
      <xs:sequence>
        <xs:element name="abs_path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cartcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="cartdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="purchaseddaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercartdaos" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usercartdaos" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ratingcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userdaos" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="categorydaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="purchaseddaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="commentdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="ratingdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="supplierdaos" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recommendationdaos" nillable="true" minOccurs="0" />
        <xs:element name="count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 