vesta-new-admin6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="announcemententity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//内容content" type="xs:string" />
        <xs:element name="//公告内容简介_2016-06-17-wydcontentsynopsis" type="xs:string" />
        <xs:element name="//发布状态releasestatus" type="xs:anyType" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operat" type="xs:dateTime" />
        <xs:element name="//操作人operatperson" type="xs:string" />
        <xs:element name="//投票数votenum" type="xs:long" />
        <xs:element name="//是否进行投票0,不进行1，进行isvote" type="xs:anyType" />
        <xs:element name="//点赞数likenum" type="xs:long" />
        <xs:element name="//回复数replynum" type="xs:long" />
        <xs:element name="//状态status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionentity" >
      <xs:sequence>
        <xs:element name="//收藏idid" type="xs:string" />
        <xs:element name="//收藏内容idmessageid" type="xs:string" />
        <xs:element name="//收藏类型1_公告,2_活动,3_电子杂志messagetype" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//收藏时间create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voterecordentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//投票用户iduserid" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//公告idannouncementid" type="xs:string" />
        <xs:element name="//投票idvoteid" type="xs:string" />
        <xs:element name="//投票项idvoteoptionid" type="xs:string" />
        <xs:element name="//integervotenumber//投票数量//integerstatus//0,启用1，不启用//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementvoteentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//公告idannouncementid" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//投票idvoteid" type="xs:string" />
        <xs:element name="//投票选项idvoteoptionid" type="xs:string" />
        <xs:element name="//投票数量votenumber" type="xs:anyType" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electronicmagazinelikelogentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//资源id(电子杂志id)resourceid" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementreplyentity" >
      <xs:sequence>
        <xs:element name="/*回复状态*///有效status_valid" type="xs:string" />
        <xs:element name="//无效status_invalid" type="xs:string" />
        <xs:element name="//删除status_deleted" type="xs:string" />
        <xs:element name="/*回复类型*///用户type_user" type="xs:string" />
        <xs:element name="//管理员type_admin" type="xs:string" />
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//主贴id_annocumentidtopicid" type="xs:string" />
        <xs:element name="//用户id_回帖人的iduserid" type="xs:string" />
        <xs:element name="//回帖人昵称usernickname" type="xs:string" />
        <xs:element name="replyid" type="xs:string" />
        <xs:element name="//回复用户id_回帖人的id，指向上一个回复人replyuserid" type="xs:string" />
        <xs:element name="//被回复人的昵称replyusernickname" type="xs:string" />
        <xs:element name="//内容content" type="xs:string" />
        <xs:element name="//2016-06-17-wyd//管理员回复内容replycontent" type="xs:string" />
        <xs:element name="//类型//2:管理员回复,1:用户回复type" type="xs:string" />
        <xs:element name="//状态status" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
        <xs:element name="//楼层floor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementscopeentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//announcementdetailid" type="xs:string" />
        <xs:element name="//全部0,不是全部1,全部isall" type="xs:anyType" />
        <xs:element name="//所属城市city" type="xs:string" />
        <xs:element name="//所属城市idcityid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//范围等级设定城市为二级菜单，设定项目为三级菜单scope" type="xs:string" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="videohqentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//视频名称videoname" type="xs:string" />
        <xs:element name="//视频导图videomapimgurl" type="xs:string" />
        <xs:element name="//视频idvideoid" type="xs:string" />
        <xs:element name="//视频链接videolinksrc" type="xs:string" />
        <xs:element name="//视频简介videosynopsis" type="xs:string" />
        <xs:element name="//发布状态(0,未发布/1,已发布)releasestatus" type="xs:anyType" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="electronicmagazineentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//微信appidclientid" type="xs:anyType" />
        <xs:element name="//客户端名称clientname" type="xs:string" />
        <xs:element name="//杂志名称magazinename" type="xs:string" />
        <xs:element name="//杂志导图mapimgurl" type="xs:string" />
        <xs:element name="//封面coverimgurl" type="xs:string" />
        <xs:element name="//目录catalogimgurl" type="xs:string" />
        <xs:element name="//封底backcoverimgurl" type="xs:string" />
        <xs:element name="//栏目内容(json)columncontentjson" type="xs:string" />
        <xs:element name="//是否外链(0,否/1,是)islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//点赞数likenum" type="xs:long" />
        <xs:element name="//发布状态(0,未发布/1,已发布)releasestatus" type="xs:anyType" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voteoptionentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//投票详情idvoteid" type="xs:string" />
        <xs:element name="//投票图片url" type="xs:string" />
        <xs:element name="//投票描述description" type="xs:string" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//选项排序optionorder" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementlogentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//公告idannouncementid" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="businessbulletinentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//公告标题title" type="xs:string" />
        <xs:element name="//公告内容content" type="xs:string" />
        <xs:element name="//公告信息标识图infosignimgurl" type="xs:string" />
        <xs:element name="//是否作为banner展示(0,否/1,是)isbanner" type="xs:anyType" />
        <xs:element name="//是否外链islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//发布状态(0,未发布/1,已发布)releasestatus" type="xs:anyType" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//工程项目编码projectcode" type="xs:string" />
        <xs:element name="//工程项目名称projectname" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="voteentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//截至日期end" type="xs:dateTime" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//投票类型(0:单选,1:多选)votetype" type="xs:anyType" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 