tests4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="typeholder" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="details" type="complicatedtype" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animal" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="farm" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="farm" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="animals" type="animal" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//pkifappidid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="website" >
      <xs:sequence>
        <xs:element name="//pkforappidid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="department" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="primarykey" type="departmentpk" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="manager" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="budget" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="organisation" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="employee" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="serialno" type="xs:string" />
          <xs:element name="salary" type="xs:double" />
          <xs:element name="salarycurrency" type="xs:string" />
          <xs:element name="yearsincompany" type="xs:anyType" />
          <xs:element name="" type="manager" nillable="true" minOccurs="0" />
          <xs:element name="" type="account" nillable="true" minOccurs="0" />
          <xs:element name="/***usedforthequeryingoffields.*/firstname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonenumber" >
      <xs:sequence>
        <xs:element name="//pkwhenusingappidid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="number" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manager" >
      <xs:complexContent>
       <xs:extension base="employee">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="subordinates" type="employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="departments" type="department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="qualification" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="person" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="organisation" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//partofpkwithappidpersonnum" type="xs:long" />
        <xs:element name="//partofpkwithappidglobalnum" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="emailaddress" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="bestfriend" type="person" nillable="true" minOccurs="0" />
        <xs:element name="phonenumbers" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coach" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="yearsexperience" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="player" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
          <xs:element name="start" type="xs:dateTime" />
          <xs:element name="" type="team" nillable="true" minOccurs="0" />
          <xs:element name="datetime" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manager" >
      <xs:complexContent>
       <xs:extension base="coach">
         <xs:sequence>
          <xs:element name="" type="team" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="querytypes" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="listofbytearray" type="xs:anyType" />
        <xs:element name="nonentityserialisable" type="xs:anyType" />
        <xs:element name="validated" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="team" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="manager" nillable="true" minOccurs="0" />
        <xs:element name="players" type="player" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="website" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:complexContent>
       <xs:extension base="abstractperson">
         <xs:sequence>
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:complexContent>
       <xs:extension base="projectowner<?">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="owner" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="minorproject" >
      <xs:complexContent>
       <xs:extension base="project<juniorprojectowner>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="majorproject" >
      <xs:complexContent>
       <xs:extension base="project<seniorprojectowner>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="collectionowner" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="elemen" type="xs:anyType" />
        <xs:element name="elements" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="c" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="amount" type="xs:anyType" />
        <xs:element name="currency" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="a" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="b" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectowner" >
      <xs:complexContent>
       <xs:extension base="project<?">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="id" type="xs:long" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="currentroject" type="xs:anyType" />
          <xs:element name="projects" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="concreteentity105" >
      <xs:complexContent>
       <xs:extension base="abstractentity105">
         <xs:sequence>
          <xs:element name="property" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="juniorprojectowner" >
      <xs:complexContent>
       <xs:extension base="projectowner<minorproject>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="otherentity105" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionelement" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="seniorprojectowner" >
      <xs:complexContent>
       <xs:extension base="projectowner<majorproject>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 