Testing2/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="auditdao" >
      <xs:sequence>
        <xs:element name="auditkey" type="xs:string" />
        <xs:element name="timestamp" type="xs:dateTime" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="entity" type="xs:anyType" />
        <xs:element name="event" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 