USTGlobal-16Sep2019-ASreekanthReddy3/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="pid" type="xs:long" />
        <xs:element name="pname" type="xs:string" />
        <xs:element name="quantity" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 