tutoriales44/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="springcontexttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5applicationintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="example2integrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanregistrationintegrationtest" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5junit4concurrentintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="beaninitialized" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionobtainerunittest" >
      <xs:sequence>
        <xs:element name="version" type="versionobtainer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="example1integrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getautogenkeybyjdbcinttest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messagerepositorysimplejdbcinsert" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messagerepositoryjdbctemplate" nillable="true" minOccurs="0" />
        <xs:element name="message_content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apidocumentationjunit4integrationtest" >
      <xs:sequence>
        <xs:element name="restdocumentation" type="xs:anyType" />
        <xs:element name="context" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apidocumentationjunit5integrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjunitconfigintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5junit5integrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5enabledannotationintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5junit5composedannotationintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="task" nillable="true" minOccurs="0" />
        <xs:element name="tasks" type="task" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5java8newfeaturesintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="enabledonjava8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5junit5parallelintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjunitwebconfigintegrationtest" >
      <xs:sequence>
        <xs:element name="webappcontext" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonbintegrationtest" >
      <xs:sequence>
        <xs:element name="template" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parallelintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationwithhikariconnectionpool" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hikariintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springxmlconfigurationintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autogenkey-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autogenkey-db" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="versionobtainer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actor" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foocontroller" >
      <xs:sequence>
        <xs:element name="repo" type="foorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carbattery" >
      <xs:sequence>
        <xs:element name="charge" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="engine" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="state" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="toyotaengine" >
      <xs:complexContent>
       <xs:extension base="engine">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="messagerepositoryjdbctemplate" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="insert_message_sql" type="xs:string" />
        <xs:element name="select_by_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepositorysimplejdbcinsert" >
      <xs:sequence>
        <xs:element name="messageinsert" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodparameterfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjunit5config" >
      <xs:complexContent>
       <xs:extension base="applicationcontextinitializer<?">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameterautowireutils" >
      <xs:complexContent>
       <xs:extension base="annotation>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springextension" >
      <xs:sequence>
        <xs:element name="namespace" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudinput" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="body" type="xs:string" />
        <xs:element name="taguris" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexcontroller" >
      <xs:complexContent>
       <xs:extension base="representationmodel<customrepresentationmodel>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springrestdocsapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasetupbean" >
      <xs:sequence>
        <xs:element name="repo" type="foorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<foo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="actorcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="actorservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actornotfoundexception" >
      <xs:complexContent>
       <xs:extension base="exception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springexceptionapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="actorservice" >
      <xs:sequence>
        <xs:element name="actors" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spring5application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="personcontroller" >
      <xs:sequence>
        <xs:element name="personrepository" type="person" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="registereddate" type="xs:anyType" />
        <xs:element name="salary" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 