tutoriales19/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="rating" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="bookid" type="xs:long" />
        <xs:element name="stars" type="xs:long" />
        <xs:element name="fromcache" type="xs:anyType" />
        <xs:element name="cachedts" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 