ustglobal_16sep19_kavitha4/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="employeebean" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="gender" type="xs:string" />
        <xs:element name="doj" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 