TSI-IFRN20/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="accountservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
        <xs:element name="mock" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="thrown" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userauthenticationintegrationtest" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigurationaware">
         <xs:sequence>
          <xs:element name="sec_context_attr" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nocsrfsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="securityconfig">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webappconfigurationaware" >
      <xs:sequence>
        <xs:element name="wac" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embeddeddatasourceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="websecurityconfigurationaware" >
      <xs:complexContent>
       <xs:extension base="webappconfigurationaware">
         <xs:sequence>
          <xs:element name="springsecurityfilterchain" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="signupcontrollertest" >
      <xs:complexContent>
       <xs:extension base="webappconfigurationaware">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favicon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homesignedin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="general" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="footer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ajaxutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="message" >
      <xs:sequence>
        <xs:element name="/***nameoftheflashattribute.*/message_attribute" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="args" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagehelper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerrorcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupcontroller" >
      <xs:sequence>
        <xs:element name="signup_view_name" type="xs:string" />
        <xs:element name="GeneratedName" type="accountservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signupform" >
      <xs:sequence>
        <xs:element name="not_blank_message" type="xs:string" />
        <xs:element name="email_message" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accountrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<account,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="account" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="role" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="accountservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaconfig" >
      <xs:sequence>
        <xs:element name="driver" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="dialect" type="xs:string" />
        <xs:element name="hbm2ddlauto" type="xs:string" />
        <xs:element name="showsql" type="xs:string" />
        <xs:element name="formatsql" type="xs:string" />
        <xs:element name="usesqlcomments" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webmvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigurationsupport">
         <xs:sequence>
          <xs:element name="message_source" type="xs:string" />
          <xs:element name="views" type="xs:string" />
          <xs:element name="resources_location" type="xs:string" />
          <xs:element name="resources_handler" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webappinitializer" >
      <xs:complexContent>
       <xs:extension base="abstractannotationconfigdispatcherservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="taskservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskcontroller_layoutdialect" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="taskservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="text" type="xs:string" />
        <xs:element name="created" type="xs:anyType" />
        <xs:element name="dueto" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taskrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<task,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 