testjenkins5/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="inestedtestbean" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itestbean" >
      <xs:complexContent>
       <xs:extension base="person">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="colour" >
      <xs:complexContent>
       <xs:extension base="shortcodedlabeledenum">
         <xs:sequence>
          <xs:element name="red" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="blue" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="green" type="colour" nillable="true" minOccurs="0" />
          <xs:element name="purple" type="colour" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="beanconfigurertests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springconfiguredwithautoproxyingtests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testbean" >
      <xs:sequence>
        <xs:element name="beanname" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="postprocessed" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="sex" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="jedi" type="xs:anyType" />
        <xs:element name="spouses" type="itestbean" nillable="true" minOccurs="0" />
        <xs:element name="touchy" type="xs:string" />
        <xs:element name="array" type="xs:string" />
        <xs:element name="somearray" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="my" type="xs:double" />
        <xs:element name="friends" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="doctor" type="inestedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="lawyer" type="inestedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="nestedindexedbean" type="indexedtestbean" nillable="true" minOccurs="0" />
        <xs:element name="destroyed" type="xs:anyType" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="favourite" type="colour" nillable="true" minOccurs="0" />
        <xs:element name="some" type="xs:anyType" />
        <xs:element name="othercolours" type="xs:anyType" />
        <xs:element name="pets" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="derivedtestbean" >
      <xs:complexContent>
       <xs:extension base="testbean">
         <xs:sequence>
          <xs:element name="beanname" type="xs:string" />
          <xs:element name="initialized" type="xs:anyType" />
          <xs:element name="destroyed" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="nestedtestbean" >
      <xs:sequence>
        <xs:element name="company" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="indexedtestbean" >
      <xs:sequence>
        <xs:element name="array" type="testbean" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iother" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autoproxywithcodestyleaspectstests" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="codestyleaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="delegate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person_roo_entity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationdrivenstaticentitymockingcontroltest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callcountingtransactionmanager" >
      <xs:complexContent>
       <xs:extension base="abstractplatformtransactionmanager">
         <xs:sequence>
          <xs:element name="lastdefinition" type="xs:anyType" />
          <xs:element name="begun" type="xs:long" />
          <xs:element name="commits" type="xs:long" />
          <xs:element name="rollbacks" type="xs:long" />
          <xs:element name="inflight" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="transactionaspecttests" >
      <xs:complexContent>
       <xs:extension base="abstractdependencyinjectionspringcontexttests">
         <xs:sequence>
          <xs:element name="transactionaspect" type="xs:anyType" />
          <xs:element name="txmanager" type="callcountingtransactionmanager" nillable="true" minOccurs="0" />
          <xs:element name="annotationonlyonclasswithnointerface" type="xs:anyType" />
          <xs:element name="beanwithannotatedprotectedmethod" type="classwithprotectedannotatedmember" nillable="true" minOccurs="0" />
          <xs:element name="classwithannotatedmemberbeanwithannotatedmethod" type="classwithprivateannotatedmember" nillable="true" minOccurs="0" />
          <xs:element name="methodannotationonly" type="methodannotationonclasswithnointerface" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="classwithprotectedannotatedmember" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classwithprivateannotatedmember" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionaspecttests-context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itransactional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodannotationonclasswithnointerface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="log4j" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="overview" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurableobject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractdependencyinjectionaspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="genericinterfacedrivendependencyinjectionaspect" >
      <xs:complexContent>
       <xs:extension base="genericinterfacedrivendependencyinjectionaspect<pricingstrategyclient>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationbeanconfigureraspect" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractinterfacedrivendependencyinjectionaspect" >
      <xs:complexContent>
       <xs:extension base="abstractdependencyinjectionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractbeanconfigureraspect" >
      <xs:complexContent>
       <xs:extension base="beanconfigurersupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="annotationdrivenstaticentitymockingcontrol" >
      <xs:complexContent>
       <xs:extension base="abstractmethodmockingcontrol">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mockstaticentitymethods" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractmethodmockingcontrol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="annotationtransactionaspect" >
      <xs:complexContent>
       <xs:extension base="abstracttransactionaspect">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstracttransactionaspect" >
      <xs:complexContent>
       <xs:extension base="transactionaspectsupport">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jpaexceptiontranslatoraspect" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 