tokenAPI/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="userentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenmanagerentity" >
      <xs:sequence>
        <xs:element name="userid" type="xs:string" />
        <xs:element name="tokenname" type="xs:string" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="accesscount" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 