YerbaMateMicrosvcDockerK8s1/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="paymententity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="checkoutcode" type="xs:string" />
        <xs:element name="createdat" type="xs:anyType" />
        <xs:element name="updatedat" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 