tutoriales60/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistenceproductconfiguration" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possessionmultipledb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usermultipledb" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="possessionlist" type="possessionmultipledb" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceproductautoconfiguration" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multipledbapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceuserconfiguration" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<product,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<usermultipledb,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="possessionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<possessionmultipledb,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceuserautoconfiguration" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customitemrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemtyperepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<itemtype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="readonlylocationrepository" >
      <xs:complexContent>
       <xs:extension base="repository<location,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<store,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ibarcrudrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<bar,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customitemtyperepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possessionrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<possession,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorycustomimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<article,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extendedstudentrepository" >
      <xs:complexContent>
       <xs:extension base="extendedrepository<student,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extendedrepository" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:complexContent>
       <xs:extension base="jparepository<foo,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="locationrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<location,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extendedrepositoryimpl" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customitemtyperepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customitemrepositoryimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inventoryrepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<merchandiseentity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifooservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ioperations" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<foo>">
         <xs:sequence>
          <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractspringdatajpaservice" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="barspringdatajpaservice" >
      <xs:complexContent>
       <xs:extension base="abstractspringdatajpaservice<bar>">
         <xs:sequence>
          <xs:element name="dao" type="ibarcrudrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ibarservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<bar>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domainevent" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate" >
      <xs:sequence>
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate2repository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<aggregate2,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="domainservice" >
      <xs:sequence>
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="repository" type="aggregaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregaterepository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<aggregate,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dddconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate2" >
      <xs:sequence>
        <xs:element name="domainevents" type="domainevent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate3" >
      <xs:complexContent>
       <xs:extension base="abstractaggregateroot<aggregate3>">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="aggregate3repository" >
      <xs:complexContent>
       <xs:extension base="crudrepository<aggregate3,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skilltag" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kvtag" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="article" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="publication" type="xs:dateTime" />
        <xs:element name="publicationtime" type="xs:dateTime" />
        <xs:element name="creationtime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possession" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="item" >
      <xs:sequence>
        <xs:element name="color" type="xs:string" />
        <xs:element name="grade" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="itemtype" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="GeneratedName" type="store" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="bar" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="//@notauditedfooset" type="foo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="operation" type="xs:string" />
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="createddate" type="xs:long" />
        <xs:element name="modifieddate" type="xs:long" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="modifiedby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itemtype" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="items" type="item" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location" >
      <xs:sequence>
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="stores" type="store" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="store" >
      <xs:sequence>
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="items" type="item" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="itemssold" type="xs:long" />
        <xs:element name="GeneratedName" type="location" nillable="true" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="merchandiseentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="brand" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tags" type="xs:anyType" />
        <xs:element name="skilltags" type="skilltag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kvtags" type="kvtag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="lastlogindate" type="xs:anyType" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="possessionlist" type="possession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-multiple-db-boot" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ddd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testeventhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate2eventsintegrationtest" >
      <xs:sequence>
        <xs:element name="eventhandler" type="testeventhandler" nillable="true" minOccurs="0" />
        <xs:element name="repository" type="aggregate2repository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregateeventsintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="domainservice" nillable="true" minOccurs="0" />
        <xs:element name="eventhandler" type="testeventhandler" nillable="true" minOccurs="0" />
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="repository" type="aggregaterepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="aggregate3eventsintegrationtest" >
      <xs:sequence>
        <xs:element name="eventhandler" type="testeventhandler" nillable="true" minOccurs="0" />
        <xs:element name="repository" type="aggregate3repository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springdatajpabarauditintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="barservice" type="ibarservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservicepersistenceintegrationtest" >
      <xs:complexContent>
       <xs:extension base="abstractservicepersistenceintegrationtest<foo>">
         <xs:sequence>
          <xs:element name="service" type="ifooservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="extendedstudentrepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="extendedstudentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositoriesintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="locationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="storerepository" nillable="true" minOccurs="0" />
        <xs:element name="compositerepository" type="itemtyperepository" nillable="true" minOccurs="0" />
        <xs:element name="readonlyrepository" type="readonlylocationrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlerepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="repository" type="articlerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorytcautolivetest" >
      <xs:complexContent>
       <xs:extension base="userrepositorycommon">
         <xs:sequence>
          <xs:element name="postgresqlcontainer" type="baeldungpostgresqlcontainer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepositoryintegrationtest" >
      <xs:complexContent>
       <xs:extension base="userrepositorycommon">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="inventoryrepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="original_title" type="xs:string" />
        <xs:element name="updated_title" type="xs:string" />
        <xs:element name="updated_brand" type="xs:string" />
        <xs:element name="original_shorts_title" type="xs:string" />
        <xs:element name="repository" type="inventoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorycommon" >
      <xs:sequence>
        <xs:element name="user_email" type="xs:string" />
        <xs:element name="user_email2" type="xs:string" />
        <xs:element name="user_email3" type="xs:string" />
        <xs:element name="user_email4" type="xs:string" />
        <xs:element name="inactive_status" type="xs:anyType" />
        <xs:element name="active_status" type="xs:anyType" />
        <xs:element name="user_email5" type="xs:string" />
        <xs:element name="user_email6" type="xs:string" />
        <xs:element name="user_name_adam" type="xs:string" />
        <xs:element name="user_name_peter" type="xs:string" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userrepositorytclivetest" >
      <xs:complexContent>
       <xs:extension base="userrepositorycommon">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="idutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baeldungpostgresqlcontainer" >
      <xs:complexContent>
       <xs:extension base="postgresqlcontainer<baeldungpostgresqlcontainer>">
         <xs:sequence>
          <xs:element name="image_version" type="xs:string" />
          <xs:element name="container" type="baeldungpostgresqlcontainer" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springcontexttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpamultipledbintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="possessionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productrepositoryintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="productrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springjpacontextintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 