xbiaoshop/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="electronicslist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fashionlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wx_login_info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="waitpay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hotlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ionicons.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="animate.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepwd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsdetail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.menu-aim" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="map.jquery.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.throttle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="easing" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery-scrolltofixed-min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="searchlist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="header" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="affordablelist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="booklist" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="xbiaoshopapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sysconstant" >
      <xs:sequence>
        <xs:element name="collect_pagesize" type="xs:anyType" />
        <xs:element name="list_pagesize" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baseexceptionhandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="carcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="profilecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="evn" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kaptchacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wxlogincontroller" >
      <xs:sequence>
        <xs:element name="appid" type="xs:string" />
        <xs:element name="redirecturi" type="xs:string" />
        <xs:element name="appsecret" type="xs:string" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="response" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ordercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="orderservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsmappersqlprovider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsmapper" >
      <xs:complexContent>
       <xs:extension base="mapper<goods>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="carmapper" >
      <xs:complexContent>
       <xs:extension base="mapper<car>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ordermapper" >
      <xs:complexContent>
       <xs:extension base="mapper<order>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usermapper" >
      <xs:complexContent>
       <xs:extension base="mapper<user>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springmvcconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="logininterceptor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftputilstwo" >
      <xs:sequence>
        <xs:element name="ger" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginuserutils" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postcodeutils" >
      <xs:sequence>
        <xs:element name="url_prefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logininterceptor" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="//主键idaddressid" type="xs:long" />
        <xs:element name="//用户iduid" type="xs:long" />
        <xs:element name="//收件人consignee" type="xs:string" />
        <xs:element name="//所在地区address" type="xs:string" />
        <xs:element name="//详细地址detaddress" type="xs:string" />
        <xs:element name="//电话phone" type="xs:string" />
        <xs:element name="//邮编postcode" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
        <xs:element name="//主键iduid" type="xs:long" />
        <xs:element name="gid" type="xs:long" />
        <xs:element name="//商品数量gnum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goods" >
      <xs:sequence>
        <xs:element name="//主键idgoodsid" type="xs:long" />
        <xs:element name="//商品价格price" type="xs:anyType" />
        <xs:element name="//商品类型idtypeid" type="xs:anyType" />
        <xs:element name="//商品图片goodsphotos" type="xs:string" />
        <xs:element name="//商品发布时间publicshtime" type="xs:dateTime" />
        <xs:element name="//商品库存inventorynum" type="xs:anyType" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//内容content" type="xs:string" />
        <xs:element name="//浏览量look" type="xs:anyType" />
        <xs:element name="//卖出量bargainnum" type="xs:anyType" />
        <xs:element name="gnum" type="xs:anyType" />
        <xs:element name="orderid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="//order_idorderid" type="xs:long" />
        <xs:element name="//主键iduid" type="xs:long" />
        <xs:element name="gid" type="xs:long" />
        <xs:element name="//商品数量gnum" type="xs:anyType" />
        <xs:element name="//定单状态1：已支付2：待评价status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="result" >
      <xs:sequence>
        <xs:element name="//请求是否成功flag" type="xs:anyType" />
        <xs:element name="//响应给前端的消息message" type="xs:string" />
        <xs:element name="//响应给前端的数据obj" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="//主键iduserid" type="xs:long" />
        <xs:element name="//用户名username" type="xs:string" />
        <xs:element name="//用户真实姓名realname" type="xs:string" />
        <xs:element name="//密码password" type="xs:string" />
        <xs:element name="//qq_openidqqopenid" type="xs:string" />
        <xs:element name="//wx_openidwxopenid" type="xs:string" />
        <xs:element name="//邮箱email" type="xs:string" />
        <xs:element name="//年龄age" type="xs:anyType" />
        <xs:element name="//性别男：1女：0sex" type="xs:string" />
        <xs:element name="//电话phone" type="xs:string" />
        <xs:element name="//头像pic" type="xs:string" />
        <xs:element name="//籍贯nativeplace" type="xs:string" />
        <xs:element name="//职位position" type="xs:string" />
        <xs:element name="//用户默认地址defaultaddressid" type="xs:long" />
        <xs:element name="registertime" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productlist" >
      <xs:sequence>
        <xs:element name="//主键idlistid" type="xs:long" />
        <xs:element name="//商品列表名称listname" type="xs:string" />
        <xs:element name="//商品列表地址listurl" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collect" >
      <xs:sequence>
        <xs:element name="//主键iduid" type="xs:long" />
        <xs:element name="gid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<order,long>{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserviceimpl<order,long>">
         <xs:sequence>
          <xs:element name="" type="ordermapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="goodsmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserviceimpl<goods">
         <xs:sequence>
          <xs:element name="" type="goodsdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="collectdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="cardao" nillable="true" minOccurs="0" />
          <xs:element name="" type="goodsmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="productlistdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:complexContent>
       <xs:extension base="baseserviceimpl<user,long>">
         <xs:sequence>
          <xs:element name="" type="userdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="usermapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="addressdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="cardao" nillable="true" minOccurs="0" />
          <xs:element name="" type="carmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="orderdao" nillable="true" minOccurs="0" />
          <xs:element name="" type="ordermapper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseserviceimpl" >
      <xs:sequence>
        <xs:element name="mapper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="goodsservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<goods,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:complexContent>
       <xs:extension base="baseservice<user,long>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cardao" >
      <xs:complexContent>
       <xs:extension base="jparepository<car,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="collectdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<collect,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="goodsdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<goods,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addressdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<address,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="orderdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="productlistdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<productlist,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,long>,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="xbiaoshopapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="goodsservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 