WebBackEnd5/WithoutDomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="annotationsillustrationtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enversillustrationtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nativeapiillustrationtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="entitymanagerillustrationtest" >
      <xs:complexContent>
       <xs:extension base="testcase">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listing4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing10" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listing2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadlistenerexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionfactoryscopedexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacc-event-reg-example" >
      <xs:sequence>
        <xs:element name="jacc_duplication_strategy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionscopedexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditinterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
          <xs:element name="updates" type="xs:long" />
          <xs:element name="creates" type="xs:long" />
          <xs:element name="loads" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updating_version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="makingpersistentwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedupdatewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="makingpersistentwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reattachingwithsession1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containswithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getreferencewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getreferencewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedupdatewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mergewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visualizingmerge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithjpa2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletingwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletingwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refreshwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithjpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reattachingwithsession2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containswithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mergewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refreshwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unwrapwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithhibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setparameterinferredtype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setparametershortforms" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uniqueresult" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicqueryusage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getnamedquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basicqueryusage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setparameter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="createnamedquery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplest_query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_insert_example_named_id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_jpql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_hql_versioned" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_hql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplest_query2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nativehibernateutil" >
      <xs:sequence>
        <xs:element name="sf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unmanagedjpahibernateutil" >
      <xs:sequence>
        <xs:element name="emf" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bmt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jdbc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tenant-identifier-from-sessionfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multitenantconnectionproviderimpl-single-cp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multitenantconnectionproviderimpl-multi-cp" >
      <xs:complexContent>
       <xs:extension base="abstractmultitenantconnectionprovider">
         <xs:sequence>
          <xs:element name="acmeprovider" type="xs:anyType" />
          <xs:element name="jbossprovider" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="native2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native6" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native7" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native9" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="native8" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jpa2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeecriteria" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeefetchprofile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeehql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginscalar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_multiple_values_array2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_fetch_example_plural" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_wrapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_join_example_plural" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameter_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_attribute_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_fetch_example_embedded_and_many2one" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_root_entity_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_join_example_embedded_and_many2one" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_example_multiple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="criteriabuilder_query_creation_snippet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_tuple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_multiple_values_array" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_methods" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedding_schemaexport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batch_insert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updating_version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="letting_hibernate_find_mapping_files" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="using_scroll" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evicting_item" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specifying_configuration_properties_programmatically" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hql-insert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="using_a_statelesssession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flush_and_clear_session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setcacheregion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="executeupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction-bound-session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hql_delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evicting_from_second_level_cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmt-idiom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bmt-idiom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opening_a_session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="browsing_cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specify_mapping_files_directly" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_wrapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_root_entity_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_multiple_values_array" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_example_multiple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_multiple_values_array2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parameter_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_join_example_embedded_and_many2one" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_join_example_plural" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="criteriabuilder_query_creation_snippet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_methods" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_attribute_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="select_tuple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_fetch_example_plural" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_fetch_example_embedded_and_many2one" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="from_root_example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register-event-listeners-example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrapserviceregistrybuilder-example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jvm-identity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="database-identity" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeefetchprofile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeehql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fetchoverrides" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="login" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectsforanemployeecriteria" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginscalar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multitenantconnectionproviderimpl-single-cp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="multitenantconnectionproviderimpl-multi-cp" >
      <xs:complexContent>
       <xs:extension base="abstractmultitenantconnectionprovider">
         <xs:sequence>
          <xs:element name="acmeprovider" type="xs:anyType" />
          <xs:element name="jbossprovider" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="tenant-identifier-from-sessionfactory" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refreshwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletingwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unwrapwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="refreshwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithjpa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reattachingwithsession2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithjpa2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkinglazinesswithhibernate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mergewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deletingwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mergewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="makingpersistentwithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="visualizingmerge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reattachingwithsession1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedupdatewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containswithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getreferencewithem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getreferencewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="managedupdatewithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="containswithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="makingpersistentwithsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionscopedexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loadlistenerexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionfactoryscopedexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacc-event-reg-example" >
      <xs:sequence>
        <xs:element name="jacc_duplication_strategy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditinterceptor" >
      <xs:complexContent>
       <xs:extension base="emptyinterceptor">
         <xs:sequence>
          <xs:element name="updates" type="xs:long" />
          <xs:element name="creates" type="xs:long" />
          <xs:element name="loads" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="simplest_query2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplest_query" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_hql_versioned" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_insert_example_named_id" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_hql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="statement_update_example_jpql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="browsing_cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transaction-bound-session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hql-insert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="using_a_statelesssession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updating_version" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="batch_insert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flush_and_clear_session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="executeupdate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setcacheregion" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evicting_from_second_level_cache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="embedding_schemaexport" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="using_scroll" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hql_delete" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opening_a_session" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="letting_hibernate_find_mapping_files" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specifying_configuration_properties_programmatically" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="specify_mapping_files_directly" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmt-idiom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="evicting_item" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bmt-idiom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrapserviceregistrybuilder-example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register-event-listeners-example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventpublishingservice" >
      <xs:complexContent>
       <xs:extension base="service">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventpublishingserviceinitiator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="disabledeventpublishingserviceimpl" >
      <xs:sequence>
        <xs:element name="instance" type="disabledeventpublishingserviceimpl" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventpublishingserviceimpl" >
      <xs:sequence>
        <xs:element name="serviceregistry" type="xs:anyType" />
        <xs:element name="jmsconnectionfactoryname" type="xs:string" />
        <xs:element name="destinationname" type="xs:string" />
        <xs:element name="jms" type="xs:anyType" />
        <xs:element name="jms" type="xs:anyType" />
        <xs:element name="publisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventpublishingservicecontributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex1-direct" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="latestandgreatestconnectionproviderimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex3-app" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex2-contributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ex3-contributor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacc-event-reg-example" >
      <xs:sequence>
        <xs:element name="jacc_duplication_strategy" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="component-safe-implicit-naming" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="name" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fizzywigtype2_reg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fizzywigtype1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="explicittype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fizzywigtype2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fizzywigtype1_reg" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contact" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="GeneratedName" type="name" nillable="true" minOccurs="0" />
        <xs:element name="notes" type="xs:string" />
        <xs:element name="website" type="xs:anyType" />
        <xs:element name="starred" type="xs:anyType" />
        <xs:element name="first" type="xs:string" />
        <xs:element name="middle" type="xs:string" />
        <xs:element name="last" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="naturalidloadaccessusage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mutablenaturalidsynchronization" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplenaturalidloadaccessusage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 