vesta-new-admin16/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="communityactivityapplyinfoentity" >
      <xs:sequence>
        <xs:element name="applyid" type="xs:string" />
        <xs:element name="//活动idactivityid" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//报名时间make" type="xs:dateTime" />
        <xs:element name="//报名状态applydesc" type="xs:string" />
        <xs:element name="//报名人联系方式applyphone" type="xs:string" />
        <xs:element name="//报名人数applycount" type="xs:anyType" />
        <xs:element name="applyinfo" type="xs:string" />
        <xs:element name="/*报名信息*///报名备注applynote" type="xs:string" />
        <xs:element name="/*新增字段_报名地址_2016-08-05_wyd*//*新增字段_城市项目信息_2017-08-15_wyd*///联系地址applyaddress" type="xs:string" />
        <xs:element name="//项目编码projectnum" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="/*" type="xs:string" />
        <xs:element name="//是否签到(0,未签到1,已签到)issignin" type="xs:anyType" />
        <xs:element name="//报名时间段idapplytimerangeid" type="xs:string" />
        <xs:element name="//报名时间段applytimerange" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitynewscope" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//communitydetailid" type="xs:string" />
        <xs:element name="//全部0,不是全部1,全部isall" type="xs:anyType" />
        <xs:element name="//所属城市city" type="xs:string" />
        <xs:element name="//所属城市idcityid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//范围等级设定城市为二级菜单，设定项目为三级菜单scope" type="xs:string" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salespromotioninfoscopeentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//促销信息idsalespromotioninfoid" type="xs:string" />
        <xs:element name="//发布城市city" type="xs:string" />
        <xs:element name="//发布城市idcityid" type="xs:string" />
        <xs:element name="//发布项目projectname" type="xs:string" />
        <xs:element name="//发布项目idprojectid" type="xs:string" />
        <xs:element name="//范围等级设定:1,全部城市.2,城市项目scopelev" type="xs:anyType" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="butlerscorelogentity" >
      <xs:sequence>
        <xs:element name="//主键idlogid" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//用户姓名username" type="xs:string" />
        <xs:element name="//真实姓名realname" type="xs:string" />
        <xs:element name="//电话号码mobile" type="xs:string" />
        <xs:element name="//管家idbutlerid" type="xs:string" />
        <xs:element name="//管家评分butlerscore" type="xs:string" />
        <xs:element name="//评价内容comment" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityactivityapplytimerangeentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//活动idactivityid" type="xs:string" />
        <xs:element name="//报名日期apply" type="xs:dateTime" />
        <xs:element name="//起始时间starttime" type="xs:string" />
        <xs:element name="//截止时间endtime" type="xs:string" />
        <xs:element name="//人数配额maxuser" type="xs:anyType" />
        <xs:element name="//已报名人数applynum" type="xs:anyType" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="butlerstyleentity" >
      <xs:sequence>
        <xs:element name="//管家idbutlerid" type="xs:string" />
        <xs:element name="//管家名称butlernum" type="xs:string" />
        <xs:element name="//真实姓名realname" type="xs:string" />
        <xs:element name="//管家头像butlerheadimgurl" type="xs:string" />
        <xs:element name="//联系电话telephone" type="xs:string" />
        <xs:element name="//微信昵称wechatnickname" type="xs:string" />
        <xs:element name="//微信二维码urlwechatqrcodeurl" type="xs:string" />
        <xs:element name="//管家评分butlerscore" type="xs:string" />
        <xs:element name="//服务楼栋servicebuilding" type="xs:string" />
        <xs:element name="//备注remarks" type="xs:string" />
        <xs:element name="//城市idservicecityid" type="xs:string" />
        <xs:element name="//城市名称servicecityname" type="xs:string" />
        <xs:element name="//项目编码serviceprojectcode" type="xs:string" />
        <xs:element name="//项目名称serviceprojectname" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blacklistentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//名单名称listname" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//项目编码projectcode" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//提示内容promptcontent" type="xs:string" />
        <xs:element name="//名单类型(1,手机号码集合2,房产集合)listtype" type="xs:anyType" />
        <xs:element name="//手机号码集合phonecollection" type="xs:string" />
        <xs:element name="//房产集合housecollection" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offlineactivitysignentity" >
      <xs:sequence>
        <xs:element name="//主键idsignid" type="xs:string" />
        <xs:element name="//业主姓名ownername" type="xs:string" />
        <xs:element name="//联系电话mobile" type="xs:string" />
        <xs:element name="//房产地址address" type="xs:string" />
        <xs:element name="//活动idactivityid" type="xs:string" />
        <xs:element name="//参与人数partakenumber" type="xs:anyType" />
        <xs:element name="//中奖信息prizeinfo" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityimageinfoentity" >
      <xs:sequence>
        <xs:element name="/***图片配置路径*/imgpath" type="xs:string" />
        <xs:element name="imgvisitpath" type="xs:string" />
        <xs:element name="imageid" type="xs:string" />
        <xs:element name="activityid" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="makedate" type="xs:string" />
        <xs:element name="modifydate" type="xs:string" />
        <xs:element name="operator" type="xs:string" />
        <xs:element name="type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityoverviewreservationentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//楼盘idoverviewid" type="xs:string" />
        <xs:element name="//楼盘项目名称overviewname" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//预约人reservationper" type="xs:string" />
        <xs:element name="//联系方式reservationtel" type="xs:string" />
        <xs:element name="//预约日期reservation" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityhouseappointentity" >
      <xs:sequence>
        <xs:element name="//房屋预约单idid" type="xs:string" />
        <xs:element name="//用户iduserid" type="xs:string" />
        <xs:element name="//社区idcommunityid" type="xs:string" />
        <xs:element name="//批次管理idbatchmanageid" type="xs:string" />
        <xs:element name="//用户预约房间idhouseinfoid" type="xs:string" />
        <xs:element name="//集中交付开始时间paystatime" type="xs:dateTime" />
        <xs:element name="//集中交付结束时间payendtime" type="xs:dateTime" />
        <xs:element name="//预约交付开始时间appointstatime" type="xs:dateTime" />
        <xs:element name="//预约交付结束时间appointendtime" type="xs:dateTime" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//创建时间、create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//预约状态//0,为预约，1,已预约appointstatus" type="xs:anyType" />
        <xs:element name="//支付状态//0,进行中/带交付1，已完成/已交付paystatus" type="xs:anyType" />
        <xs:element name="//0:上午，1：下午amorpm" type="xs:anyType" />
        <xs:element name="//交付批次名称业主输入//应该取消deliverybatch" type="xs:string" />
        <xs:element name="//预约单状态，在用户端是否显示status" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitynewsentity" >
      <xs:sequence>
        <xs:element name="//idid" type="xs:string" />
        <xs:element name="//新闻标题title" type="xs:string" />
        <xs:element name="//新闻内容comment" type="xs:string" />
        <xs:element name="//新闻图片newsimg" type="xs:string" />
        <xs:element name="//新闻类型0.一级图片，1.二级，2.新闻3.新闻内部链接type" type="xs:anyType" />
        <xs:element name="//新闻状态0，已删除，1，未删除status" type="xs:anyType" />
        <xs:element name="//发布状态0，未发布，1，已经发布releasestatus" type="xs:anyType" />
        <xs:element name="//图片标题imgtitle" type="xs:string" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//创建时间createtime" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//更新时间operatortime" type="xs:dateTime" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//排序字段ordernum" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storyscopeentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//故事idstoryid" type="xs:string" />
        <xs:element name="//发布城市city" type="xs:string" />
        <xs:element name="//发布城市idcityid" type="xs:string" />
        <xs:element name="//发布项目projectname" type="xs:string" />
        <xs:element name="//发布项目idprojectid" type="xs:string" />
        <xs:element name="//范围等级设定:1,全部城市.2,城市项目scopelev" type="xs:anyType" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityhousetypeentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//户型idid" type="xs:string" />
        <xs:element name="//户型类型type" type="xs:string" />
        <xs:element name="//是否在售0，不在，1，在售state" type="xs:anyType" />
        <xs:element name="//户型构造图片constructimg" type="xs:string" />
        <xs:element name="//户型面积area" type="xs:anyType" />
        <xs:element name="//户型描述description" type="xs:string" />
        <xs:element name="//剩余户型数量number" type="xs:anyType" />
        <xs:element name="//户型总数量totalnumber" type="xs:anyType" />
        <xs:element name="//户型类型图片housetypeimg" type="xs:string" />
        <xs:element name="//联系电话phone" type="xs:string" />
        <xs:element name="//户型与社区，多对一//communityoverviewentitycommunitycommunityid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitysurveylistentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//项目编码projectcode" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//当班日期workon" type="xs:dateTime" />
        <xs:element name="//当班内容workcontent" type="xs:string" />
        <xs:element name="//个人感受feel" type="xs:string" />
        <xs:element name="//提升建议proposal" type="xs:string" />
        <xs:element name="//项目照片projectphoto" type="xs:string" />
        <xs:element name="//电子签名autograph" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offlineactivityentity" >
      <xs:sequence>
        <xs:element name="//活动主键idactivityid" type="xs:string" />
        <xs:element name="//活动标题activitytitle" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//活动地点activityplace" type="xs:string" />
        <xs:element name="//参与人数partakenumber" type="xs:anyType" />
        <xs:element name="//活动开始时间activitystarttime" type="xs:dateTime" />
        <xs:element name="//活动结束时间activityendtime" type="xs:dateTime" />
        <xs:element name="//是否抽奖isluckdraw" type="xs:anyType" />
        <xs:element name="//一等奖人数oneprizenumber" type="xs:anyType" />
        <xs:element name="//二等奖人数twoprizenumber" type="xs:anyType" />
        <xs:element name="//三等奖人数threeprizenumber" type="xs:anyType" />
        <xs:element name="//签到人数signnumber" type="xs:anyType" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitybatchmanageentity" >
      <xs:sequence>
        <xs:element name="//预约批次id" type="xs:string" />
        <xs:element name="//预约单iduserid" type="xs:string" />
        <xs:element name="//项目idcommunityid" type="xs:string" />
        <xs:element name="//交付批次名称业主输入deliverybatch" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//集中交付开始时间paystatime" type="xs:dateTime" />
        <xs:element name="//集中交付结束时间payendtime" type="xs:dateTime" />
        <xs:element name="//描述description" type="xs:string" />
        <xs:element name="//批次管理状态，在用户端是否显示0，进行中1，完成batchstatus" type="xs:anyType" />
        <xs:element name="//是否启用，启用标识，0，未启用，1，启用status" type="xs:anyType" />
        <xs:element name="//可接待总人数receptiontotla" type="xs:anyType" />
        <xs:element name="//报名总人数applytotal" type="xs:anyType" />
        <xs:element name="//每时间段最大人数业主输入maxuser" type="xs:string" />
        <xs:element name="//上午最大办理人数maxuseram" type="xs:anyType" />
        <xs:element name="//下午最大办理人数maxuserpm" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliveryplanreservationtimerangeentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//交房计划iddeliveryplanid" type="xs:string" />
        <xs:element name="//预约日期reservation" type="xs:dateTime" />
        <xs:element name="//起始时间starttime" type="xs:string" />
        <xs:element name="//截止时间endtime" type="xs:string" />
        <xs:element name="//人数配额maxuser" type="xs:anyType" />
        <xs:element name="//已预约人数reservationnum" type="xs:anyType" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//创建人createby" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityimageentity" >
      <xs:sequence>
        <xs:element name="//图片idid" type="xs:string" />
        <xs:element name="//社区idcommunityid" type="xs:string" />
        <xs:element name="//图片路径url" type="xs:string" />
        <xs:element name="//图片类型type" type="xs:anyType" />
        <xs:element name="//备注note" type="xs:string" />
        <xs:element name="//状态status" type="xs:anyType" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="storyentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//故事标题title" type="xs:string" />
        <xs:element name="//故事内容content" type="xs:string" />
        <xs:element name="//故事标识图infosignimgurl" type="xs:string" />
        <xs:element name="//故事所属客户端idclientid" type="xs:anyType" />
        <xs:element name="//是否有外链(0,否1,是)islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//故事排序字段ordernum" type="xs:anyType" />
        <xs:element name="//故事信息状态(0,未删除/1,已删除)infostatus" type="xs:anyType" />
        <xs:element name="//发布状态(0,未发布/1,已发布)releasestatus" type="xs:anyType" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="salespromotioninfoentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//促销标题title" type="xs:string" />
        <xs:element name="//促销内容content" type="xs:string" />
        <xs:element name="//促销信息标识图infosignimgurl" type="xs:string" />
        <xs:element name="//信息所属客户端idclientid" type="xs:anyType" />
        <xs:element name="//是否作为banner展示(0,否/1,是)isbanner" type="xs:anyType" />
        <xs:element name="//是否有外链(0,否1,是)islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//信息排序字段ordernum" type="xs:anyType" />
        <xs:element name="//促销信息状态(0,未删除/1,已删除)infostatus" type="xs:anyType" />
        <xs:element name="//发布状态(0,未发布/1,已发布)releasestatus" type="xs:anyType" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityoverviewscopeentity" >
      <xs:sequence>
        <xs:element name="//主键id" type="xs:string" />
        <xs:element name="//楼盘idcommunityoverviewid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//项目codeprojectcode" type="xs:string" />
        <xs:element name="//0,启用1，不启用status" type="xs:anyType" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitysurveyinfoentity" >
      <xs:sequence>
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//内容content" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityoverviewentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="//社区idid" type="xs:string" />
        <xs:element name="//楼盘名称name" type="xs:string" />
        <xs:element name="//项目地址address" type="xs:string" />
        <xs:element name="//项目介绍introduction" type="xs:string" />
        <xs:element name="//配套设施描述periphery" type="xs:string" />
        <xs:element name="//全景图panoramaimg" type="xs:string" />
        <xs:element name="//优惠信息favorable" type="xs:string" />
        <xs:element name="//均价priceaverage" type="xs:string" />
        <xs:element name="//电话phone" type="xs:string" />
        <xs:element name="//樓盤是否在售status" type="xs:anyType" />
        <xs:element name="//标注【科技住宅，d公园地产】types" type="xs:string" />
        <xs:element name="//所属城市city" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//排序字段ordernum" type="xs:anyType" />
        <xs:element name="//发布人releaseperson" type="xs:string" />
        <xs:element name="//发布日期release" type="xs:dateTime" />
        <xs:element name="//发布状态0，未发布，1，已经发布releasestatus" type="xs:anyType" />
        <xs:element name="//h5_url金茂制作url" type="xs:string" />
        <xs:element name="//排序时间order" type="xs:dateTime" />
        <xs:element name="//社区对社区位置信息，一对一//communitylocationentitylocationlocationid" type="xs:string" />
        <xs:element name="//社区对社区详情表，一对一//communitydetailentitydetaildetailid" type="xs:string" />
        <xs:element name="housetypes" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityactivityinfoscopeentity" >
      <xs:sequence>
        <xs:element name="//id" type="xs:string" />
        <xs:element name="//活动idactivityid" type="xs:string" />
        <xs:element name="isall" type="xs:anyType" />
        <xs:element name="//城市名称city" type="xs:string" />
        <xs:element name="cityid" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//项目codeprojectid" type="xs:string" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="//创建日期create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作日期operate" type="xs:dateTime" />
        <xs:element name="//操作人operateperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityactivityinfoentity" >
      <xs:sequence>
        <xs:element name="//活动idactivityid" type="xs:string" />
        <xs:element name="//标题title" type="xs:string" />
        <xs:element name="//活动描述activitydesc" type="xs:string" />
        <xs:element name="//活动时间activitydate" type="xs:string" />
        <xs:element name="//地址address" type="xs:string" />
        <xs:element name="//热线电话hotline" type="xs:string" />
        <xs:element name="//创建时间makedate" type="xs:string" />
        <xs:element name="//修改时间modifydate" type="xs:string" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//状态1-报名中，2-已报满，3-报名结束，4-活动结束status" type="xs:string" />
        <xs:element name="//是否删除0-已删，1-未删state" type="xs:string" />
        <xs:element name="//是否发布0-未发布，1-已发布pushstate" type="xs:string" />
        <xs:element name="//项目idprojectid" type="xs:string" />
        <xs:element name="//总人数headcount" type="xs:anyType" />
        <xs:element name="//人数people" type="xs:anyType" />
        <xs:element name="//活动范围scope" type="xs:string" />
        <xs:element name="//类型：1为公开2为私有types" type="xs:string" />
        <xs:element name="//报名人联系方式applyphone" type="xs:string" />
        <xs:element name="//报名人数applycount" type="xs:anyType" />
        <xs:element name="//每户报名人数上限applymaxnum" type="xs:anyType" />
        <xs:element name="activityenddate" type="xs:string" />
        <xs:element name="/*活动截止时间*/applystarttime" type="xs:string" />
        <xs:element name="/*报名开始时间*/applyendtime" type="xs:string" />
        <xs:element name="/*报名截止时间*/applyinfo" type="xs:string" />
        <xs:element name="/*活动信息*///报名信息最大组数applyinfomaxnum" type="xs:anyType" />
        <xs:element name="/**追加字段:活动类型,是否作为banner,是否有外链,外链地址*///普通活动activity_type_common" type="xs:long" />
        <xs:element name="//营销活动activity_type_marketing" type="xs:long" />
        <xs:element name="//商业活动activity_type_business" type="xs:long" />
        <xs:element name="//总部活动activity_type_headquarters" type="xs:long" />
        <xs:element name="//活动类型(1,普通活动2,营销活动3,商业活动4,总部活动)activitytype" type="xs:anyType" />
        <xs:element name="//主题类型(1,家兴业茂2,穆如清风3,优居计划4,金彩有你)themetype" type="xs:anyType" />
        <xs:element name="//是否作为宣传位(0,否1,是)isbanner" type="xs:anyType" />
        <xs:element name="//是否有外链(0,否1,是)islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//是否使用黑名单(0,否1,是)isblacklist" type="xs:anyType" />
        <xs:element name="//黑名单idblacklistid" type="xs:string" />
        <xs:element name="//是否发布房产范围(0,否1,是)ishousescope" type="xs:anyType" />
        <xs:element name="//房产范围housescope" type="xs:string" />
        <xs:element name="//是否配置活动报名时间段(0,否1,是)istimerange" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="engineeringprojectentity" >
      <xs:sequence>
        <xs:element name="//主键idengineeringprojectid" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//工程项目名称projectname" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitycancelentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="//创建时间或取消时间create" type="xs:dateTime" />
        <xs:element name="//修改时间modify" type="xs:dateTime" />
        <xs:element name="//创建人或取消用户createby" type="xs:string" />
        <xs:element name="//取消次数cancelnumber" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliveryplancrmentity" >
      <xs:sequence>
        <xs:element name="//预约形式_上下午reservation_type_amandpm" type="xs:string" />
        <xs:element name="//预约形式_时间段reservation_type_timerange" type="xs:string" />
        <xs:element name="//计划idid" type="xs:string" />
        <xs:element name="//项目编号_关联的项目信息new_deliveryplan的项目编码——bj-yzjmy-x88-10-01-1001projectnum" type="xs:string" />
        <xs:element name="//计划编号_fxbj001jfjh201603310001plannum" type="xs:string" />
        <xs:element name="//计划名称planname" type="xs:string" />
        <xs:element name="//计划名称_别名planname_alias" type="xs:string" />
        <xs:element name="//计划开始时间2016/4/5_集中交付开始时间planstart" type="xs:dateTime" />
        <xs:element name="//计划结束时间planend" type="xs:dateTime" />
        <xs:element name="//计划起止时间_别名plandate_alias" type="xs:string" />
        <xs:element name="//办理开始时间dealstart" type="xs:dateTime" />
        <xs:element name="//办理结束时间dealend" type="xs:dateTime" />
        <xs:element name="//合同约定时间appoint" type="xs:dateTime" />
        <xs:element name="//计划描述description" type="xs:string" />
        <xs:element name="//计划描述_别名description_alias" type="xs:string" />
        <xs:element name="//计划类型plantype" type="xs:string" />
        <xs:element name="//计划执行状态start/finishstate" type="xs:string" />
        <xs:element name="//集中处理时间focusdate" type="xs:string" />
        <xs:element name="//集中处理地点focusaddress" type="xs:string" />
        <xs:element name="//集中交付地点_别名focusaddress_alias" type="xs:string" />
        <xs:element name="//客户开放日地点openaddress" type="xs:string" />
        <xs:element name="//零星交房地址sporadicaddress" type="xs:string" />
        <xs:element name="//修改时间modify" type="xs:dateTime" />
        <xs:element name="//简称shortname" type="xs:string" />
        <xs:element name="//批次管理状态，在用户端是否显示0，未发布1，已发布，2，查询所有batchstatus" type="xs:anyType" />
        <xs:element name="//启用标识status" type="xs:anyType" />
        <xs:element name="//批次背景图batchimg" type="xs:string" />
        <xs:element name="//预约形式reservationtype" type="xs:string" />
        <xs:element name="//上午时间段最大人数maxuseram" type="xs:string" />
        <xs:element name="//下午时间段最大人数maxuserpm" type="xs:string" />
        <xs:element name="//描述补充note" type="xs:string" />
        <xs:element name="//图片地址url" type="xs:string" />
        <xs:element name="//图片类型type" type="xs:anyType" />
        <xs:element name="//交付标准deliverystandard" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitydetailentity" >
      <xs:sequence>
        <xs:element name="/***/serialversionuid" type="xs:long" />
        <xs:element name="//详情idid" type="xs:string" />
        <xs:element name="//楼盘idcommunityid" type="xs:string" />
        <xs:element name="//详情标题title" type="xs:string" />
        <xs:element name="//详情内容content" type="xs:string" />
        <xs:element name="//详情图片img" type="xs:string" />
        <xs:element name="//等级grade" type="xs:anyType" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityoverviewimgentity" >
      <xs:sequence>
        <xs:element name="//楼盘图片类型//户型图img_type_floor_plan" type="xs:string" />
        <xs:element name="//总平面图img_type_master_plan" type="xs:string" />
        <xs:element name="//室内设计图img_type_interior_design" type="xs:string" />
        <xs:element name="//园林设计图img_type_garden_design" type="xs:string" />
        <xs:element name="//配套设施图img_type_supporting_facilities" type="xs:string" />
        <xs:element name="//主键idid" type="xs:string" />
        <xs:element name="//楼盘idoverviewid" type="xs:string" />
        <xs:element name="//图片类型imgtype" type="xs:string" />
        <xs:element name="//图片地址imgurl" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="engineeringprogressentity" >
      <xs:sequence>
        <xs:element name="//工程进展idengineeringprogressid" type="xs:string" />
        <xs:element name="//工程进展标题engineeringprogresstitle" type="xs:string" />
        <xs:element name="//工程进展展示图engineeringprogresssignimgurl" type="xs:string" />
        <xs:element name="//工程进展内容engineeringprogresscontent" type="xs:string" />
        <xs:element name="//城市idcityid" type="xs:string" />
        <xs:element name="//城市名称cityname" type="xs:string" />
        <xs:element name="//工程项目编码projectcode" type="xs:string" />
        <xs:element name="//工程项目名称projectname" type="xs:string" />
        <xs:element name="//是否有外链(0,否1,是)islink" type="xs:anyType" />
        <xs:element name="//外链地址linksrc" type="xs:string" />
        <xs:element name="//创建人createby" type="xs:string" />
        <xs:element name="//创建时间createon" type="xs:dateTime" />
        <xs:element name="//修改人modifyby" type="xs:string" />
        <xs:element name="//修改时间modifyon" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityreservationlistentity" >
      <xs:sequence>
        <xs:element name="//房屋预约单idid" type="xs:string" />
        <xs:element name="//用户姓名username" type="xs:string" />
        <xs:element name="//手机号mobile" type="xs:string" />
        <xs:element name="//身份证号idcard" type="xs:string" />
        <xs:element name="//项目名称projectname" type="xs:string" />
        <xs:element name="//楼号buildingname" type="xs:string" />
        <xs:element name="//单元号unitname" type="xs:string" />
        <xs:element name="//房间编号roomname" type="xs:string" />
        <xs:element name="//业主预约时间reservation" type="xs:dateTime" />
        <xs:element name="//0,上午1，下午amorpm" type="xs:string" />
        <xs:element name="//交付批次（计划）名称planname" type="xs:string" />
        <xs:element name="//预约状态0，未预约1，已预约reservationstatus" type="xs:string" />
        <xs:element name="//标识状态0，不启用1，启用status" type="xs:string" />
        <xs:element name="//作为标示防止重名userid" type="xs:string" />
        <xs:element name="//操作时间operator" type="xs:dateTime" />
        <xs:element name="//操作人operator" type="xs:string" />
        <xs:element name="//创建时间create" type="xs:dateTime" />
        <xs:element name="//创建人createperson" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="butlerstylerespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baserepository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="communityhousebatchrespository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="homeletterrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitysurveyrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deliveryplancrmrepository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="storyrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitycenterrespository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="communityhouseappointrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communitynewsrespository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="offlineactivityrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blacklistrespository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="communityoverviewrepository" >
      <xs:complexContent>
       <xs:extension base="ihibernatedao">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="communitydetailrepository" >
      <xs:complexContent>
       <xs:extension base="baserepository">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="salespromotioninforepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 