Workspace-Personal6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persona" >
      <xs:sequence>
        <xs:element name="idpersona" type="xs:anyType" />
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="apepaterno" type="xs:string" />
        <xs:element name="apematerno" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="telefono" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 