TruewayMobile/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="36.9bf95536b3e2d14fc5d0.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="43.f9215239124e19b53f00.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="76.fa9fbbac5ce01dcf7687.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="101.4aba54b8d5caab10ccff.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="100.1a8d797b972e6047dbf0.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="39.b56f1de0cdf381ba1873.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="71.b5cae7de26e56aa0848d.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="63.84b0ba824926979aa939.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="61.024dfb95e6b8693e2d38.chunk" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="56.d9693bcf6ed9a8412ff7.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="26.d21f31aeed397809563f.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="84.9dfaecce128094eb8fd3.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="106.292fa1ec4cc80f269ea2.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="74.3f6374611a223cdbc515.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="28.c47062320c22bce679bb.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="44.9d780e161788f612c4a3.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="107.ca4b85dd31d3ab9f44cb.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="105.a6fb5622aa33560cf0b9.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="99.9fa3828e3f6e034c73ea.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="73.5bebb940569d43bbfb23.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inline.356b52a704dbeef7d2ee.bundle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="38.8638a5bcda3b3bbdbf6a.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="98.9da406c8c68f591d8759.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="86.a76d404957dcee5bd612.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="92.0101e0dfbc98aabe91bd.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="54.75b52d2c909a0fe92646.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="34.6c70d241e6d7555bc18a.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="93.d90bf4acdd57aaaa2ca0.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="85.8ad5b9cc2df688d3461c.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="24.ef98cd723c7fe8fde4a3.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="19.22df8b077c73ae62dfac.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icofont.00e93fdfb6da9c1e4c4b" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont.d7c639084f684d66a1bc" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="67.f0d29e9c449d01f69376.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="57.17ad51d1a32f2dceabfb.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="90.ea92bd994c2fa81af66b.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="55.7d67dad206c27920a60b.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="32.b24008d71fe830471493.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="62.649ad64a85f29a1df9e6.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="15.2a01902c81e6c6313d5f.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="25.8a3030c3c48d5ae858da.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="31.9498331006191bbdc744.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="51.de29c093d9bc328fb5ba.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="30.2a2981aac6a52e3687cb.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="48.6271d379208c6f10a346.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="102.a9dd51472da3c71e0f25.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="58.ed91ed604b820a9d3ddd.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="45.fbe206ebf838a5d3aff9.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="20.282db08941e89e7e794f.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="14.f8860387e9cb3981614f.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="60.8fa8a7af5437c72bab39.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="41.6ce538759f0e054e5089.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="52.031d2a63e72c6d31d5a4.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify.9c8e96ecc7fa01e6ebcd" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="6.c96d12a10205eccbfb8b.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="46.9631a3393321e52f69a9.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="22.0e315940dec10bdd6dd8.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="96.62947dfda0abd2053f0e.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="66.7c5612bf39d847675f7f.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="79.2948ab49c4fa63774329.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="77.5d7b49fc0869f5bc2b75.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="17.355c84fb1733cc140a08.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="70.f0cf983b601014d8f23b.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="49.3ee61b6be38c615b7bbd.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="continentslow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gauge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pie" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="worldlow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="issue-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="task-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="data" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="company" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fullscreen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="100k" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crm-contact" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tooltip1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jquery.easing.1.3.min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icofont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify iconfonts 5-23-2014" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-double-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-play" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notepad" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trash" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="minus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="blackboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="game" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-circle-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unlink" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vector" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="align-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-center-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-width-full" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="text" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="align-center" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medall" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopping-cart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="music" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="split-v" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="download" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shortcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropbox" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-width-default" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrows-corner" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-tab-min" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-cta-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruler-pencil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skype" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view-list-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-stop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruler-alt-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="more-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spray" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paint-bucket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wordpress" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fullscreen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid4-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marker-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="credit-card" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paint-roller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="view-grid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eraser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-accordion-merged" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column3-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="harddrive" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layers" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pinterest-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-shuffle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rss-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoom-in" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-tab" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-skip-backward" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify-favicon" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hummer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dribbble" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="import" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="magnet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-double-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-menu-separated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mouse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="share" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-accordion-separated" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rss" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruler-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="check-box" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar-chart-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-top-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="save-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pie-chart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location-arrow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="more" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="back-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="file" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="briefcase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flag-alt-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-line-solid" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="save" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="line-double" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="drupal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-sidebar-none" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="star" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facebook" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="anchor" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shift-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agenda" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sharethis" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="car" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column2-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="underline" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsfiddle" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bolt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="palette" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-double-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shift-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="link" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="line-dashed" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calendar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcement" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="direction" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clipboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-circle-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="rocket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="video-camera" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wand" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="soundcloud" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="widgetized" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-point-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cut" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="help-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="close" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stats-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eye" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid2-thumb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-slider-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="face-sad" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-open" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-accordion-list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="panel" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="split-v-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-list-post" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zoom-out" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-drag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="key" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="light-bulb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="joomla" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layers-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-sidebar-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sharethis-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-sidebar-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="smallcap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="video-clapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pencil-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrows-vertical" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-cta-btn-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="share-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bell" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="printer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="twitter-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pulse" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pencil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bag" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="power-off" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="heart-broken" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thought" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="write" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-placeholder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="harddrives" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-overlay-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tumblr-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-center" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reddit" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="envelope" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="window" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-forward" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-circle-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="receipt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list-ol" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-sidebar-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flag-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="new-window" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="italic" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-point-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify-favicon-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pin-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vimeo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="check" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dashboard" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="direction-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-cta-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column4-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="world" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="widget-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="trello" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stamp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pin2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="align-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unlock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-menu-full" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="medall-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="map-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-tab-window" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="target" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-list-thumb-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shift-right-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headphone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="music-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shopping-cart-full" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="github" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="back-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-double-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exchange-vertical" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-right-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="truck" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crown" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ink-pen" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="line-dotted" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="archive" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-top-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basketball" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="microsoft-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pinterest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mouse-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="widget" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="split-h" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tumblr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volume" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linkedin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headphone-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flickr-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="email" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="microsoft" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumb-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shift-left-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-menu-v" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="na" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="support" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="desktop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="export" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid3-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-width-default-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="map" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="instagram" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cup" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plus" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alarm-clock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="list" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="files" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shield" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="alert" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paragraph" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-skip-forward" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="signal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-list-large-image" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrows-horizontal" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comments-smiley" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wheelchair" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="folder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upload" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-eject" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="microphone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-overlay" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="css3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="slice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="twitter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="vimeo-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-slider" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-point-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="camera" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid2-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="time" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cloud" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="help" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="apple" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linux" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tablet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brush" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stack-overflow" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify-logo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="wallet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="money" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-cta-center" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uppercase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-tab-v" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="microphone-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="shine" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lock" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="align-justify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gallery" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar-chart" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="html5" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="youtube" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-stop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hand-point-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-list-thumb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column4" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pencil-alt2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-column3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ticket" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="stats-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="marker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-grid3" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmark-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-left-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zip" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="android" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cloud-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angle-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flickr" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="google" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="arrow-circle-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="brush-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="id-badge" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-record" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="face-smile" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-pause" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="location-pin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="plug" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quote-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="control-backward" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bolt-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gift" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="thumb-down" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-media-overlay-alt-2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="infinite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="layout-cta-btn-right" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cloud-up" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dropbox-alt" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quote-left" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="yahoo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookmark" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loop" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="themify" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="104.894a3fc8c0eca52de9f6.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="64.b8ef4d1327c7cd261805.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="21.8a8c51109cb0efa401f8.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="18.d8743fd75e0ed4839bab.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="94.12465ab70e30ae57cebd.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="35.62da6d8be7e3545f117c.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="59.25fd19326017d65e8fb7.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="37.c4fe42f96f51a8194053.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="53.001810a9dc2160925c90.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="50.b32ed055898983f3fb9c.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="72.9bc2bf9d664b9af81318.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="91.e738f272ae865c48f294.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="103.dca0f2060e38ebe0b6ed.chunk" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-qa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="public-key" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-dev" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invoice" >
      <xs:complexContent>
       <xs:extension base="mobileentity{">
         <xs:sequence>
          <xs:element name="planid" type="xs:long" />
          <xs:element name="custid" type="xs:long" />
          <xs:element name="discount" type="xs:long" />
          <xs:element name="totalamt" type="xs:long" />
          <xs:element name="netamt" type="xs:long" />
          <xs:element name="paymethod" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mobileentity" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileaccessory" >
      <xs:complexContent>
       <xs:extension base="mobileentity">
         <xs:sequence>
          <xs:element name="price" type="xs:long" />
          <xs:element name="active" type="xs:long" />
          <xs:element name="pricecurr" type="xs:string" />
          <xs:element name="imageid" type="xs:long" />
          <xs:element name="phones" type="mobilephone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileplan" >
      <xs:complexContent>
       <xs:extension base="mobileentity{">
         <xs:sequence>
          <xs:element name="roidata" type="xs:string" />
          <xs:element name="roifreecall" type="xs:string" />
          <xs:element name="roifreetext" type="xs:string" />
          <xs:element name="eudata" type="xs:string" />
          <xs:element name="eufreecall" type="xs:string" />
          <xs:element name="eufreetext" type="xs:string" />
          <xs:element name="ukdata" type="xs:string" />
          <xs:element name="ukfreecall" type="xs:string" />
          <xs:element name="ukfreetext" type="xs:string" />
          <xs:element name="intdata" type="xs:string" />
          <xs:element name="intfreecall" type="xs:string" />
          <xs:element name="intfreetext" type="xs:string" />
          <xs:element name="canadaroaming" type="xs:string" />
          <xs:element name="usaroaming" type="xs:string" />
          <xs:element name="reward" type="xs:string" />
          <xs:element name="contract" type="xs:string" />
          <xs:element name="discount" type="xs:string" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="pricecurr" type="xs:string" />
          <xs:element name="active" type="xs:long" />
          <xs:element name="phones" type="mobilephone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="offers" type="planoffer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="customers" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="planoffer" >
      <xs:complexContent>
       <xs:extension base="mobileentity">
         <xs:sequence>
          <xs:element name="valueperc" type="xs:long" />
          <xs:element name="valuefixed" type="xs:long" />
          <xs:element name="active" type="xs:long" />
          <xs:element name="plans" type="mobileplan" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="middlename" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="address1" type="xs:string" />
        <xs:element name="address2" type="xs:string" />
        <xs:element name="address3" type="xs:string" />
        <xs:element name="county" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="planstart" type="xs:string" />
        <xs:element name="planend" type="xs:string" />
        <xs:element name="homephone" type="xs:string" />
        <xs:element name="mobilephone" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="email2" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="invoices" type="invoice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="plans" type="mobileplan" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobilephone" >
      <xs:complexContent>
       <xs:extension base="mobileentity">
         <xs:sequence>
          <xs:element name="model" type="xs:string" />
          <xs:element name="memory" type="xs:string" />
          <xs:element name="storage" type="xs:string" />
          <xs:element name="color" type="xs:string" />
          <xs:element name="network" type="xs:string" />
          <xs:element name="display" type="xs:string" />
          <xs:element name="maincamera" type="xs:string" />
          <xs:element name="frontcamera" type="xs:string" />
          <xs:element name="os" type="xs:string" />
          <xs:element name="price" type="xs:long" />
          <xs:element name="pricecurr" type="xs:string" />
          <xs:element name="active" type="xs:long" />
          <xs:element name="imageid" type="xs:long" />
          <xs:element name="plans" type="mobileplan" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="accessories" type="mobileaccessory" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="image" >
      <xs:complexContent>
       <xs:extension base="mobileentity">
         <xs:sequence>
          <xs:element name="image" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appuser" >
      <xs:complexContent>
       <xs:extension base="mobileentity">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="createonly" type="xs:string" />
          <xs:element name="readonly" type="xs:string" />
          <xs:element name="updateonly" type="xs:string" />
          <xs:element name="active" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="truewaymobileapplication" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer{">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authserverconfig" >
      <xs:complexContent>
       <xs:extension base="authorizationserverconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="healthcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="planoffercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="offerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imagecontroller" >
      <xs:sequence>
        <xs:element name="service" type="imageservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercontroller" >
      <xs:sequence>
        <xs:element name="service" type="customerservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileaccessorycontroller" >
      <xs:sequence>
        <xs:element name="service" type="accessoryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appusercontroller" >
      <xs:sequence>
        <xs:element name="service" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobilephonecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="phoneservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mobileplancontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="planservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invoicecontroller" >
      <xs:sequence>
        <xs:element name="service" type="invoiceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="phoneservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="phonerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="imageservice" >
      <xs:sequence>
        <xs:element name="repository" type="imagerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="repository" type="appuserrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accessoryservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="accessoryrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appuserdetailsservice" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userdetailsrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="planservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="planrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invoiceservice" >
      <xs:sequence>
        <xs:element name="repository" type="invoicerepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offerservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="offerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customerservice" >
      <xs:sequence>
        <xs:element name="repository" type="customerrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="offerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<planoffer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="planrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mobileplan,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="documentrepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invoicerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<invoice,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="accessoryrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mobileaccessory,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="phonerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<mobilephone,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<appuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="appuserrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<appuser,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customerrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<customer,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="imagerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<image,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationclaimsintegrationtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jparepositorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 