test3h/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="databasehealthindicator" >
      <xs:complexContent>
       <xs:extension base="abstracthealthindicator">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="queries" type="xs:anyType" />
          <xs:element name="default_query" type="xs:string" />
          <xs:element name="query" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="javamailhealthindicator" >
      <xs:complexContent>
       <xs:extension base="abstracthealthindicator">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="javamailsender" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="jhipsterhealthindicatorconfiguration" >
      <xs:sequence>
        <xs:element name="javamailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="swaggerconfiguration" >
      <xs:sequence>
        <xs:element name="default_include_pattern" type="xs:string" />
        <xs:element name="propertyresolver" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="spring_profile_development" type="xs:string" />
        <xs:element name="spring_profile_production" type="xs:string" />
        <xs:element name="system_account" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditeventconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localeconfiguration" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
          <xs:element name="propertyresolver" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="thymeleafconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metricsconfiguration" >
      <xs:complexContent>
       <xs:extension base="metricsconfigureradapter">
         <xs:sequence>
          <xs:element name="env_metrics" type="xs:string" />
          <xs:element name="env_metrics_graphite" type="xs:string" />
          <xs:element name="prop_jmx_enabled" type="xs:string" />
          <xs:element name="prop_graphite_enabled" type="xs:string" />
          <xs:element name="prop_port" type="xs:string" />
          <xs:element name="prop_host" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_memory" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_garbage" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_threads" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_files" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_buffers" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="metric_registry" type="xs:anyType" />
          <xs:element name="health_check_registry" type="xs:anyType" />
          <xs:element name="propertyresolver" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="cacheconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="cachemanager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspectconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailconfiguration" >
      <xs:sequence>
        <xs:element name="env_spring_mail" type="xs:string" />
        <xs:element name="default_host" type="xs:string" />
        <xs:element name="prop_host" type="xs:string" />
        <xs:element name="default_prop_host" type="xs:string" />
        <xs:element name="prop_port" type="xs:string" />
        <xs:element name="prop_user" type="xs:string" />
        <xs:element name="prop_password" type="xs:string" />
        <xs:element name="prop_proto" type="xs:string" />
        <xs:element name="prop_tls" type="xs:string" />
        <xs:element name="prop_auth" type="xs:string" />
        <xs:element name="prop_smtp_auth" type="xs:string" />
        <xs:element name="prop_starttls" type="xs:string" />
        <xs:element name="prop_transport_proto" type="xs:string" />
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="propertyresolver" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="angularcookielocaleresolver" >
      <xs:complexContent>
       <xs:extension base="cookielocaleresolver">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="propertyresolver" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="env" type="xs:anyType" />
          <xs:element name="" type="ajaxauthenticationsuccesshandler" nillable="true" minOccurs="0" />
          <xs:element name="" type="ajaxauthenticationfailurehandler" nillable="true" minOccurs="0" />
          <xs:element name="" type="ajaxlogoutsuccesshandler" nillable="true" minOccurs="0" />
          <xs:element name="authenticationentrypoint" type="http401unauthorizedentrypoint" nillable="true" minOccurs="0" />
          <xs:element name="" type="userdetailsservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asyncconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="propertyresolver" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptionhandlingasynctaskexecutor" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="executor" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationwebxml" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="order" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="sampletextattribute" type="xs:string" />
        <xs:element name="sampledateattribute" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="request" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="services" type="xs:string" />
        <xs:element name="services" type="service" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="creation_date" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="expected_delivery_date" type="xs:string" />
        <xs:element name="expecteddeliverydate" type="xs:anyType" />
        <xs:element name="customer" type="xs:string" />
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
        <xs:element name="delivery_address" type="xs:string" />
        <xs:element name="delivery" type="address" nillable="true" minOccurs="0" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="description" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:complexContent>
       <xs:extension base="abstractauditingentity">
         <xs:sequence>
          <xs:element name="login" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:element name="firstname" type="xs:string" />
          <xs:element name="lastname" type="xs:string" />
          <xs:element name="email" type="xs:string" />
          <xs:element name="activated" type="xs:anyType" />
          <xs:element name="langkey" type="xs:string" />
          <xs:element name="activationkey" type="xs:string" />
          <xs:element name="authorities" type="authority" nillable="true" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="persistenttokens" type="persistenttoken" nillable="true" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customer" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="computed" type="customercomputed" nillable="true" minOccurs="0" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="address" type="xs:string" />
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
        <xs:element name="as_" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistentauditevent" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="principal" type="xs:string" />
        <xs:element name="auditeventdate" type="xs:anyType" />
        <xs:element name="auditeventtype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="city" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractauditingentity" >
      <xs:sequence>
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="xs:string" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authority" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="address" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="computed" type="addresscomputed" nillable="true" minOccurs="0" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="GeneratedName" type="city" nillable="true" minOccurs="0" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
        <xs:element name="as_" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customercomputed" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="customer" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customlocaldateserializer" >
      <xs:complexContent>
       <xs:extension base="jsonserializer<localdate>">
         <xs:sequence>
          <xs:element name="formatter" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addresscomputed" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="address" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenttoken" >
      <xs:sequence>
        <xs:element name="date_time_formatter" type="xs:anyType" />
        <xs:element name="max_user_agent_len" type="xs:long" />
        <xs:element name="series" type="xs:string" />
        <xs:element name="tokenvalue" type="xs:string" />
        <xs:element name="tokendate" type="xs:anyType" />
        <xs:element name="//anipv6addressmaxlengthis39charactersipaddress" type="xs:string" />
        <xs:element name="useragent" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="service" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="service" type="xs:string" />
        <xs:element name="unitprice" type="xs:anyType" />
        <xs:element name="quantity" type="xs:double" />
        <xs:element name="GeneratedName" type="request" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditeventservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="auditeventconverter" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mailservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="javamailsender" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="/***systemdefaultemailaddressthatsendsthee-mails.*/from" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="randomutil" >
      <xs:sequence>
        <xs:element name="def_count" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="persistenttokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="authorityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspect" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauditeventrepository" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistenceauditeventrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<order,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorityrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<authority,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="requestrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<request,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenttokenrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<persistenttoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistenceauditeventrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<persistentauditevent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="criteriautils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="http401unauthorizedentrypoint" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authoritiesconstants" >
      <xs:sequence>
        <xs:element name="admin" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="anonymous" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityutils" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajaxauthenticationfailurehandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationfailurehandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajaxauthenticationsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationsuccesshandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="custompersistentremembermeservices" >
      <xs:complexContent>
       <xs:extension base="">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="//tokenisvalidforonemonthtoken_validity_days" type="xs:long" />
          <xs:element name="token_validity_seconds" type="xs:long" />
          <xs:element name="default_series_length" type="xs:long" />
          <xs:element name="default_token_length" type="xs:long" />
          <xs:element name="random" type="xs:anyType" />
          <xs:element name="" type="persistenttokenrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ajaxlogoutsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="abstractauthenticationtargeturlrequesthandler">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityauditoraware" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usernotactivatedexception" >
      <xs:complexContent>
       <xs:extension base="authenticationexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userdetailsservice" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="saverequestws" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="requestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="requestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggerdto" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="level" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="login" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="langkey" type="xs:string" />
        <xs:element name="roles" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="auditresource" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="auditeventservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="requestsbycriteriawsinput" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="deliveryaddresscity" type="xs:string" />
        <xs:element name="customers" type="customer" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="start" type="xs:dateTime" />
        <xs:element name="end" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersbycriteriaws" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customersbycriteriawsinput" >
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="city" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="templateengine" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="persistenttokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="mailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="staticresourcesproductionfilter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gzipresponseutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="willbeemptywhenungzipped.*/empty_gzipped_content_size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gzipservletfilter" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gzipservletresponsewrapper" >
      <xs:complexContent>
       <xs:extension base="httpservletresponsewrapper">
         <xs:sequence>
          <xs:element name="gzipoutputstream" type="gzipservletoutputstream" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="disableflushbuffer" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gzipresponseheadersnotmodifiableexception" >
      <xs:complexContent>
       <xs:extension base="servletexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="gzipservletoutputstream" >
      <xs:complexContent>
       <xs:extension base="servletoutputstream">
         <xs:sequence>
          <xs:element name="stream" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cachinghttpheadersfilter" >
      <xs:sequence>
        <xs:element name="//cacheperiodis1month(inms)cache_period" type="xs:long" />
        <xs:element name="//weconsiderthelastmodifieddateisthestartuptimeoftheserverlast_modified" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="localedatetimeeditor" >
      <xs:complexContent>
       <xs:extension base="propertyeditorsupport">
         <xs:sequence>
          <xs:element name="formatter" type="xs:anyType" />
          <xs:element name="allowempty" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application-prod" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="master" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users_authorities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorities" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db-changelog-001" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activationemail" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="register" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessions" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="settings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activate" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orders" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="password" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fontawesome-webfont" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="glyphicons-halflings-regular" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ro" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="documentation" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="famfamfam-flags" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ehcache" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservicetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="persistenttokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userresourcetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="restuser" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="accountresourcetest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="restuser" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="orderresourcetest" >
      <xs:sequence>
        <xs:element name="default_id" type="xs:long" />
        <xs:element name="default_sample_date_attr" type="xs:anyType" />
        <xs:element name="upd_sample_date_attr" type="xs:anyType" />
        <xs:element name="default_sample_text_attr" type="xs:string" />
        <xs:element name="upd_sample_text_attr" type="xs:string" />
        <xs:element name="GeneratedName" type="orderrepository" nillable="true" minOccurs="0" />
        <xs:element name="restorder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="order" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testutil" >
      <xs:sequence>
        <xs:element name="/***forjsonutf8*/application_json_utf8" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 