utils-tools/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dem" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testlogger1" >
      <xs:sequence>
        <xs:element name="temp" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="temp" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calcite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datafactoryexample" >
      <xs:sequence>
        <xs:element name="operatortransform" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pathmatcherexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systemutilexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="simplesubscribe" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventbusexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactorexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="idhelperexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="nethelperexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tupleexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testimpl" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="itokenservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="everything" >
      <xs:complexContent>
       <xs:extension base="library">
         <xs:sequence>
          <xs:element name="instancedll" type="everything" nillable="true" minOccurs="0" />
          <xs:element name="everything_error_memory" type="xs:long" />
          <xs:element name="everything_error_ipc" type="xs:long" />
          <xs:element name="everything_error_registerclassex" type="xs:long" />
          <xs:element name="everything_error_createwindow" type="xs:long" />
          <xs:element name="everything_error_createthread" type="xs:long" />
          <xs:element name="everything_error_invalidindex" type="xs:long" />
          <xs:element name="everything_error_invalidcall" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="itestinterface" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="zbusexample" >
      <xs:sequence>
        <xs:element name="sdf_month" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="demoexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reactornettyexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hexexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="memsearchexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="compilerexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bshexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="treeexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pcaptemplateexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="opencvexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="systeminfotemplateexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templateexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="printer" >
      <xs:sequence>
        <xs:element name="/***二叉树的基本信息*/tree" type="binarytreeinfo" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="levelorderprinter" >
      <xs:complexContent>
       <xs:extension base="printer">
         <xs:sequence>
          <xs:element name="/***节点之间允许的最小间距（最小只能填1）*/min_space" type="xs:long" />
          <xs:element name="root" type="xs:anyType" />
          <xs:element name="minx" type="xs:long" />
          <xs:element name="maxwidth" type="xs:long" />
          <xs:element name="nodes" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="main" >
      <xs:sequence>
        <xs:element name="line" type="xs:string" />
        <xs:element name="bsts" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binarysearchtree" >
      <xs:sequence>
        <xs:element name="comparator" type="xs:anyType" />
        <xs:element name="root" type="xs:anyType" />
        <xs:element name="size" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inorderprinter" >
      <xs:complexContent>
       <xs:extension base="printer">
         <xs:sequence>
          <xs:element name="rightappend" type="xs:string" />
          <xs:element name="leftappend" type="xs:string" />
          <xs:element name="blankappend" type="xs:string" />
          <xs:element name="lineappend" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="strings" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binarytreeinfo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binarytrees" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="extensionfactoryexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="typeconverterexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="filesearchexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spiderexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fileutilsexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="calciteexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodinvokergenerator" >
      <xs:sequence>
        <xs:element name="_long" type="xs:anyType" />
        <xs:element name="_byte" type="xs:anyType" />
        <xs:element name="_float" type="xs:anyType" />
        <xs:element name="_short" type="xs:anyType" />
        <xs:element name="_double" type="xs:anyType" />
        <xs:element name="_boolean" type="xs:anyType" />
        <xs:element name="_integer" type="xs:anyType" />
        <xs:element name="_character" type="xs:anyType" />
        <xs:element name="source_file" type="xs:string" />
        <xs:element name="supertype" type="xs:string" />
        <xs:element name="interfaces" type="xs:string" />
        <xs:element name="invokedescriptor" type="xs:string" />
        <xs:element name="//loader//-----------------------------------------unsafe" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="define_class" type="xs:anyType" />
        <xs:element name="define_class_unsafe" type="xs:anyType" />
        <xs:element name="protection_domain" type="xs:anyType" />
        <xs:element name="//generator//------------------------------------------classname" type="xs:string" />
        <xs:element name="targetclass" type="xs:anyType" />
        <xs:element name="target" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testhandlerinvoker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="methodinvoker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultclasswriter" >
      <xs:complexContent>
       <xs:extension base="classwriter">
         <xs:sequence>
          <xs:element name="debug_location_property" type="xs:string" />
          <xs:element name="classname" type="xs:string" />
          <xs:element name="debuglocation" type="xs:string" />
          <xs:element name="tracector" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invoker" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invokercreateexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="httpexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="adocexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="flinkexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventsitexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tdemoinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="demotitle" type="xs:string" />
        <xs:element name="test" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="product" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="price" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pubsubserverexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="guavaexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionshelperexample" >
      <xs:complexContent>
       <xs:extension base="encrypt>>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="servereventbusexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="groovyutilsexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mockutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metadataadapterexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="netxfactorytest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ftrexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reflectionsfactoryexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expressiontest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="linq4jexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="spider2example" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cmdexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="strategyexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="binaryformatexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcehelperexample" >
      <xs:complexContent>
       <xs:extension base="encrypt>>">
         <xs:sequence>
          <xs:element name="exp" type="xs:string" />
          <xs:element name="encrypt_class" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bytebuddyexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parserexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="pubsubexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="classhelperexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="scriptfactoryexample" >
      <xs:sequence>
        <xs:element name="value_creators" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="lucenecontextexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ttimeexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jsonhelperexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hashoperatemapexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attachexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurationcentertest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cronutilexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="collectionexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="encryptexample" >
      <xs:sequence>
        <xs:element name="source" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="objectcontextmanagerexample" >
      <xs:complexContent>
       <xs:extension base="encrypt>>">
         <xs:sequence>
          <xs:element name="1" type="tdemoinfo" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="pluginexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cron4jexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tcpclienttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beancopyexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fegintest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dslexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dateexample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 