utils-tools/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="tdemoinfo" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="time" type="xs:dateTime" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="demotitle" type="xs:string" />
        <xs:element name="test" type="xs:string" />
        <xs:element name="uuid" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 