VMS/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="volunteachermanagementsystemapplicationtests" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="countryrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<country,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kidrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<kid,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="applicantrequestrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<applicantrequest,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kidsreportrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<kidsreport,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="villagerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<village,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="reportrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<report,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="eventrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<event,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionreportrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<sessionreport,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="donorrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<donor,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="attendancerepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<attendance,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paymentrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<payment,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="schoolrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<school,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="timelinepostrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<timelinepost,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="kidsgrouprepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<kidsgroup,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="participantrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<participant,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="districtrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<district,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="arearepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<area,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="staterepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<state,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contentrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<content,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sessionrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<session,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="apprepository" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<project,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="volunteacherrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<volunteacher,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activityrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<activity,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="talukarepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<taluka,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usertyperepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<usertype,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="notificationrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<notification,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="announcementrepository" >
      <xs:complexContent>
       <xs:extension base="pagingandsortingrepository<announcement,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="content" >
      <xs:sequence>
        <xs:element name="contentid" type="xs:long" />
        <xs:element name="contentdata" type="xs:string" />
        <xs:element name="group" type="kidsgroup" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="project" >
      <xs:sequence>
        <xs:element name="projectid" type="xs:long" />
        <xs:element name="projectname" type="xs:string" />
        <xs:element name="startingdate" type="xs:anyType" />
        <xs:element name="endingdate" type="xs:anyType" />
        <xs:element name="projectdata" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="creationtime" type="xs:anyType" />
        <xs:element name="totalkids" type="xs:long" />
        <xs:element name="totalsessions" type="xs:long" />
        <xs:element name="totalvolunteachers" type="xs:long" />
        <xs:element name="sessions" type="session" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="events" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidsgroup" >
      <xs:sequence>
        <xs:element name="groupid" type="xs:long" />
        <xs:element name="groupname" type="xs:string" />
        <xs:element name="criteria" type="xs:string" />
        <xs:element name="attendances" type="attendance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usertype" >
      <xs:sequence>
        <xs:element name="typeid" type="xs:long" />
        <xs:element name="type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="payment" >
      <xs:sequence>
        <xs:element name="paymentid" type="xs:long" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="paymentmode" type="xs:string" />
        <xs:element name="amount" type="xs:double" />
        <xs:element name="transactionid" type="xs:string" />
        <xs:element name="GeneratedName" type="donor" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicantrequest" >
      <xs:sequence>
        <xs:element name="requestid" type="xs:long" />
        <xs:element name="emailid" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="gender" type="xs:long" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="requestdate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="school" >
      <xs:sequence>
        <xs:element name="schoolid" type="xs:long" />
        <xs:element name="schoolname" type="xs:string" />
        <xs:element name="pincode" type="xs:long" />
        <xs:element name="lab" type="xs:anyType" />
        <xs:element name="grade" type="xs:string" />
        <xs:element name="totalteachers" type="xs:long" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="startingdate" type="xs:anyType" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="totalstudent" type="xs:long" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="requirements" type="xs:string" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="gender" >
      <xs:sequence>
        <xs:element name="male" type="xs:long" />
        <xs:element name="female" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionreport" >
      <xs:sequence>
        <xs:element name="sessionreportid" type="xs:long" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="suggestions" type="xs:string" />
        <xs:element name="experience" type="xs:string" />
        <xs:element name="requirements" type="xs:string" />
        <xs:element name="GeneratedName" type="session" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volunteacher" >
      <xs:sequence>
        <xs:element name="volunteacherid" type="xs:long" />
        <xs:element name="school" type="xs:string" />
        <xs:element name="employername" type="xs:string" />
        <xs:element name="status" type="xs:long" />
        <xs:element name="joiningdate" type="xs:anyType" />
        <xs:element name="pincode" type="xs:long" />
        <xs:element name="education" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="district" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcement" >
      <xs:sequence>
        <xs:element name="announcementid" type="xs:long" />
        <xs:element name="data" type="xs:string" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="creationtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="district" >
      <xs:sequence>
        <xs:element name="districtid" type="xs:long" />
        <xs:element name="districtname" type="xs:string" />
        <xs:element name="GeneratedName" type="state" nillable="true" minOccurs="0" />
        <xs:element name="talukas" type="taluka" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="taluka" >
      <xs:sequence>
        <xs:element name="talukaid" type="xs:long" />
        <xs:element name="talukaname" type="xs:string" />
        <xs:element name="GeneratedName" type="district" nillable="true" minOccurs="0" />
        <xs:element name="villages" type="village" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="event" >
      <xs:sequence>
        <xs:element name="eventid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="eventdata" type="xs:string" />
        <xs:element name="eventdate" type="xs:anyType" />
        <xs:element name="eventstartingtime" type="xs:anyType" />
        <xs:element name="eventendingtime" type="xs:anyType" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="notified" type="xs:anyType" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="participants" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="activities" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="notification" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participant" >
      <xs:sequence>
        <xs:element name="participantid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="gender" type="xs:long" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="type" type="usertype" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="event" nillable="true" minOccurs="0" />
        <xs:element name="activities" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="report" >
      <xs:sequence>
        <xs:element name="reportid" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="pdfurl" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="userid" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="gender" type="xs:long" />
        <xs:element name="phonenumber" type="xs:string" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="type" type="usertype" nillable="true" minOccurs="0" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="userotp" type="xs:string" />
        <xs:element name="announcement" type="announcement" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sessionreports" type="sessionreport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="volunteacher" nillable="true" minOccurs="0" />
        <xs:element name="posts" type="timelinepost" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="notifications" type="notification" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sessions" type="session" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="event" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="session" >
      <xs:sequence>
        <xs:element name="sessionid" type="xs:long" />
        <xs:element name="//attendancesessiondate" type="xs:anyType" />
        <xs:element name="startingtime" type="xs:anyType" />
        <xs:element name="endingtime" type="xs:anyType" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="notified" type="xs:anyType" />
        <xs:element name="GeneratedName" type="project" nillable="true" minOccurs="0" />
        <xs:element name="attendance" type="attendance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sessionreports" type="sessionreport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notification" nillable="true" minOccurs="0" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidsreport" >
      <xs:sequence>
        <xs:element name="kidreportid" type="xs:long" />
        <xs:element name="GeneratedName" type="kid" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="discipline" type="xs:long" />
        <xs:element name="prayer" type="xs:long" />
        <xs:element name="goshthi" type="xs:long" />
        <xs:element name="abhivyakti" type="xs:long" />
        <xs:element name="volunteaching" type="xs:long" />
        <xs:element name="games" type="xs:long" />
        <xs:element name="interestarea" type="xs:string" />
        <xs:element name="artcraft" type="xs:long" />
        <xs:element name="sports" type="xs:long" />
        <xs:element name="science" type="xs:long" />
        <xs:element name="//@notnull//@column(nullable" type="xs:string" />
        <xs:element name="maths" type="xs:long" />
        <xs:element name="gujarati" type="xs:long" />
        <xs:element name="english" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="area" >
      <xs:sequence>
        <xs:element name="areaid" type="xs:long" />
        <xs:element name="areaname" type="xs:string" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="state" >
      <xs:sequence>
        <xs:element name="stateid" type="xs:long" />
        <xs:element name="statename" type="xs:string" />
        <xs:element name="GeneratedName" type="country" nillable="true" minOccurs="0" />
        <xs:element name="districts" type="district" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kid" >
      <xs:sequence>
        <xs:element name="kidid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="gender" type="xs:long" />
        <xs:element name="dob" type="xs:anyType" />
        <xs:element name="standard" type="xs:long" />
        <xs:element name="level" type="xs:long" />
        <xs:element name="totalsessions" type="xs:long" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="school" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="group" type="kidsgroup" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="village" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="area" nillable="true" minOccurs="0" />
        <xs:element name="projects" type="project" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="events" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kidsreport" type="kidsreport" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="attendances" type="attendance" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timelinepost" >
      <xs:sequence>
        <xs:element name="postid" type="xs:long" />
        <xs:element name="postphoto" type="xs:string" />
        <xs:element name="postdescription" type="xs:string" />
        <xs:element name="creationdate" type="xs:anyType" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="village" >
      <xs:sequence>
        <xs:element name="villageid" type="xs:long" />
        <xs:element name="villagename" type="xs:string" />
        <xs:element name="GeneratedName" type="taluka" nillable="true" minOccurs="0" />
        <xs:element name="areas" type="area" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendance" >
      <xs:sequence>
        <xs:element name="attendanceid" type="xs:long" />
        <xs:element name="GeneratedName" type="session" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidsgroup" nillable="true" minOccurs="0" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notification" >
      <xs:sequence>
        <xs:element name="notificationid" type="xs:long" />
        <xs:element name="notificationtype" type="xs:string" />
        <xs:element name="createdby" type="user" nillable="true" minOccurs="0" />
        <xs:element name="usertype" type="xs:string" />
        <xs:element name="GeneratedName" type="session" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="event" nillable="true" minOccurs="0" />
        <xs:element name="createddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="donor" >
      <xs:sequence>
        <xs:element name="donorid" type="xs:long" />
        <xs:element name="donorname" type="xs:string" />
        <xs:element name="donorphone" type="xs:string" />
        <xs:element name="donoremail" type="xs:string" />
        <xs:element name="GeneratedName" type="usertype" nillable="true" minOccurs="0" />
        <xs:element name="payment" type="payment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventkidactivity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="kid" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="event" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="activity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activity" >
      <xs:sequence>
        <xs:element name="activityid" type="xs:long" />
        <xs:element name="activityname" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="participants" type="participant" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="events" type="event" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="countryid" type="xs:long" />
        <xs:element name="countryname" type="xs:string" />
        <xs:element name="states" type="state" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volnteacherserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="volunteacherrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementserviceimpl" >
      <xs:sequence>
        <xs:element name="announcementrepsitory" type="announcementrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="usertyperepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="activities" type="activity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="activityrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="countryrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="staterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="districtrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="talukarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="villagerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="arearepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="contentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendanceserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="attendancerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="volunteacherrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="schoolrespository" type="schoolrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="activityrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicantrequestserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicantrequestrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidsgrouprepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidsreportserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kidsreportrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schoolserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="schoolrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionreportrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="participantrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="eventrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timelinepostserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="timelinepostrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordencoder" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectserviceimpl" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="kidrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="sessionrepository" nillable="true" minOccurs="0" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kids" type="kid" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="volunteacherrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volunteacherservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schoolservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timelinepostservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidsreportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicantrequestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="unauthorizeduserexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptioncontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailalreadyexistexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="error" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="path" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="corecontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="coreservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="projectservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessioncontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="sessionservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="reportservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schoolcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="schoolservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="notificationservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="announcementservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="excelcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="excelservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="applicantrequestservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="contentservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="eventservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="participantservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="volunteacherservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="emailservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timelinepostcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="timelinepostservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidscontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="kidservice" nillable="true" minOccurs="0" />
        <xs:element name="kidreportservice" type="kidsreportservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="attendanceservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activitycontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="activityservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userprincipal" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
          <xs:element name="" type="userservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconstant" >
      <xs:sequence>
        <xs:element name="expiration_time" type="xs:long" />
        <xs:element name="token_prefix" type="xs:string" />
        <xs:element name="jwt_token_header" type="xs:string" />
        <xs:element name="token_cannot_be_verified" type="xs:string" />
        <xs:element name="forbidden_message" type="xs:string" />
        <xs:element name="access_denied_message" type="xs:string" />
        <xs:element name="_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="userdetailsservice" type="myuserdetailsservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="myuserdetailsservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configurationclass" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volunteachermanagementsystemapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="additional-spring-configuration-metadata" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paymentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="volunteacherservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="attendanceservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="eventservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="coreservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="announcementservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="projectservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="participantservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="activityservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="notificationservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="reportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kidsreportservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="schoolservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="timelinepostservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicantrequestservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sessionservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 