tutoriales77/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="mvc-servlet" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sample" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="parent" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="child" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="child" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="parent" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setup" >
      <xs:sequence>
        <xs:element name="setupdone" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractservice" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ioperations" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="abstracthibernatedao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ichilddao" >
      <xs:complexContent>
       <xs:extension base="ioperations<child>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:complexContent>
       <xs:extension base="ioperations<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iparentdao" >
      <xs:complexContent>
       <xs:extension base="ioperations<parent>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodao" >
      <xs:complexContent>
       <xs:extension base="abstracthibernatedao<foo>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childdao" >
      <xs:complexContent>
       <xs:extension base="abstracthibernatedao<child>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parentdao" >
      <xs:complexContent>
       <xs:extension base="abstracthibernatedao<parent>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="parentservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<parent>">
         <xs:sequence>
          <xs:element name="dao" type="iparentdao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="childservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<child>">
         <xs:sequence>
          <xs:element name="dao" type="ichilddao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:complexContent>
       <xs:extension base="abstractservice<foo>">
         <xs:sequence>
          <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="iparentservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<parent>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ichildservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<child>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ifooservice" >
      <xs:complexContent>
       <xs:extension base="ioperations<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertieswithxmlconfigone" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithxmlconfigtwo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithjavaconfigother" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithxmlconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentusingproperties" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="injectedproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="componentinxmlusingproperties" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="injectedproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="dependency" type="beanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="dependency" type="ibeanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="context" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2datacontextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3datacontextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1datacontextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="someproperty2" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2contextwithjavaconfig" >
      <xs:sequence>
        <xs:element name="someproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause9contextwithjavaconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause6contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause5contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause8contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause7contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause4contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2contextwithjavaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb" >
      <xs:sequence>
        <xs:element name="beana" type="ibeana" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="beanb" type="ibeanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb1" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="dependency" type="ibeanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb2" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="dependency" type="ibeanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
        <xs:element name="dependency" type="beanb" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beanb" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ibeana" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause4nontransientconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause5nontransientconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1nontransientconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="coreconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mainwebappinitializer" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hibernate-mysql" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcontextlivetest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithxmlmanualtest" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="injectedproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithmultiplexmlsmanualtest" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="injectedproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertieswithjavamanualtest" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="injectedproperty" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourcelookupexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataintegrityexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="fooservice" type="ifooservice" nillable="true" minOccurs="0" />
        <xs:element name="rest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dataretrievalexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="rest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cannotgetjdbcconnectionexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="rest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidresourceusageexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="fooservice" type="ifooservice" nillable="true" minOccurs="0" />
        <xs:element name="rest" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2mappingexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3mappingexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1mappingexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause4mappingexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause9beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause5beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beancreationexceptiontestsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause8beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause4beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause6beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause7beancreationexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1nosuchbeandefinitionexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2nosuchbeandefinitionexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3nosuchbeandefinitionexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3beandefinitionstoreexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2beandefinitionstoreexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1beandefinitionstoreexceptionmanualtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause2dataintegrityviolationexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="fooservice" type="ifooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause1dataintegrityviolationexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="service" type="iparentservice" nillable="true" minOccurs="0" />
        <xs:element name="childservice" type="ichildservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cause3dataintegrityviolationexceptionmanualtest" >
      <xs:sequence>
        <xs:element name="fooservice" type="ifooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 