TSI-IFRN14/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="onregistrationcompleteevent" >
      <xs:complexContent>
       <xs:extension base="applicationevent">
         <xs:sequence>
          <xs:element name="appurl" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="user" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="registrationlistener" >
      <xs:sequence>
        <xs:element name="service" type="iuserservice" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="tokenrepository" type="verificationtokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordtokenrepository" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="token_invalid" type="xs:string" />
        <xs:element name="token_expired" type="xs:string" />
        <xs:element name="token_valid" type="xs:string" />
        <xs:element name="qr_prefix" type="xs:string" />
        <xs:element name="app_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="unknown" type="xs:string" />
        <xs:element name="from" type="xs:string" />
        <xs:element name="GeneratedName" type="devicemetadatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="messages" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="iuserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="application" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authenticationsuccesseventlistener" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="loginattemptservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customauthenticationfailurehandler" >
      <xs:complexContent>
       <xs:extension base="simpleurlauthenticationfailurehandler">
         <xs:sequence>
          <xs:element name="messages" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customremembermeservices" >
      <xs:complexContent>
       <xs:extension base="persistenttokenbasedremembermeservices">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="authoritiesmapper" type="xs:anyType" />
          <xs:element name="authenticationdetailssource" type="xs:anyType" />
          <xs:element name="tokenrepository" type="xs:anyType" />
          <xs:element name="key" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mysimpleurlauthenticationsuccesshandler" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="activeuserstore" nillable="true" minOccurs="0" />
          <xs:element name="" type="deviceservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mycustomloginauthenticationsuccesshandler" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="activeuserstore" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginattemptservice" >
      <xs:sequence>
        <xs:element name="max_attempt" type="xs:long" />
        <xs:element name="attemptscache" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authenticationfailurelistener" >
      <xs:sequence>
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="loginattemptservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customwebauthenticationdetailssource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customwebauthenticationdetails" >
      <xs:complexContent>
       <xs:extension base="webauthenticationdetails">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="verificationcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="customauthenticationprovider" >
      <xs:complexContent>
       <xs:extension base="daoauthenticationprovider">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="activeuserstore" >
      <xs:sequence>
        <xs:element name="users" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="isecurityuserservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usersecurityservice" >
      <xs:sequence>
        <xs:element name="passwordtokenrepository" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myuserdetailsservice" >
      <xs:complexContent>
       <xs:extension base="grantedauthority>">
         <xs:sequence>
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="loginattemptservice" nillable="true" minOccurs="0" />
          <xs:element name="request" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="mylogoutsuccesshandler" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggeduser" >
      <xs:sequence>
        <xs:element name="username" type="xs:string" />
        <xs:element name="GeneratedName" type="activeuserstore" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenspurgetask" >
      <xs:sequence>
        <xs:element name="tokenrepository" type="verificationtokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="passwordtokenrepository" type="passwordresettokenrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordconstraintvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordmatchesvalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uservalidator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordmatches" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailexistsexception" >
      <xs:complexContent>
       <xs:extension base="throwable">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="validpassword" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailvalidator" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="email_pattern" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validemail" >
      <xs:complexContent>
       <xs:extension base="payload>[]">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="privilege" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="privileges" type="privilege" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="isusing2fa" type="xs:anyType" />
        <xs:element name="secret" type="xs:string" />
        <xs:element name="//roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="verificationtoken" >
      <xs:sequence>
        <xs:element name="expiration" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="expiry" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresettoken" >
      <xs:sequence>
        <xs:element name="expiration" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="token" type="xs:string" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="expiry" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="devicemetadata" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
        <xs:element name="devicedetails" type="xs:string" />
        <xs:element name="location" type="xs:string" />
        <xs:element name="lastloggedin" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passwordresettokenrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<passwordresettoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="userrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<user,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="rolerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<role,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="privilegerepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<privilege,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="verificationtokenrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<verificationtoken,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="devicemetadatarepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<devicemetadata,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="captchaservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="request" type="xs:anyType" />
        <xs:element name="GeneratedName" type="captchasettings" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="recaptchaattemptservice" nillable="true" minOccurs="0" />
        <xs:element name="resttemplate" type="xs:anyType" />
        <xs:element name="response_" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="captchasettings" >
      <xs:sequence>
        <xs:element name="site" type="xs:string" />
        <xs:element name="secret" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recaptchaattemptservice" >
      <xs:sequence>
        <xs:element name="max_attempt" type="xs:long" />
        <xs:element name="attemptscache" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="icaptchaservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="googleresponse" >
      <xs:sequence>
        <xs:element name="success" type="xs:anyType" />
        <xs:element name="challengets" type="xs:string" />
        <xs:element name="hostname" type="xs:string" />
        <xs:element name="s" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="usercontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="activeuserstore" nillable="true" minOccurs="0" />
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcaptchacontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
        <xs:element name="captchaservice" type="icaptchaservice" nillable="true" minOccurs="0" />
        <xs:element name="eventpublisher" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oldregistrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
        <xs:element name="securityuserservice" type="isecurityuserservice" nillable="true" minOccurs="0" />
        <xs:element name="messages" type="xs:anyType" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="eventpublisher" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdto" >
      <xs:sequence>
        <xs:element name="firstname" type="xs:string" />
        <xs:element name="lastname" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="matchingpassword" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="isusing2fa" type="xs:anyType" />
        <xs:element name="role" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="passworddto" >
      <xs:sequence>
        <xs:element name="oldpassword" type="xs:string" />
        <xs:element name="newpassword" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="recaptchainvalidexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="recaptchaunavailableexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="usernotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="restresponseentityexceptionhandler" >
      <xs:complexContent>
       <xs:extension base="responseentityexceptionhandler">
         <xs:sequence>
          <xs:element name="messages" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="useralreadyexistexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidoldpasswordexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="genericresponse" >
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
        <xs:element name="error" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="serviceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="setupdataloader" >
      <xs:sequence>
        <xs:element name="alreadysetup" type="xs:anyType" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="privilegerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencejpaconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="appconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loginnotificationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="secsecurityconfig" >
      <xs:complexContent>
       <xs:extension base="websecurityconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="xs:anyType" />
          <xs:element name="my" type="xs:anyType" />
          <xs:element name="my" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="authenticationdetailssource" type="customwebauthenticationdetailssource" nillable="true" minOccurs="0" />
          <xs:element name="" type="userrepository" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springtaskconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="captchaconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="mvcconfig" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="homepage" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="users" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="qrcode" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="expiredaccount" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="successregister" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="home" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logout" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="baduser" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailerror" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationconfirm" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="admin" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="invalidsession" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messages_en" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="configtest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testdbconfig" >
      <xs:complexContent>
       <xs:extension base="persistencejpaconfig">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="testtaskconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testintegrationconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="deviceserviceintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="devicemetadatarepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="mailsender" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="//userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userintegrationtest" >
      <xs:sequence>
        <xs:element name="tokenrepository" type="verificationtokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="tokenid" type="xs:long" />
        <xs:element name="userid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="integrationsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityrolesintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="privilegerepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="role" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="privilege" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationpasswordlivetest" >
      <xs:sequence>
        <xs:element name="base_uri" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="changepasswordintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="formconfig" type="xs:anyType" />
        <xs:element name="url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="registrationcontrollerintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getloggedusersintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="port" type="xs:long" />
        <xs:element name="formconfig" type="xs:anyType" />
        <xs:element name="logged_users_url,session_registry_logged_users_url" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tokenexpirationintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="tokenrepository" type="verificationtokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="tokenspurgetask" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="token_id" type="xs:long" />
        <xs:element name="user_id" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userserviceintegrationtest" >
      <xs:sequence>
        <xs:element name="userservice" type="iuserservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="userrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="rolerepository" nillable="true" minOccurs="0" />
        <xs:element name="tokenrepository" type="verificationtokenrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback-test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 