tensquare_geek6/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="label" >
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="labelname" type="xs:string" />
        <xs:element name="state" type="xs:string" />
        <xs:element name="count" type="xs:anyType" />
        <xs:element name="recommend" type="xs:string" />
        <xs:element name="fans" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 