yoga1/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertymapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<property>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertyservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="propertymapper" nillable="true" minOccurs="0" />
          <xs:element name="fieldmapper" type="templatefieldmapper" nillable="true" minOccurs="0" />
          <xs:element name="modulename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="property" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="children" type="property" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="propertyvo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="poster" type="xs:string" />
        <xs:element name="children" type="propertyvo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listvaluedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="poster" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="poster" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="propertycontroller" >
      <xs:complexContent>
       <xs:extension base="basecontroller">
         <xs:sequence>
          <xs:element name="" type="propertyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="contants" >
      <xs:sequence>
        <xs:element name="content_collectionprefix" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fieldtype" >
      <xs:sequence>
        <xs:element name="code" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="template" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="fieldcount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatefield" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="templateid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="type" type="fieldtype" nillable="true" minOccurs="0" />
        <xs:element name="param" type="xs:string" />
        <xs:element name="hint" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="placeholder" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="sort" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatefieldvo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="type" type="fieldtype" nillable="true" minOccurs="0" />
        <xs:element name="param" type="xs:string" />
        <xs:element name="hint" type="xs:string" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="placeholder" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatevo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="fieldcount" type="xs:anyType" />
        <xs:element name="remark" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="templatemapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<template>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templatefieldmapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<templatefield>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templatecontroller" >
      <xs:complexContent>
       <xs:extension base="basecontroller">
         <xs:sequence>
          <xs:element name="" type="templateservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="propertyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sortfielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enabledto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="disabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listfielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="templateid" type="xs:long" />
          <xs:element name="name" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addfielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="templateid" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="hint" type="xs:string" />
          <xs:element name="type" type="fieldtype" nillable="true" minOccurs="0" />
          <xs:element name="param" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="placeholder" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatefielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="hint" type="xs:string" />
          <xs:element name="type" type="fieldtype" nillable="true" minOccurs="0" />
          <xs:element name="param" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="placeholder" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="enablefielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="disabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="filter" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getfielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletefielddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="enabled" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="templateservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="templatemapper" nillable="true" minOccurs="0" />
          <xs:element name="fieldmapper" type="templatefieldmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="columnmapper" nillable="true" minOccurs="0" />
          <xs:element name="modulename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:complexContent>
       <xs:extension base="basecontroller">
         <xs:sequence>
          <xs:element name="" type="commentservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upvoteservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="upvotemapper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="commentmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="commentupvotermapper" nillable="true" minOccurs="0" />
          <xs:element name="modulename" type="xs:string" />
          <xs:element name="keyname_needaudit" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatecountjob" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentmapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="upvotemapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="favoritemapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="articleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoriteservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="favoritemapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="articleservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentupvote" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="upvoterid" type="xs:long" />
        <xs:element name="addtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upvote" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="upvoterid" type="xs:long" />
        <xs:element name="issuetime" type="xs:anyType" />
        <xs:element name="upvotername" type="xs:string" />
        <xs:element name="upvoteravatar" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favorite" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="favoriterid" type="xs:long" />
        <xs:element name="addtime" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="articletitle" type="xs:string" />
        <xs:element name="commentid" type="xs:long" />
        <xs:element name="replierid" type="xs:long" />
        <xs:element name="repliername" type="xs:string" />
        <xs:element name="receiverid" type="xs:long" />
        <xs:element name="issuetime" type="xs:anyType" />
        <xs:element name="content" type="xs:string" />
        <xs:element name="upvotecount" type="xs:anyType" />
        <xs:element name="issued" type="xs:anyType" />
        <xs:element name="//评论这条评论的总数replycount" type="xs:anyType" />
        <xs:element name="//评论这条评论的id列表replyids" type="xs:anyType" />
        <xs:element name="//评论这条评论replies" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="favoritecount" >
      <xs:sequence>
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="favoritecount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcount" >
      <xs:sequence>
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="commentcount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="upvotecount" >
      <xs:sequence>
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="upvotecount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentupvotecount" >
      <xs:sequence>
        <xs:element name="commentcount" type="xs:anyType" />
        <xs:element name="upvotecount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentupvotermapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<commentupvote>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentmapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<comment>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="favoritemapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<favorite>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="upvotemapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<upvote>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="filter" type="xs:string" />
          <xs:element name="issued" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="issuedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="issued" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="issuesdto" >
      <xs:sequence>
        <xs:element name="ids" type="xs:anyType" />
        <xs:element name="issued" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="columnmapper" >
      <xs:complexContent>
       <xs:extension base="mymapper<column>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="templateid" type="xs:long" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="hidden" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="templateid" type="xs:long" />
          <xs:element name="remark" type="xs:string" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="enabled" type="xs:anyType" />
          <xs:element name="hidden" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="getdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:long" />
          <xs:element name="code" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="parentcode" type="xs:string" />
          <xs:element name="hidden" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
          <xs:element name="" type="columnmapper" nillable="true" minOccurs="0" />
          <xs:element name="" type="templateservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="modulename" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columncontroller" >
      <xs:complexContent>
       <xs:extension base="basecontroller">
         <xs:sequence>
          <xs:element name="" type="columnservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="templateservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="columnvo" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="templateid" type="xs:long" />
        <xs:element name="articlecount" type="xs:anyType" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="hidden" type="xs:anyType" />
        <xs:element name="childrencount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="column" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="parentid" type="xs:long" />
        <xs:element name="enabled" type="xs:anyType" />
        <xs:element name="templateid" type="xs:long" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="articlecount" type="xs:anyType" />
        <xs:element name="remark" type="xs:string" />
        <xs:element name="hidden" type="xs:anyType" />
        <xs:element name="templatecode" type="xs:string" />
        <xs:element name="templatename" type="xs:string" />
        <xs:element name="children" type="column" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="childrencount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="contentapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detailbycolumniddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="fields" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="weblistdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="columncode" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="//是否独立页面（左侧没有栏目树)alone" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="adddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="templatecode" type="xs:string" />
          <xs:element name="title" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addrelateddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="fieldcode" type="xs:string" />
          <xs:element name="filter" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="sortdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="sort" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="allfavordto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="filter" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="finddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="onlineonly" type="xs:anyType" />
          <xs:element name="fields" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="listdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="onlineonly" type="xs:anyType" />
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="columncode" type="xs:string" />
          <xs:element name="fields" type="xs:string" />
          <xs:element name="name" type="xs:string" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="templateid" type="xs:string" />
          <xs:element name="type" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updatedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="templatecode" type="xs:string" />
          <xs:element name="title" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="deletedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailsbyfilterdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="templatecode" type="xs:string" />
          <xs:element name="fields" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="addfavordto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
          <xs:element name="templatecode" type="xs:string" />
          <xs:element name="articletitle" type="xs:string" />
          <xs:element name="poster" type="xs:string" />
          <xs:element name="summary" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailbytempcode" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="templatecode" type="xs:string" />
          <xs:element name="fields" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="filterdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="title" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="framedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="columncode" type="xs:string" />
          <xs:element name="parentid" type="xs:long" />
          <xs:element name="parentcode" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
          <xs:element name="columnid" type="xs:long" />
          <xs:element name="alone" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="delfavordto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
          <xs:element name="favorid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detaildto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="onlinedto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="id" type="xs:string" />
          <xs:element name="online" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="isfavordto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleid" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hotkeyworddto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="count" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="detailsdto" >
      <xs:complexContent>
       <xs:extension base="basedto">
         <xs:sequence>
          <xs:element name="articleids" type="xs:anyType" />
          <xs:element name="fields" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="focuscount" >
      <xs:sequence>
        <xs:element name="tenantid" type="xs:long" />
        <xs:element name="articleid" type="xs:string" />
        <xs:element name="commentcount" type="xs:anyType" />
        <xs:element name="upvotecount" type="xs:anyType" />
        <xs:element name="favoritecount" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articleservice" >
      <xs:complexContent>
       <xs:extension base="object>">
         <xs:sequence>
          <xs:element name="" type="columnservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="hotkeywordservice" >
      <xs:complexContent>
       <xs:extension base="baseservice">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="editelement" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fieldtype" nillable="true" minOccurs="0" />
        <xs:element name="label" type="xs:string" />
        <xs:element name="code" type="xs:string" />
        <xs:element name="hint" type="xs:string" />
        <xs:element name="value" type="xs:anyType" />
        <xs:element name="options" type="xs:anyType" />
        <xs:element name="values" type="property" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="longitude" type="xs:double" />
        <xs:element name="latitude" type="xs:double" />
        <xs:element name="filetype" type="xs:string" />
        <xs:element name="placeholder" type="xs:string" />
        <xs:element name="files" type="xs:anyType" />
        <xs:element name="articles" type="xs:anyType" />
        <xs:element name="checkeds" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="articlecontroller" >
      <xs:complexContent>
       <xs:extension base="basecontroller">
         <xs:sequence>
          <xs:element name="" type="articleservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="hotkeywordservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="columnservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="templateservice" nillable="true" minOccurs="0" />
          <xs:element name="" type="propertyservice" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema> 