tutoriales27/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="logback-spring" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="master" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="hazelcast-management-center" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sonar" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsresource" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggervm" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="level" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorconstants" >
      <xs:sequence>
        <xs:element name="err_concurrency_failure" type="xs:string" />
        <xs:element name="err_validation" type="xs:string" />
        <xs:element name="problem_base_url" type="xs:string" />
        <xs:element name="default_type" type="xs:anyType" />
        <xs:element name="constraint_violation_type" type="xs:anyType" />
        <xs:element name="parameterized_type" type="xs:anyType" />
        <xs:element name="entity_not_found_type" type="xs:anyType" />
        <xs:element name="invalid_password_type" type="xs:anyType" />
        <xs:element name="email_already_used_type" type="xs:anyType" />
        <xs:element name="login_already_used_type" type="xs:anyType" />
        <xs:element name="email_not_found_type" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="emailnotfoundexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="invalidpasswordexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="loginalreadyusedexception" >
      <xs:complexContent>
       <xs:extension base="badrequestalertexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="emailalreadyusedexception" >
      <xs:complexContent>
       <xs:extension base="badrequestalertexception">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptiontranslator" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="customparameterizedexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="param" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="internalservererrorexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="badrequestalertexception" >
      <xs:complexContent>
       <xs:extension base="abstractthrowableproblem">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
          <xs:element name="entityname" type="xs:string" />
          <xs:element name="errorkey" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fielderrorvm" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="objectname" type="xs:string" />
        <xs:element name="field" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteresource" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="entity_name" type="xs:string" />
        <xs:element name="GeneratedName" type="quoteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quotequeryservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="headerutil" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="application_name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="paginationutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="metricsconfiguration" >
      <xs:complexContent>
       <xs:extension base="metricsconfigureradapter">
         <xs:sequence>
          <xs:element name="prop_metric_reg_jvm_memory" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_garbage" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_threads" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_files" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_buffers" type="xs:string" />
          <xs:element name="prop_metric_reg_jvm_attribute_set" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="localeconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationproperties" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="feignconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingconfiguration" >
      <xs:complexContent>
       <xs:extension base="contextawarebase">
         <xs:sequence>
          <xs:element name="logstash_appender_name" type="xs:string" />
          <xs:element name="async_logstash_appender_name" type="xs:string" />
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="context" type="xs:anyType" />
          <xs:element name="appname" type="xs:string" />
          <xs:element name="serverport" type="xs:string" />
          <xs:element name="version" type="xs:string" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="auditeventconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="jacksonconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="defaultprofileutil" >
      <xs:sequence>
        <xs:element name="spring_profile_default" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2properties" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2jwtaccesstokenconverter" >
      <xs:complexContent>
       <xs:extension base="jwtaccesstokenconverter">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="oauth2properties" nillable="true" minOccurs="0" />
          <xs:element name="signatureverifierclient" type="oauth2signatureverifierclient" nillable="true" minOccurs="0" />
          <xs:element name="/***whendidwelastfetchthepublickey?*/lastkeyfetchtimestamp" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="securityconfiguration" >
      <xs:complexContent>
       <xs:extension base="resourceserverconfigureradapter">
         <xs:sequence>
          <xs:element name="" type="oauth2properties" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="asyncconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="liquibaseconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="databaseconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspectconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurer" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datetimeformatconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cacheconfiguration" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clouddatabaseconfiguration" >
      <xs:complexContent>
       <xs:extension base="abstractcloudconfig">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="constants" >
      <xs:sequence>
        <xs:element name="//regexforacceptableloginslogin_regex" type="xs:string" />
        <xs:element name="system_account" type="xs:string" />
        <xs:element name="anonymous_user" type="xs:string" />
        <xs:element name="default_language" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistentauditevent" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="principal" type="xs:string" />
        <xs:element name="auditeventdate" type="xs:anyType" />
        <xs:element name="auditeventtype" type="xs:string" />
        <xs:element name="data" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractauditingentity" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="createdby" type="xs:string" />
        <xs:element name="createddate" type="xs:anyType" />
        <xs:element name="lastmodifiedby" type="xs:string" />
        <xs:element name="lastmodifieddate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quote" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="symbol" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="lasttrade" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="loggingaspect" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoterepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<quote,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotesapp" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="applicationwebxml" >
      <xs:complexContent>
       <xs:extension base="springbootservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authoritiesconstants" >
      <xs:sequence>
        <xs:element name="admin" type="xs:string" />
        <xs:element name="user" type="xs:string" />
        <xs:element name="anonymous" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securityutils" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="uaasignatureverifierclient" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="oauth2properties" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2signatureverifierclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springsecurityauditoraware" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteserviceimpl" >
      <xs:sequence>
        <xs:element name="log" type="xs:anyType" />
        <xs:element name="GeneratedName" type="quoterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quotemapper" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymapper" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotemapper" >
      <xs:complexContent>
       <xs:extension base="entitymapper<quotedto,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="package-info" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotedto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="symbol" type="xs:string" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="lasttrade" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotecriteria" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="symbol" type="xs:anyType" />
        <xs:element name="price" type="xs:anyType" />
        <xs:element name="lasttrade" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quotequeryservice" >
      <xs:complexContent>
       <xs:extension base="queryservice<quote>">
         <xs:sequence>
          <xs:element name="log" type="xs:anyType" />
          <xs:element name="" type="quoterepository" nillable="true" minOccurs="0" />
          <xs:element name="" type="quotemapper" nillable="true" minOccurs="0" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="authorizedfeignclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2interceptedfeignconfiguration" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userfeignclientinterceptor" >
      <xs:sequence>
        <xs:element name="authorization_header" type="xs:string" />
        <xs:element name="bearer_token_type" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2userclientfeignconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="authorizeduserfeignclient" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="oauth2tokenmockutil" >
      <xs:sequence>
        <xs:element name="tokenservices" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="quoteresourceinttest" >
      <xs:sequence>
        <xs:element name="default_symbol" type="xs:string" />
        <xs:element name="updated_symbol" type="xs:string" />
        <xs:element name="default_price" type="xs:anyType" />
        <xs:element name="updated_price" type="xs:anyType" />
        <xs:element name="default_last_trade" type="xs:anyType" />
        <xs:element name="updated_last_trade" type="xs:anyType" />
        <xs:element name="GeneratedName" type="quoterepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quotemapper" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quoteservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="quotequeryservice" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="pageableargumentresolver" type="xs:anyType" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="em" type="xs:anyType" />
        <xs:element name="restquote" type="xs:anyType" />
        <xs:element name="GeneratedName" type="quote" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testutil" >
      <xs:complexContent>
       <xs:extension base="typesafediagnosingmatcher<string>">
         <xs:sequence>
          <xs:element name="/***forjsonutf8*/application_json_utf8" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="exceptiontranslatorinttest" >
      <xs:sequence>
        <xs:element name="controller" type="exceptiontranslatortestcontroller" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="exceptiontranslator" nillable="true" minOccurs="0" />
        <xs:element name="jacksonmessageconverter" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="exceptiontranslatortestcontroller" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="paginationutilunittest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logsresourceinttest" >
      <xs:sequence>
        <xs:element name="restlogs" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurertest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="webconfigurer" nillable="true" minOccurs="0" />
        <xs:element name="servletcontext" type="xs:anyType" />
        <xs:element name="env" type="xs:anyType" />
        <xs:element name="props" type="xs:anyType" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webconfigurertestcontroller" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="securitybeanoverrideconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bootstrap" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 