tutoriales55/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springcontexttest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceroutingintegrationtest" >
      <xs:sequence>
        <xs:element name="routing" type="xs:anyType" />
        <xs:element name="GeneratedName" type="clientservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="datasourceroutingtestconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencetestsuite" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foopaginationpersistenceintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicesortingwitnullsmanualintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="service" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicesortingintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="fooservicepersistenceintegrationtest" >
      <xs:sequence>
        <xs:element name="service" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="inmemorydbintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentrepository" nillable="true" minOccurs="0" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="advancedtaggingintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="studentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="manystudentrepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="manytagrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytomanytestconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manytomanyintegrationtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getautogenkeybyjdbc" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="messagerepositorysimplejdbcinsert" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="messagerepositoryjdbctemplate" nillable="true" minOccurs="0" />
        <xs:element name="message_content" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="db" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-student" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dsrouting-db" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="person" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="creator" type="user" nillable="true" minOccurs="0" />
        <xs:element name="modifier" type="user" nillable="true" minOccurs="0" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="modifiedat" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="myutilityrepository" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="personrepository" >
      <xs:complexContent>
       <xs:extension base="myutilityrepository<person,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="clientdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdatabasecontextholder" >
      <xs:sequence>
        <xs:element name="context" type="clientdatabase" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdao" >
      <xs:sequence>
        <xs:element name="sql_get_client_name" type="xs:string" />
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="rowmapper" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="clientdatasourcerouter" >
      <xs:complexContent>
       <xs:extension base="abstractroutingdatasource">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="clientdatabase" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manystudentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<manystudent,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytagrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<manytag,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<student,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manytag" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="students" type="manystudent" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="locationtag" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="xpos" type="xs:long" />
        <xs:element name="ypos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="kvtag" >
      <xs:sequence>
        <xs:element name="key" type="xs:string" />
        <xs:element name="value" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="tags" type="xs:anyType" />
        <xs:element name="skilltags" type="skilltag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="kvtags" type="kvtag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="skilltag" >
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="value" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="manystudent" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="manytags" type="manytag" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="country" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseratingkey" >
      <xs:sequence>
        <xs:element name="studentid" type="xs:long" />
        <xs:element name="courseid" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courserating" >
      <xs:sequence>
        <xs:element name="id" type="courseratingkey" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="student" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="course" nillable="true" minOccurs="0" />
        <xs:element name="rating" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="student" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="likedcourses" type="course" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ratings" type="courserating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="registrations" type="courseregistration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="course" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="likes" type="student" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="ratings" type="courserating" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="registrations" type="courseregistration" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="courseregistration" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="GeneratedName" type="student" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="course" nillable="true" minOccurs="0" />
        <xs:element name="registeredat" type="xs:anyType" />
        <xs:element name="grade" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="maincontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="fooservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="possession" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="age" type="xs:long" />
        <xs:element name="possessionlist" type="possession" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="foo" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="GeneratedName" type="bar" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bar" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="foolist" type="foo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="author" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ifoodao" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookrepositoryimpl" >
      <xs:sequence>
        <xs:element name="em" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookrepositorycustom" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookspecifications" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="abstractjpadao" >
      <xs:complexContent>
       <xs:extension base="serializable>">
         <xs:sequence>
          <xs:element name="clazz" type="xs:anyType" />
          <xs:element name="" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="bookrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="foodao" >
      <xs:complexContent>
       <xs:extension base="abstractjpadao<foo>">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="fooservice" >
      <xs:sequence>
        <xs:element name="dao" type="ifoodao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepositoryjdbctemplate" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="insert_message_sql" type="xs:string" />
        <xs:element name="select_by_id" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="messagerepositorysimplejdbcinsert" >
      <xs:sequence>
        <xs:element name="messageinsert" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistenceconfig" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="webinitializer" >
      <xs:complexContent>
       <xs:extension base="abstractannotationconfigdispatcherservletinitializer">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="persistencejpaconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistencejpaconfigxml" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="springwebconfig" >
      <xs:complexContent>
       <xs:extension base="webmvcconfigureradapter">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="studentjpaconfig" >
      <xs:sequence>
        <xs:element name="env" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence-student" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="server" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="autogenkey-schema" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="logback" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="sqlfiles" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 