Unit-Testing-SpringBoot-beginner-guideline/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="beanconfiguration" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentcontroller" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="bookservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="postservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todocontroller" >
      <xs:sequence>
        <xs:element name="//publicstringtest" type="todoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="author" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="author" type="user" nillable="true" minOccurs="0" />
        <xs:element name="book" type="book" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="post" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="post" type="xs:string" />
        <xs:element name="GeneratedName" type="book" nillable="true" minOccurs="0" />
        <xs:element name="comment" type="comment" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="user" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todo" >
      <xs:complexContent>
       <xs:extension base="basemodel">
         <xs:sequence>
          <xs:element name="title" type="xs:string" />
          <xs:element name="description" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="comment" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="comment" type="xs:string" />
        <xs:element name="GeneratedName" type="post" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="active" type="xs:anyType" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="role" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="book" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="author" type="author" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="GeneratedName" type="post" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="basemodel" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="createdat" type="xs:dateTime" />
        <xs:element name="createdby" type="xs:anyType" />
        <xs:element name="updat" type="xs:dateTime" />
        <xs:element name="updatedby" type="xs:anyType" />
        <xs:element name="active" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resourcenotfoundexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception">
         <xs:sequence>
          <xs:element name="resourcename" type="xs:string" />
          <xs:element name="fieldname" type="xs:string" />
          <xs:element name="fieldvalue" type="xs:anyType" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="springbootrestapplication" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="responsebuilder" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookreposity" >
      <xs:complexContent>
       <xs:extension base="jparepository<book,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="todorepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<todo,">
         <xs:sequence>
          <xs:element name="test" type="xs:string" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="postrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<post,">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="commentrepository" >
      <xs:complexContent>
       <xs:extension base="jparepository<">
         <xs:sequence>
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="todoservice" >
      <xs:sequence>
        <xs:element name="intodoservice" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="commentservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="commentrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="todoserviceimpl" >
      <xs:sequence>
        <xs:element name="root" type="xs:string" />
        <xs:element name="serviceinit" type="xs:string" />
        <xs:element name="GeneratedName" type="todorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="postservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="postrepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="bookservice" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="bookreposity" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="errorresponsedto" >
      <xs:sequence>
        <xs:element name="field" type="xs:string" />
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="response" >
      <xs:sequence>
        <xs:element name="timestamp" type="xs:long" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="statuscode" type="xs:long" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="totalcount" type="xs:long" />
        <xs:element name="numberofelements" type="xs:long" />
        <xs:element name="content" type="xs:anyType" />
        <xs:element name="errors" type="errorresponsedto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tododto" >
      <xs:sequence>
        <xs:element name="id" type="xs:long" />
        <xs:element name="title" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="event" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="test" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testservice" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="checkdefaultmessage" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="todoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="httptest" >
      <xs:sequence>
        <xs:element name="port" type="xs:long" />
        <xs:element name="//springprovidesthisresttemplate" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testingwebapplicationtests" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="todocontroller" nillable="true" minOccurs="0" />
        <xs:element name="//mockmvcmockmvc" type="todoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="todorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="repotesting" >
      <xs:sequence>
        <xs:element name="entitymanager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="todorepository" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testcontroller" >
      <xs:sequence>
        <xs:element name="//////@mockbean//todoservicetodoservice//todoserviceimpltodoservice2////@test//publicvoidtestcontrollerwithservice(){//system.out.println(todoservice2.intodoservice)////when(todoservice.greet()).thenreturn("hello,world")////try{//this..perform(get("/api/greeting")).anddo(print()).andexpect(status().isok())//.andexpect(content().string(containsstring("hello,world")))//}catch(exceptione){////todoauto-generatedcatchblock//e.printstacktrace()//}//}" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="crudtest" >
      <xs:sequence>
        <xs:element name="GeneratedName" type="xs:anyType" />
        <xs:element name="GeneratedName" type="todorepository" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="todoservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 