telegram/DomainModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="alert" >
      <xs:sequence>
        <xs:element name="market" type="xs:string" />
        <xs:element name="chatid" type="xs:string" />
        <xs:element name="value" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
</xs:schema> 