TSI-IFRN74/allClasses.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="admin-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="persistence" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negocioexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="categoriadao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="respostadao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questaodao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
        <xs:element name="GeneratedName" type="categoriadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tarefadao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roledao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userdao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoria" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="questoes" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="roli" type="role" nillable="true" minOccurs="0" />
        <xs:element name="questoes" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tarefa_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="titulo" type="xs:anyType" />
        <xs:element name="descricao" type="xs:anyType" />
        <xs:element name="status" type="xs:anyType" />
        <xs:element name="criacao" type="xs:anyType" />
        <xs:element name="edicao" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questao" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="data" type="xs:dateTime" />
        <xs:element name="GeneratedName" type="categoria" nillable="true" minOccurs="0" />
        <xs:element name="i" type="user" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="resposta" nillable="true" minOccurs="0" />
        <xs:element name="imagem" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="nome" type="xs:string" />
        <xs:element name="user" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="status" >
      <xs:sequence>
        <xs:element name="descricao" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questao_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:anyType" />
        <xs:element name="data" type="xs:anyType" />
        <xs:element name="categoria" type="xs:anyType" />
        <xs:element name="useri" type="xs:anyType" />
        <xs:element name="resposta" type="xs:anyType" />
        <xs:element name="imagem" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resposta" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="verdadeira1" type="xs:string" />
        <xs:element name="falsa1" type="xs:string" />
        <xs:element name="falsa2" type="xs:string" />
        <xs:element name="falsa3" type="xs:string" />
        <xs:element name="GeneratedName" type="questao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoria_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:anyType" />
        <xs:element name="questoes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="resposta_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="verdadeira1" type="xs:anyType" />
        <xs:element name="falsa1" type="xs:anyType" />
        <xs:element name="falsa2" type="xs:anyType" />
        <xs:element name="falsa3" type="xs:anyType" />
        <xs:element name="questao" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tarefa" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="id" type="xs:long" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="descricao" type="xs:string" />
        <xs:element name="GeneratedName" type="status" nillable="true" minOccurs="0" />
        <xs:element name="criacao" type="xs:dateTime" />
        <xs:element name="edicao" type="xs:dateTime" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="user_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="username" type="xs:anyType" />
        <xs:element name="password" type="xs:anyType" />
        <xs:element name="roli" type="xs:anyType" />
        <xs:element name="questoes" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="role_" >
      <xs:sequence>
        <xs:element name="id" type="xs:anyType" />
        <xs:element name="nome" type="xs:anyType" />
        <xs:element name="user" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="entitymanagerproducer" >
      <xs:sequence>
        <xs:element name="factory" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="facesutil" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transacionalinterceptor" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="manager" type="xs:anyType" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transacional" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriaconverter" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="testemb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="questaodao" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoriadao" nillable="true" minOccurs="0" />
        <xs:element name="questoes" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="testes" type="xs:anyType" />
        <xs:element name="selecoes" type="xs:anyType" />
        <xs:element name="mensagens" type="xs:anyType" />
        <xs:element name="pontos" type="xs:long" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listarolemb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
        <xs:element name="roles" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="roleselecionadas" type="role" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listaquestaomb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="questaoservice" nillable="true" minOccurs="0" />
        <xs:element name="questaos" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="questaoselecionadas" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listatarefamb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="tarefaservice" nillable="true" minOccurs="0" />
        <xs:element name="tarefas" type="tarefa" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tarefaselecionadas" type="tarefa" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastrocategoriamb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="categoria" nillable="true" minOccurs="0" />
        <xs:element name="idcategoria" type="xs:long" />
        <xs:element name="GeneratedName" type="categoriaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastroquestaomb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="idquestao" type="xs:long" />
        <xs:element name="GeneratedName" type="questao" nillable="true" minOccurs="0" />
        <xs:element name="//respostaresposta" type="categoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//usadopeloadmintodasquestoes" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="//usadopelouserquestoes" type="questao" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="arquivo" type="xs:anyType" />
        <xs:element name="GeneratedName" type="questaoservice" nillable="true" minOccurs="0" />
        <xs:element name="GeneratedName" type="categoriaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastrousermb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="user" nillable="true" minOccurs="0" />
        <xs:element name="iduser" type="xs:long" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listacategoriamb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="categoriaservice" nillable="true" minOccurs="0" />
        <xs:element name="categorias" type="categoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="categoriaselecionadas" type="categoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastrorolemb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="role" nillable="true" minOccurs="0" />
        <xs:element name="idrole" type="xs:long" />
        <xs:element name="GeneratedName" type="roleservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastrotarefamb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="tarefa" nillable="true" minOccurs="0" />
        <xs:element name="idtarefa" type="xs:long" />
        <xs:element name="GeneratedName" type="tarefaservice" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="listausermb" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="userservice" nillable="true" minOccurs="0" />
        <xs:element name="users" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="userselecionadas" type="user" nillable="true" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="userservice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="userdao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="roleservice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="roledao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="tarefaservice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="tarefadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="questaoservice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="questaodao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="categoriaservice" >
      <xs:sequence>
        <xs:element name="serialversionuid" type="xs:long" />
        <xs:element name="GeneratedName" type="categoriadao" nillable="true" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="negocioexception" >
      <xs:complexContent>
       <xs:extension base="runtimeexception{">
         <xs:sequence>
          <xs:element name="serialversionuid" type="xs:long" />
         </xs:sequence>
       </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="manifest" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="context" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="style" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="index" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faces-config" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="web" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="beans" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="template" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastro-tarefa" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastro-user" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastro-role" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="cadastro-categoria" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="menu-search" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="top-menu" >
      <xs:sequence>
      </xs:sequence>
   </xs:complexType>
</xs:schema> 